<div class="component-container">

  <div class="overlay-content">
    <form action="submit">
      <!-- Journey Title Field -->
      <text-field class="overlay-item" [text]="title" [width]="500" [label]="'Journey Title'" (inputChange)="title=$event" [displayPlaceholder]="false" ></text-field>

      <!-- Start Date picker -->
      <div class="overlay-item" #startDateEdit>
        <label>Start Date</label>
        <mat-form-field class="form-element"  color="accent">
          <input matInput [matDatepicker]="startPicker" [min]="minDate" [max]="maxDate" (dateChange)="dateChange($event, 'start')"
            [value]="startDate" [(ngModel)]="startDate" name="stDate" #stDate="ngModel"
            [errorStateMatcher]="errorStateMatcher" required />
          <mat-datepicker-toggle matSuffix [for]="startPicker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker color="accent" #startPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- End Date picker -->
      <div class="overlay-item" #endDateEdit>
        <label>End Date</label>
        <mat-form-field class="form-element" color="accent" title="{{ active ? 'Journey is still active' : ''}}">
          <input matInput [matDatepicker]="endPicker" [min]="minDate" [max]="maxDate" (dateChange)="dateChange($event, 'end')"
            [value]="endDate" [(ngModel)]="endDate" name="enDate" #enDate="ngModel"
            [errorStateMatcher]="errorStateMatcher" disabled="{{active}}" />
          <mat-datepicker-toggle matSuffix [for]="endPicker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker color="accent" #endPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Active Checkbox -->
      <div class="overlay-item" style="margin-left: 10px;">
        <mat-checkbox [(ngModel)]="active" color="accent" name="active" (change)="onActiveToggle($event)">Active</mat-checkbox>
      </div>

      <p class="warning-text">{{ response.message }}</p>

      <button class="submit-btn" (click)="onDataLogged()">Add Journey</button>

    </form>
    
  </div>

</div>
