input {
  color: var(--text);
}

::placeholder {
  color: #d1d1d1;
}

.component-container label {
  /* font-size: 12pt; */
}

/* .component-container input {
	padding: 5px;
} */

.component-container {
  display: flex;
  flex-direction: column;
  /* padding: 25px; */
  /* margin-right: 20px; */
  /* margin: 0 auto; */
  /* position: fixed;
  top: 35%;
  right: 35px; */
	text-align: left;
	/* width: 260px; */
}
/* 
form * {
  width: 100%;
}

.mat-input-element {
  color: var(--text);
}

.mat-form-field-empty.mat-form-field-label {
  color: white;
}

.mat-form-field-underline .mat-form-field-underline-appearance-legacy {
  background-color: white;
} */

.form-element {
  /* margin-bottom: 25px; */
  background-color: var(--element-bg);
  border-radius: 5px;
  margin-right: 0;
  padding: 8px;
}

::ng-deep .overlay-content .mat-form-field-wrapper, ::ng-deep .overlay-content .mat-form-field-infix {
  border-top: none;
  height: 100%;
  padding-bottom: 0;
}

::ng-deep .overlay-content .mat-form-field-underline, ::ng-deep .overlay-content .mat-form-field-underline .mat-form-field-ripple {
  background-color: transparent;
  height: 0;
  opacity: 0;
}

::ng-deep .overlay-content .mat-form-field-infix {
  padding-left: 10px;
}

::ng-deep .overlay-content .mat-form-field-suffix {
  /* padding-right: 10px; */
}

::ng-deep .overlay-content .mat-form-field-disabled .mat-form-field-underline {
  background: none;
}

.overlay-content {
  /* margin: 0 auto; */
  /* width: 350px; */
  padding: 10px 15px;
  height: 100%;
}

.overlay-content .submit-btn {
  margin-bottom: 0;
}

.overlay-item {
  margin: 20px 0;
  display: grid;
  text-align: left;
}

.overlay-item label {
  color: var(--titles-secondary);
  margin-bottom: 5px;
  font-size: 11pt;
}

.overlay-item mat-checkbox {
  margin-top: 15px;
}


mat-checkbox {
  /* margin-bottom: 25px; */
}

.warning-text {
  color: var(--warn);
  text-align: center;
}

.text-input {
  border: none;
  border-bottom: 1px solid #807e7eda;
  margin: 25px 0px;
  /* margin-top: 25px; */
  padding-bottom: 10px;
  width: 99%;
  background-color: var(--element-bg);

}

.submit-btn {
  margin: auto;
  /* margin-left: 11px; */
  margin-top: 70px;
  /* min-width: 100%; */
}