.toast-list {
  position: fixed;
  bottom: 20px;
  right: 25px;

  display: flex;
  flex-direction: column;
  z-index: 15;
}

.notif-container {
  border-radius: 15px;
  background-color: var(--bg);
  box-shadow: var(--shadow-tooltip);
  width: 400px;
  height: 85px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  margin-top: 20px;
  z-index: 15;
  transform-origin: bottom;
  animation: view-toast 0.15s linear;
}

.notif-container.warn {
  background-color: var(--warn);
}

.notif-container.valid {
  background-color: var(--valid);
}

.notif-container .header {
  display: flex;
}

.notif-container .header mat-icon {
  color: var(--text);
  font-size: 1.5em;
  float: right;
  cursor: pointer;
}

.notif-container.warn .header mat-icon,
.notif-container.valid .header mat-icon {
  color: #ffffff;
}

.notif-container p {
  margin: 0;
  color: var(--text);
  line-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.notif-container.warn p,
.notif-container.valid p {
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .toast-list {
    position: fixed;
    /* top: calc(5vh + 15px); */
    left: 0;
    right: 0;
    bottom: calc(var(--header-height) + 15px);
    text-align: center;
    height: 0;
  }

  .notif-container {
    width: 85%;
    height: 70px;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: bottom;
  }
}

@keyframes view-toast {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}