.journey-container {
  --spanning-line-height: 40px;
}

.view-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.spanning-content {
  /* margin: 15px 20px; */
  border-bottom: 1px solid var(--titles-secondary);
  padding-bottom: 15px;
  height: var(--spanning-line-height);
}

.spanning-content h2 {
  color: var(--titles-primary);
  margin: 0;
  line-height: var(--spanning-line-height);
}

.add-btn {
  /* font-size: 11pt; */
  line-height: var(--spanning-line-height);
  border-radius: 20px;
  /* min-width: 100px; */
  border: 1px solid var(--accent);
  background: var(--accent);
  padding: 2px 20px;
  /* padding-left: 25px; */
  font-weight: 500;
  cursor: pointer;
  display: flex;
  margin-left: 20px;
}

.add-btn.active mat-icon, .add-btn.add-btn.active p {
  color: var(--bg);
}

.add-btn p {
  /* font-size: 11pt; */
  line-height: 30px;
  font-weight: 500;
  color: var(--text);
  margin: 0;
  margin-right: 8px;
}

.add-btn mat-icon {
  line-height: 30px;
  color: var(--text);
  /* margin-left: 8px; */
  font-weight: 500;
  font-size: 16pt;
}

.add-btn:hover mat-icon, .add-btn:hover p {
  color: var(--bg);
}

button.add-btn:disabled {
  background-color: var(--disabled-bg);
  border: 1px solid var(--disabled-bg);
  opacity: 0.2;
  cursor: default;
}

mat-drawer-container {
  background: none;
  min-height: 94vh;
}

mat-drawer {
  min-width: 350px;
  background-color: var(--element-bg-primary);
}

.mat-drawer-inner-container {
  position: relative;
}

.journey-container {
  text-align: center;
}

.journey-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  justify-items: center;
  margin-top: 10px;
}

.journey-item {
  grid-column-start: auto;
  grid-row-start: auto;
  margin: 20px;
  /* min-width: 18em; */
  /* min-height: 100px; */
}

slider-container {
  height: 94%;
  display: flex;
}

slider-container .journey-item {
  opacity: 0.7;
  transition: all 0.3s ease-in;
  border-radius: 25px;
  pointer-events: none;
}

slider-container .journey-item.current {
  transform: scale(1.15);
  z-index: 5;
  opacity: 1;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  pointer-events: inherit;
}

slider-container app-rect-item.journey-item.current .container {
  box-shadow: var(--shadow-clickable);
  color: red;
}

@media screen and (max-width: 768px) {
  .spanning-content {
    padding-bottom: 10px;
  }
  
  .journey-container {
    margin: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .journey-item {
    margin: 0;
  }
}