:root {
  --rowNum: 4;
  --colNum: 5;
  --gridHeight: 120px;
  --wrapperH: 40px;
}

mat-drawer-container {
  background: none;
  min-height: 94vh;
}

mat-drawer {
  min-width: 400px;
  background-color: var(--primary-dark);
}

.mat-drawer-inner-container {
  position: relative;
}

.journey-container {
  text-align: center;
  /* height: 100%; */
}

.journey-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  /* margin: 25px 25px; */
  /* height: 80%; */
}

.journey-item {
  grid-column-start: auto;
  grid-row-start: auto;
  margin: 20px;
  min-width: 100px;
  min-height: 100px;
}
