.journey-container {
  --spanning-line-height: 40px;
}

.view-container {
  max-width: 1200px;
  margin: 0 auto;
}

.spanning-content {
  margin: 15px 20px;
  border-bottom: 1px solid var(--titles-secondary-dark);
  padding-bottom: 25px;
  height: var(--spanning-line-height);
}

.spanning-content h2 {
  color: var(--titles-primary-dark);
  margin: 0;
  line-height: var(--spanning-line-height);
}

.add-btn {
  font-size: 11pt;
  line-height: var(--spanning-line-height);
  border-radius: 20px;
  min-width: 100px;
  border: 1px solid var(--accent-dark);
  background: var(--accent-dark);
  padding: 2px 20px;
  padding-left: 25px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  margin-left: 20px;
}

.add-btn.disabled {
  opacity: 0.5;
}

.add-btn p {
  font-size: 11pt;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-dark);
  margin: 0;
}

.add-btn mat-icon {
  line-height: 30px;
  color: var(--text-dark);
  margin-left: 10px;
  font-weight: 500;
  font-size: 16pt;
}

/* .add-btn:hover {
  background-color: var(--accent-dark);
} */

.add-btn:hover mat-icon, .add-btn:hover p {
  color: var(--background-dark);
}

mat-drawer-container {
  background: none;
  min-height: 94vh;
}

mat-drawer {
  min-width: 350px;
  background-color: var(--primary-dark);
}

.mat-drawer-inner-container {
  position: relative;
}

.journey-container {
  text-align: center;
  /* height: 100%; */
}

.journey-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  /* margin: 25px 25px; */
  /* height: 80%; */
}

.journey-item {
  grid-column-start: auto;
  grid-row-start: auto;
  margin: 20px;
  min-width: 100px;
  min-height: 100px;
}
