<div class="view-container journey-container">
	<mat-drawer-container hasBackdrop="unset" >
		<div class="journey-grid">
			<app-rect-item 
				[type]="'add'"
				class="journey-item"
				(click)="displayJourneyDrawer()">
			</app-rect-item>
			<app-rect-item 
				class="journey-item"
				*ngFor="let journey of userStore.journeys | async;"
				[linkedJourney]="journey"
				(click)="loadJourney(journey.id)"
				(editButtonPressed)="onEditButtonPressed($event)"
			>
			</app-rect-item>
		</div>

		<mat-drawer
			position="end"
			[(opened)]="displayDrawer"
			[fixedInViewport]="true"
			mode="side"
		>
			<journey-input (newDataLogged)="onNewDataLogged($event)" [journey]="currJourney"></journey-input>
		</mat-drawer>
	</mat-drawer-container>
</div>