<mat-drawer-container hasBackdrop="unset" >
	<div class="view-container journey-container">
			<div class="spanning-content">
				<h2>Journeys</h2>
				<div class="spacer"></div>
				<button class="{{selectionMode ? 'add-btn active' : 'add-btn'}}" title="Toggle journey selection" (click)="activateSelectionMode()" >
					<p>{{selectionMode ? 'Done' : 'Remove'}}</p>
					<mat-icon [inline]="true" aria-hidden="false" aria-label="Select journey icon">delete</mat-icon>
				</button>
				<button class="add-btn" title="Add journey" (click)="displayJourneyDrawer()" [disabled]="selectionMode">
					<p>Add</p>
					<mat-icon [inline]="true" aria-hidden="false" aria-label="Add journey icon" >add</mat-icon>
				</button>
			</div>
			<div class="journey-grid">
				<a *ngFor="let journey of userStore.journeys | async;" href="" [routerLink]="selectionMode ? [] : ['/journeys', journey.id]" (click)="deleteButton ? removeJourney(journey) : ''" style="text-decoration: none;">
					<app-rect-item
						class="journey-item"
						[linkedJourney]="journey"
						(deleteButtonPressed)="onDeleteButtonPressed($event)"
						title="{{!selectionMode ? 'View journey' : ''}}"
						[selectionMode]="selectionMode"
					>
					</app-rect-item>
				</a>
			</div>
	</div>

	<mat-drawer
		position="end"
		[(opened)]="displayDrawer"
		[fixedInViewport]="true"
		mode="side">
		<journey-input (newDataLogged)="onNewDataLogged($event)" [journey]="currJourney"></journey-input>
	</mat-drawer>
</mat-drawer-container>
