<div class="component-container">
  <h3>Job Application Details</h3>
  <input class="text-input" type="text" [(ngModel)]="appDetails.title" placeholder="{{appDetails.title}}" />
    <!-- <mat-error *ngIf="invalidTitle">Title cannot be empty.</mat-error> -->
  <input class="text-input" type="text" [(ngModel)]="appDetails.company" placeholder="{{appDetails.company}}" />
  <!-- <div class="menu"> -->

  <mat-form-field>
    <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" [(ngModel)]="startDate"
    (dateChange)="onDateChange($event)" placeholder="Date Applied" style="width: 250px;" />
      <!-- placeholder="{{startDate.getMonth() + 1}}/{{startDate.getDate()}}/{{startDate.getFullYear()}}" style="width: 250px;" -->
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker color="primary" [startAt]="startDate" #picker></mat-datepicker>
  </mat-form-field>
  <!-- </div> -->
  
  <div>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select color="primary" [(ngModel)]="appDetails.status">
        <mat-option *ngFor="let status of statuses" [value]="status.value">
          {{status.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <label for="">Status: &nbsp; {{status}}</label>
    <button mat-button [matMenuTriggerFor]="statusmenu"><mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #statusmenu="matMenu">
      <button mat-menu-item *ngFor="let statusitem of STATUSES;" (click)="setStatus(statusitem)">{{statusitem}}</button>
    </mat-menu> -->
  </div>

  <div>
    <mat-form-field>
      <mat-label>Applied via</mat-label>
      <mat-select color="primary" [(ngModel)]="appDetails.source">
        <mat-option *ngFor="let source of sources" [value]="source.value">
          {{source.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <label for="">Applied via: &nbsp; {{source}}</label>
    <button mat-button [matMenuTriggerFor]="sourcemenu"><mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #sourcemenu="matMenu">
      <button mat-menu-item *ngFor="let sourceitem of SOURCES;" (click)="setSource(sourceitem)">{{sourceitem}}</button>
    </mat-menu> -->
  </div>
  
  <div>
    <mat-form-field style="margin: auto;">
      <!-- <label>Notes</label> -->
      <textarea matInput rows="5" cols="36" placeholder="Other job details..." style="text-align: left;" [(ngModel)]="appDetails.notes"></textarea>
    </mat-form-field>
  </div>
    
  
  <button (click)="onDataLogged()" class="submit-button">Submit</button>
</div>
