label,
input,
button {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: Roboto, 'Helvetica', sans-serif;
  font-size: 11pt;
  margin: 5px 0px 0;
}

::placeholder {
  color: #d1d1d1;
}

mat-form-field {
  width: 100%;
}

mat-datepicker-toggle {
  float: right;
}

.mat-input-element {
  color: var(--text-dark);
}

.mat-form-field-empty.mat-form-field-label {
  color: white;
}

.mat-form-field-underline .mat-form-field-underline-appearance-legacy {
  background-color: white;
}

.menu {
  vertical-align: middle;
  margin: 10px auto;
  width: 100%;
}

.menu button {
  background: none;
  border: none;
  float: right;
}

.menu mat-form-field {
  width: 400px;
}

mat-form-field.mat-form-field,
mat-form-field.mat-form-field textarea {
  font-size: 11pt;
  padding: 8px;
  margin: auto;
  resize: none;
}

textarea {
  padding: 15px;
  width: 94%;
  /* margin: 5px auto; */
  resize: none;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: Roboto, 'Helvetica', sans-serif;
  
  border-radius: 5px;
  border: 1px solid rgb(43, 42, 42);
}

.component-container label {
  font-size: 12pt;
}

mat-icon.mat-icon {
  font-size: 16pt;
}

.mat-form-field-placeholder {
  padding: 20px;
}

.component-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-right: 20px;
  position: fixed;
  top: 12%;
  right: 38px;
  text-align: left;
  width: 300px;
}

.text-input {
  border: none;
  border-bottom: 1px solid #807e7eda;
  margin: 10px;
  margin-top: 25px;
  padding-bottom: 5px;
  width: 99%;
}

div.mat-form-field-flex {
  padding: 5pt;
  margin: auto;
}

.submit-button {
  margin: auto;
  margin-left: 11px;
  margin-top: 90px;
  min-width: 100%;
}

::ng-deep .component-container .mat-select-value {
  color: var(--text-dark);
}