<div class="view-container">

  <div class="search">

    <div class="spanning-content">
      <h4>Search results for "{{query}}"</h4>
      <div class="spacer"></div>
      <mat-icon (click)="clear()" title="clear search">clear</mat-icon>
    </div>
  
    <div class="results">
      <div class="result-section" *ngIf="filteredJourneys.length != 0;">
        <h3 class="result-title">Journeys</h3>
        <mat-list style="height: 100%;" class="app-list-item">
          <mat-list-item class="clickable-item" *ngFor="let journey of filteredJourneys;" (click)="viewResult('journey', journey, journey.id)">
            <mat-icon matListIcon>folder</mat-icon>

            <div *ngIf="!(rs.tabletSize$ | async); else mobileJourneyItem" matLine>
              <div class="spanning-content">
                <h4 style="text-align: left; color: var(--text);">{{journey.title}}</h4>
                <div class="spacer"></div>
                <span>Date Started: {{ journey.startDate | date }}</span>
              </div>
            </div>

            <ng-template #mobileJourneyItem>
              <div class="app-list-item" matLine>
                <div class="spanning-content">
                  <h4 style="text-align: left; color: var(--text);">{{journey.title + '  '}}</h4>
                </div>
              </div>
              <div class="app-list-item" matLine>
                <div class="spanning-content">
                  <span style="color: var(--titles-secondary);">Date Started: {{ journey.startDate | date }}</span>
                </div>
              </div>
            </ng-template>

          </mat-list-item>
        </mat-list>
      </div>
  
      <div class="result-section" *ngIf="(filteredAppsMap | keys).length != 0;">
        <h3 class="result-title">Applications</h3>
        <mat-list style="height: 100%;" class="app-list-item">
          <div *ngFor="let item of filteredAppsMap | keyvalue;">
            <mat-list-item class="clickable-item" *ngFor="let app of item.value;" (click)="viewResult('application', app, item.key)">
              <mat-icon matListIcon>folder</mat-icon>
              <div *ngIf="!(rs.tabletSize$ | async); else mobileAppItem" matLine>
                <div class="spanning-content">
                  <h4 style="text-align: left; color: var(--text);">{{ app.positionTitle + '  ' }}</h4>
                  <span style="padding-left: 10px; color: var(--titles-secondary);"> @ {{ app.companyName }}</span>
                  <div class="spacer"></div>
                  <span>Date Applied: {{ app.appDate | date }}</span>
                </div>
              </div>

              <ng-template #mobileAppItem>
                <div class="app-list-item" matLine>
                  <div class="spanning-content">
                    <h4 style="text-align: left; color: var(--text);">{{app.positionTitle + '  '}}</h4>
                  </div>
                </div>
                <div class="app-list-item" matLine>
                  <div class="spanning-content">
                    <span style="color: var(--titles-secondary);"> @ {{app.companyName}}</span>
                    <div class="spacer"></div>
                    <span>Applied: {{ app.appDate | date }}</span>
                  </div>
                </div>
              </ng-template>
            </mat-list-item>
          </div>
        </mat-list>
      </div>

      <div class="result-section" *ngIf="filteredWishlistApps.length != 0;">
        <h3 class="result-title">Wishlist Applications</h3>
        <mat-list style="height: 100%;" class="app-list-item">
          <mat-list-item class="clickable-item" *ngFor="let app of filteredWishlistApps;" (click)="viewResult('wishlist', app, app.id)">
            <mat-icon matListIcon>folder</mat-icon>
            <div matLine>
              <div *ngIf="!(rs.tabletSize$ | async); else mobileWishlistItem" class="spanning-content">
                <h4 style="text-align: left; color: var(--text);">{{ app.positionTitle + '  ' }}</h4>
                <span style="padding-left: 10px; color: var(--titles-secondary);"> @ {{ app.companyName }}</span>
                <div class="spacer"></div>
                <span>Date Added: {{ app.appDate | date }}</span>
              </div>
            </div>

            <ng-template #mobileWishlistItem>
              <div class="app-list-item" matLine>
                <div class="spanning-content">
                  <h4 style="text-align: left; color: var(--text);">{{ app.positionTitle + '  '}}</h4>
                </div>
              </div>
              <div class="app-list-item" matLine>
                <div class="spanning-content">
                  <span style="color: var(--titles-secondary);"> @ {{ app.companyName }}</span>
                  <div class="spacer"></div>
                  <span>Added: {{ app.appDate | date }}</span>
                </div>
              </div>
            </ng-template>
          </mat-list-item>
        </mat-list>
      </div>
  
      <div class="placeholder-text" 
        *ngIf="filteredJourneys.length == 0 && (filteredAppsMap | keys).length == 0 && query.length != 0">
        <h4>Looks like your search has no matching results.</h4>
      </div>
  
    </div>

  </div>

</div>
