<div class="view-container">

  <div class="search">

    <div class="spanning-content">
      <h4>Search results for "{{query}}"</h4>
      <div class="spacer"></div>
      <mat-icon (click)="clear()" title="clear search">clear</mat-icon>
    </div>
  
    <div class="results">
      <div class="result-section" *ngIf="filteredJourneys.length != 0">
        <h3 class="result-title">Journeys</h3>
        <mat-list style="height: 100%;" class="app-list-item">
          <mat-list-item class="clickable-item" *ngFor="let journey of filteredJourneys;">
            <mat-icon matListIcon>folder</mat-icon>
            <div matLine>
              <div class="spanning-content">
                <h4 style="text-align: left; color: var(--text);">{{journey.title}}</h4>
                <div class="spacer"></div>
                <span>Date Started: {{ journey.startDate | date }}</span>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
  
      <div class="result-section" *ngIf="filteredApps.length != 0">
        <h3 class="result-title">Applications</h3>
        <mat-list style="height: 100%;" class="app-list-item">
          <mat-list-item class="clickable-item" *ngFor="let app of filteredApps;">
            <mat-icon matListIcon>folder</mat-icon>
            <div matLine>
              <div class="spanning-content">
                <h4 style="text-align: left; color: var(--text);">{{app.positionTitle + '  '}}</h4>
                <span style="padding-left: 10px; color: var(--titles-secondary);"> @ {{app.companyName}}</span>
                <div class="spacer"></div>
                <span>Date Applied: {{ app.appDate | date }}</span>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
  
      <div class="placeholder-text" *ngIf="query.length != 0 && filteredJourneys.length == 0 && filteredApps.length == 0">
        <h4>Looks like your search has no matching results.</h4>
      </div>
  
    </div>

  </div>

</div>
