span {
  color: var(--text);
}

.view-container {
  max-width: 1200px;
  margin: 0 auto;
}

.centered-div {
  text-align: center;
  margin: auto;
}

.spanning-content h4 {
  text-align: left;
  color: var(--titles-primary);
}

.spanning-content mat-icon {
  color: var(--titles-primary);
  cursor: pointer;
}

.search {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
}

.results {
  margin: auto;
  margin-top: 20px;
  max-width: 100%;
}

.result-title {
  border-bottom: 0.5px solid var(--titles-secondary);
  padding: 10px;
  text-align: left;
}

.clickable-item mat-icon {
  color: var(--titles-secondary);
}

.clickable-item:hover {
  background-color: var(--element-bg);
  cursor: pointer;
}