div.container.spanning-content {
  width: 100%;
  font-size: 10pt;
  height: 1.5em;
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-bottom: 15px;
}

div.breadcrumb-item {
  height: 1.5em;
  display: flex;
  flex-direction: row;
}

.breadcrumb-item mat-icon {
  height: 1.5em;
  font-size: 16pt;
  color: var(--titles-secondary);
  margin: 0 auto;
}

.breadcrumb-text {
  font-size: 10pt;
  line-height: 1.5em;
  color: var(--titles-secondary);
  padding: 0 5px;
}

a.breadcrumb-text {
  color: #1976d2;
  text-decoration: none;
  margin: auto;
  font-size: 10pt;
  text-align: center;
}
