h2 {
  margin: 0 15px;
  display: flex;
}

span {
  color: var(--text-dark);
}

mat-drawer-container {
  background: none;
  min-height: 94vh;
  text-align: center;
  width: 100%;
}

mat-drawer-content {
  text-align: center;
  width: 100%;
}

mat-drawer {
  min-width: 400px;
  background-color: var(--primary-dark);
}

mat-icon {
  color: var(--accent-dark);
}

.mat-drawer-inner-container {
  position: relative;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background: rgba(0, 0, 0, 0.1);
}

.view-container {
  height: 100%;
  display: flex;
  text-align: center;
}

.active-icon {
  color: rgb(34, 161, 83);
  border: 1px solid black;
}

.inactive-icon {
  color: rgb(93, 94, 93);
  border: 1px solid black;
}

.spacer {
  flex: auto;
}

.fixed-span {
  width: 600px;
}

.spanning-content {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
}

.mat-line {
  flex-direction: row;
}

.details {
  text-align: left;
  max-width: 1200px;
  margin: 25px auto;
  margin-bottom: 50px;
  padding: 0 auto;
}

.placeholder-text {
  margin: auto;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  height: 200px;
  margin-top: 150px;
}

.title * {
  margin-top: auto;
  margin-bottom: auto;
  line-height: 16pt;
  height: 30px;
  font-size: 20pt;
}

.title mat-icon {
  font-size: 14pt;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.dates {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 15px;
}

.dates * {
  font-size: 12pt;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.dates h4 {
  margin-left: 10px;
}

.apps {
  margin: 20px;
  margin-top: 25px;
}

.apps h3,
h4 {
  margin: 5px 0;
}

.edit-items {
  margin: 0 10px;
}

mat-select {
  background-color: var(--titles-primary-dark);
  padding: 5px;
  border-radius: 5px;
}

::ng-deep .edit-items .mat-form-field-underline {
  display: none;
}

::ng-deep .edit-items .mat-form-field-wrapper, ::ng-deep .edit-items .mat-form-field-infix {
  padding: 0;
  border-top: none;
}

ul.filter-values {
  list-style: none;
  display: flex;
  margin: 15px;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.filter-values li {
  font-size: 11pt;
  border-radius: 5px;
  min-width: 100px;
  max-width: 260px;
  height: 20px;
  background-color: var(--titles-secondary-dark);
  padding: 5px 10px;
  line-height: 13pt;
  margin: 5px 10px;
  display: flex;
}

.filter-values li p {
  font-size: 11pt;
  color: var(--background-dark);
  line-height: 13pt;
  margin: 0;
  width: 100%;
}

.filter-values mat-icon {
  float: right;
  color: var(--background-dark);
  line-height: 13pt;
  width: 20px;
  margin-left: 10px;
}

.app-table {
  width: 100%;
  background-color: var(--background-dark);
  box-shadow: none;
}

.app-th {
  color: var(--titles-secondary-dark);
  font-size: 11pt;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(105, 104, 104, 0.637);
  margin: 0;
}

th.app-th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 15px;
}

.app-tr {
  color: var(--text-dark);
  font-size: 11pt;
  height: 70px;
  padding-bottom: 0;
}

.delete-button {
  float: right;
  color: var(--text-warn);
  cursor: pointer;
}

mat-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom-border {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(105, 104, 104, 0.637);
  margin: 0;
}

.bottom-border h2 {
  margin-left: 5px;
  font-weight: 600;
}

.options {
  padding: 0 8px;
}

.clickable-item {
  cursor: pointer;
  border-radius: 5px;
}

.clickable-item:hover {
  cursor: pointer;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.4);
  transform: scale(1.005);
}
