<breadcrumbs [data]="breadcrumbsData"></breadcrumbs>
<div class="view-container">
  <div class="main-content">
    <mat-drawer-container hasBackdrop="unset">

      <div class="details">
        <div class="title spanning-content">
          <h2 *ngIf="viewMode == 'view'; else titleEdit;" style="font-weight: 400; margin-top: 15px;">{{journey.title}} Details</h2>
          <ng-template #titleEdit>
            <text-field (inputChange)="journey.title=$event" [width]="400" [fontSize]="20" [fontColor]="'var(--titles-primary)'" [center]="false" [text]="journey.title" [displayLabel]="false"></text-field>
          </ng-template>
          <div class="spacer"></div>
          <button class="add-btn" title="Add application" (click)="openDrawer('add', null)" [disabled]="viewMode != 'view' || !journey.active">
            <p>New Application</p>
            <mat-icon [inline]="true" aria-hidden="false" aria-label="Add journey icon">add</mat-icon>
          </button>
          <button class="add-btn" title="Toggle journey selection" (click)="toggleViewMode()" [disabled]="!journey.active">
            <p>Edit Journey</p>
            <mat-icon [inline]="true" aria-hidden="false" aria-label="Select journey icon">edit</mat-icon>
          </button>
        </div>
  
        <div class="spanning-content app-header">
          <p>Applications</p>
          <div class="spacer"></div>            
        </div>
  
        <div class="apps">
          <application-list
            [journeyid]="journey.id"
            (applicationClick)="navigateToApplication($event)"
          ></application-list>
        </div>
      </div>
  
      <mat-drawer position="end" [fixedInViewport]="true" mode="side" [opened]="displayDrawer" #sidenav>
        <application-input [sidenav]="sidenav" [app]="selectedApp" [journeyId]="journey.id" (dataLogged)="updateView()">
        </application-input>
      </mat-drawer>
    </mat-drawer-container>
  </div>

  <div class="side-content">
    <div class="status">
      <div class="{{ journey.active ? 'status-toggle active' : 'status-toggle' }}" (click)="toggleJourneyActive()" title="toggle journey status">
        {{ journey.active ? 'Active' : 'Inactive' }}
      </div>
    </div>
    <div class="dates">
      <p>Start: {{ journey.startDate | date }}</p>
      <p>End: {{ journey.active ? 'Present' : journey.endDate | date }}</p>
    </div>
    <div class="filter-dropdown">
      <mat-form-field class="edit-items" floatLabel="never" color="accent">
        <mat-select color="accent" name="filterSelection" title="application filters" placeholder="Application Filters" multiple #filterElement>
          <mat-select-trigger><span>Application Filters</span></mat-select-trigger>
          <mat-optgroup *ngFor="let group of filterDropdown; let i = index;" [label]="group.name" color="accent">
            <mat-option *ngFor="let item of group.items; let j = index;" [value]="item.value"
              (onSelectionChange)="addFilter($event)" id="{{group.name}}.{{item.value}}" color="accent" #matOption>
              {{item.viewValue}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-values">
      <ul class="filter-values">
        <li *ngFor="let filterItem of filterObjects.status;">
          <p>{{filterItem}}</p>
          <div class="spacer"></div>
          <mat-icon [inline]="true" (click)="removeFilter('Status', filterItem)" style="cursor: pointer;">clear</mat-icon>
        </li>
        <li *ngFor="let filterItem of filterObjects.source;">
          <p>{{filterItem}}</p>
          <div class="spacer"></div>
          <mat-icon [inline]="true" (click)="removeFilter('Source', filterItem)" style="cursor: pointer;">clear</mat-icon>
        </li>
      </ul>
    </div>
  </div>
  
</div>
