.view-container {
  --spanning-line-height: 40px;
}

h2 {
  margin: 0 15px;
  display: flex;
}

input {
  font-family: Roboto, 'Helvetica', sans-serif;
}

span {
  color: var(--text);
}

mat-drawer-container {
  background: none;
  min-height: 94vh;
  text-align: center;
  width: 100%;
}

mat-drawer-content {
  text-align: center;
  width: 100%;
}

mat-drawer {
  min-width: 400px;
  background-color: var(--element-bg-primary);
}

mat-icon {
  color: var(--accent);
}

.spanning-content {
  margin: 5px 20px;
  height: var(--spanning-line-height);
}

.spanning-content h2 {
  margin: 0;
}

.title .status-toggle {
  border-radius: 25px;
  font-size: 12pt;
  font-weight: 500;
  padding: 0 30px;
  line-height: 30px;
  margin: 0 30px;
  color: var(--titles-secondary);
  border: 1px solid var(--titles-secondary);
  cursor: pointer;
}

.title .status-toggle.active {
  border: 1px solid var(--accent);
  color: var(--accent);
}

.edit-button {
  text-align: right;
	float: right;
}

.edit-button button {
	background: none;
	border: none;
	min-width: 35px;
  min-height: 35px;
	padding: 0;
	border-radius: 4px;
}

.edit-button button.active {
  /* background: var(--titles-secondary); */
  border: 1px solid var(--accent);
  cursor: pointer;
}

.edit-button mat-icon.mat-icon {
	text-align: center;
  max-width: 40px;
}

.form-element {
  background-color: var(--element-bg-secondary);
  border-radius: 25px;
  margin: 0px 10px;
  margin-right: 0;
  padding: 4px;
  width: 235px;
}

::ng-deep .details .mat-form-field-wrapper, ::ng-deep .details .mat-form-field-infix {
  border-top: none;
  height: 100%;
}

::ng-deep .details .mat-form-field-underline, ::ng-deep .details .mat-form-field-underline .mat-form-field-ripple {
  background-color: transparent;
  height: 0;
}

::ng-deep .details .mat-form-field-infix {
  padding: 0;
  padding-left: 10px;
}

::ng-deep .details .mat-form-field-suffix {
  padding-right: 10px;
}

::ng-deep .details .mat-form-field-suffix button.mat-icon-button {
  vertical-align: bottom;
}

::ng-deep .details .mat-form-field-disabled .mat-form-field-underline {
  background: none;
}

.dates.spanning-content h3 {
  line-height: var(--spanning-line-height);
  margin: 0;
}

.dates.spanning-content .date-val h4 {
  margin: 0;
  margin-left: 15px;
}

.dates .mat-input-element {
  color: var(--titles-secondary);
}

.date-val {
  line-height: var(--spanning-line-height);
}

.mat-drawer-inner-container {
  position: relative;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background: rgba(0, 0, 0, 0.1);
}

.view-container {
  height: 100%;
  display: flex;
  text-align: center;
}

.active-icon {
  color: rgb(34, 161, 83);
  border: 1px solid black;
}

.inactive-icon {
  color: rgb(93, 94, 93);
  border: 1px solid black;
}

.spacer {
  flex: auto;
}

.fixed-span {
  width: 600px;
}

.mat-line {
  flex-direction: row;
}

.details {
  text-align: left;
  max-width: 1200px;
  margin: 25px auto;
  margin-bottom: 50px;
  padding: 0 auto;
}

.placeholder-text {
  margin: auto;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  height: 200px;
  margin-top: 150px;
}

.title * {
  margin-top: auto;
  margin-bottom: auto;
  line-height: 16pt;
  height: 30px;
  font-size: 20pt;
}

.title mat-icon {
  font-size: 16pt;
  line-height: 20pt;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.dates {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-top: 20px;
}

.dates * {
  font-size: 12pt;
  height: 30px;
}

.apps {
  margin: 20px;
  margin-top: 15px;
}

.apps h3,
h4 {
  margin: 5px 0;
}

.edit-items {
  margin: 0;
  margin-left: 20px;
}

mat-select {
  background-color: var(--titles-primary);
  padding: 5px;
  border-radius: 5px;
}

span.mat-select-placeholder {
  padding: 5px;
}

::ng-deep .edit-items .mat-form-field-underline {
  display: none;
}

::ng-deep .edit-items .mat-form-field-wrapper, ::ng-deep .edit-items .mat-form-field-infix {
  padding: 0;
  border-top: none;
}

::ng-deep .mat-select-panel .mat-optgroup-label, ::ng-deep .mat-select-panel .mat-option, ::ng-deep mat-optgroup.mat-optgroup-label, ::ng-deep .mat-select-panel mat-option.mat-option {
  font-size: 10pt;
}

ul.filter-values {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.filter-values li {
  font-size: 11pt;
  border-radius: 5px;
  min-width: 100px;
  max-width: 260px;
  height: 20px;
  background-color: var(--titles-secondary);
  padding: 5px 10px;
  line-height: 13pt;
  margin: 5px 20px;
  margin-right: 0;
  display: flex;
}

.filter-values li p {
  font-size: 11pt;
  color: var(--bg);
  line-height: 13pt;
  margin: 0;
  width: 100%;
}

.filter-values mat-icon {
  float: right;
  color: var(--bg);
  line-height: 13pt;
  width: 20px;
  margin-left: 10px;
}

.app-table {
  width: 100%;
  background-color: var(--bg);
  box-shadow: none;
}

.app-th {
  color: var(--titles-secondary);
  font-size: 11pt;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(105, 104, 104, 0.637);
  margin: 0;
}

th.app-th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 15px;
}

.app-tr {
  color: var(--text);
  font-size: 11pt;
  height: 70px;
  padding-bottom: 0;
}

.delete-button {
  float: right;
  color: var(--warn);
  cursor: pointer;
}

mat-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom-border {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(105, 104, 104, 0.637);
  margin: 0;
}

.bottom-border h2 {
  margin-left: 5px;
  font-weight: 600;
}

.options {
  padding: 0;
  padding-left: 16px;
  display: inherit;
  vertical-align: middle;
}

button.options {
  height: 30px;
}

.options mat-icon {
  font-size: 22pt;
}

.clickable-item {
  cursor: pointer;
  border-radius: 5px;
}

.clickable-item:hover {
  cursor: pointer;
  box-shadow: var(--shadow-clickable);
  transform: scale(1.005);
}
