<div class="view-container">
  <mat-drawer-container hasBackdrop="unset">

    <div class="details">
      <div class="title spanning-content">
        <h2 *ngIf="viewMode == 'view'; else titleEdit;" style="font-weight: 400; margin-top: 15px;">{{journey.title}} Details</h2>
        <ng-template #titleEdit>
          <text-field style="margin-left: 15px;" (inputChange)="journey.title=$event" [width]="400" [height]="8" [fontSize]="20" [fontColor]="'var(--titles-primary-dark)'" [text]="journey.title" [displayLabel]="false"></text-field>
        </ng-template>
        <div class="spacer"></div>
        <div class="{{ journey.active ? 'status-toggle active' : 'status-toggle' }}" (click)="toggleJourneyActive()" title="toggle journey status">
          {{ journey.active ? 'Active' : 'Inactive' }}
        </div>
        <div class="edit-button">
          <button title="edit journey details" (click)="toggleViewMode()" #editButton>
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
      <div class="dates spanning-content">
        <h3>Start Date: </h3>
        <div class="date-val">

          <h4 *ngIf="viewMode == 'view'; else startDateEdit;">{{ journey.startDate | date }}</h4>

          <ng-template #startDateEdit>
            <mat-form-field class="form-element">
              <input matInput [matDatepicker]="startPicker" (dateChange)="updateEndDate($event)" [value]="journey.startDate" [(ngModel)]="journey.startDate" name="stDate" #stDate="ngModel" disabled/>
              <mat-datepicker-toggle matSuffix [for]="startPicker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker color="primary" disabled="false" #startPicker></mat-datepicker>
            </mat-form-field>
          </ng-template>

        </div>
        
        <div class="spacer"></div>

        <h3>End Date: </h3>
        <div class="date-val">

          <h4 *ngIf="viewMode == 'view'; else endDateEdit;">{{ journey.active ? 'Present' : journey.endDate | date }}</h4>

          <ng-template #endDateEdit>
            <mat-form-field class="form-element">
              <input matInput [matDatepicker]="endPicker" (click)="endPicker.open()" [value]="journey.endDate" [(ngModel)]="journey.endDate" name="enDate" #enDate="ngModel" disabled/>
              <mat-datepicker-toggle matSuffix [for]="endPicker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker color="primary" disabled="false" #endPicker></mat-datepicker>
            </mat-form-field>
          </ng-template>

        </div>
        
      </div>

      <div class="spanning-content" style="margin-top: 60px;">
        <h2>Applications</h2>
        <div class="spacer"></div>
        <div class="options">
          <!-- <mat-icon class="edit-items">filter_list</mat-icon> -->
          <mat-form-field class="edit-items" floatLabel="never">
            <mat-select color="primary" name="filterSelection" title="application filters" panelClass="cat-select-panel" aria-placeholder="Application Filters" placeholder="Application Filters" multiple #filterElement>
              <mat-select-trigger><span>Application Filters</span></mat-select-trigger>
              <mat-optgroup *ngFor="let group of filterDropdown; let i = index;" [label]="group.name">
                <mat-option *ngFor="let item of group.items; let j = index;" [value]="item.value"
                  (onSelectionChange)="addFilter($event)" id="{{group.name}}.{{item.value}}" #matOption>
                  {{item.viewValue}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <!-- <mat-icon class="edit-items">sort</mat-icon> -->
          <button (click)="openDrawer('add', null)" title="add application" class="edit-items">
            <mat-icon>add_box</mat-icon>
          </button>
        </div>
      </div>
      <div class="spanning-content" style="margin-top: 15px;">
        <div class="spacer"></div>
        <ul class="filter-values">
          <li *ngFor="let filterItem of filterObjects.status;">
            <p>{{filterItem}}</p>
            <mat-icon (click)="removeFilter('Status', filterItem)" style="cursor: pointer;">clear</mat-icon>
          </li>
          <li *ngFor="let filterItem of filterObjects.source;">
            <p>{{filterItem}}</p>
            <mat-icon (click)="removeFilter('Source', filterItem)" style="cursor: pointer;">clear</mat-icon>
          </li>
        </ul>
      </div>

      <div class="apps">

        <application-list
          [journeyid]="journey.id"
          (applicationClick)="openDrawer('edit', $event)"
        ></application-list>
        
      </div>
    </div>

    <mat-drawer position="end" [fixedInViewport]="true" mode="side" [opened]="displayDrawer" #sidenav>
      <application-input [sidenav]="sidenav" [app]="selectedApp" [journeyId]="journey.id" (dataLogged)="updateView()">
      </application-input>
    </mat-drawer>
  </mat-drawer-container>
</div>
