<div class="view-container journey-container">
  <!-- <mat-grid-list cols="4" rowHeight="500px" gutterSize="50px">
		<mat-grid-tile>
			<rect-item></rect-item>
		</mat-grid-tile>
		<mat-grid-tile>
			<rect-item></rect-item>
		</mat-grid-tile>
		<mat-grid-tile>
			<rect-item></rect-item>
		</mat-grid-tile>
		<mat-grid-tile>
			<rect-item></rect-item>
		</mat-grid-tile>
	</mat-grid-list> -->
  <div class="journey-grid">
    <rect-item [type]="'add'" class="journey-item"></rect-item>
    <rect-item class="journey-item"></rect-item>
    <rect-item class="journey-item"></rect-item>
    <rect-item class="journey-item"></rect-item>
    <rect-item class="journey-item"></rect-item>
    <rect-item class="journey-item"></rect-item>
  </div>

  <p>journeys works??!</p>
</div>
