.dropdown-container {
	width: 170px;
	height: 130px;
	background-color: var(--background-dark);
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	display: flex;
	vertical-align: middle;
	flex-direction: column;
	z-index: 50;
	position: fixed;
	top: 60px;
	right: 30px;
	transition: all .2s ease;
}

.dropdown-container.hidden {
	height: 0;
	opacity: 0;
}

.dropdown-container.visible {
	height: 130px;
	opacity: 1;
  transform: translateY(0);
}

ul {
	list-style: none;
	padding: 0;
	text-align: left;
	margin: 6px 5px;
	transition: all 1s ease;
}

li {
	padding: 10px;
	font-size: 11pt;
	font-weight: 100;
}

li:hover {
	background-color: var(--titles-secondary-dark);
	cursor: pointer;
}

li a {
	text-decoration: none;
	color: var(--text-dark);
}

.signout-button {
	border-top: 0.4px solid white;
}