.dropdown-container {
	width: 170px;
	height: 130px;
	background-color: var(--bg);
	border-radius: 8px;
	box-shadow: var(--shadow-overlay);
	display: flex;
	vertical-align: middle;
	flex-direction: column;
	z-index: 10;
	position: fixed;
	top: 60px;
	right: 30px;
	transition: all .2s ease;
}

.dropdown-container.hidden {
	height: 0;
	opacity: 0;
	/* display: none; */
}

.dropdown-container.visible {
	height: 130px;
	opacity: 1;
  transform: translateY(0);
	/* display: inline-block; */
}

ul {
	list-style: none;
	padding: 0;
	text-align: left;
	margin: 6px 0;
	transition: all 1s ease;
}

li {
	padding: 10px;
	font-size: 11pt;
	font-weight: 100;
}

li:hover {
	background-color: var(--titles-secondary);
	cursor: pointer;
}

li a {
	text-decoration: none;
	color: var(--text);
	display: inline-block;
	width: 100%;
}

li:hover a {
	color: var(--element-bg-primary);
	font-weight: 400;
}

.signout-button {
	border-top: 0.4px solid white;
}