button {
  background-color: var(--accent);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  padding: 0;
  cursor: pointer;
  z-index: 100;
}

button mat-icon.mat-icon {
  color: var(--bg);
  width: 40px;
  height: 40px;
  line-height: 40px;
}