::placeholder {
	color: var(--titles-secondary-dark);
}

.input-container {
  display: flex;
  flex-direction: column-reverse;
  width: 350px;
  margin: 10px auto;
}

input {
  /* width: 300px; */
  width: 92%;
  height: 18px;
  border-radius: 20px;
  padding: 16px;
  font-size: 10pt;
  border: 1px solid transparent;
  background-color: var(--secondary-dark);
  color: var(--text-dark);
  margin: 5px auto;
}

input:focus {
  border: 1px solid var(--accent-dark);
}

label {
  font-size: 11pt;
  color: var(--titles-secondary-dark);
  height: 1.5em;
  padding-left: 10px;
}

input:focus + label {
  color: var(--accent-dark);
}

input:focus::placeholder {
	color: var(--accent-dark);
}
