::placeholder {
	color: var(--titles-secondary);
}

.input-container {
  display: flex;
  flex-direction: column-reverse;
  max-width: 350px;
  /* min-width: 50px; */
  margin: auto 0;
}

.input-container.center {
  margin: auto;
}

.input-container div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;

  border-radius: 5px;
  border: 1.5px solid transparent;
  background-color: var(--element-bg-secondary);
}

.input-container.center div {
  margin: 0 auto;
}

.input-container input {
  font-size: 10pt;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: var(--text);
  
  padding: 8px 10px;
}

.input-container div.updated {
  border: 1.5px solid var(--valid);
}

.input-container mat-icon {
  color: var(--titles-secondary);
  cursor: pointer;
  margin-right: 14px;
}

.input-container div:focus-within {
  border: 1.5px solid var(--accent);
}

.input-container div:focus-within mat-icon {
  color: var(--accent);
}

.input-container label {
  font-size: 11pt;
  color: var(--titles-secondary);
  height: 11pt;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 300;
}

.input-container div:focus-within + label {
  color: var(--accent);
}

.input-container input:focus::placeholder {
	color: var(--accent);
}

p.warning-text {
  margin: 0;
  margin-top: 8px;
  padding-left: 10px;
  font-size: 10pt;
  text-align: left;
}