.signup-container {
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.signup-container h2 {
  text-align: center;
  color: var(--titles-secondary-dark);
  margin: 20px 0;
  margin-bottom: 30px;
}

p.warning-text {
  text-align: center;
  font-size: 10pt;
  max-width: 100%;
  margin-bottom: 0;
}