.container {
  height: 100%;
  display: flex;
  overflow: auto;
  background-color: var(--accent-hover);
}

div.signup-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 0 30px;
  
  background: var(--bg);
  border-radius: 15px;
  box-shadow: var(--shadow-auth-element);
  position: relative;
}

.signup-container * {
  /* min-width: 100%; */
}

.signup-container h2 {
  text-align: left;
  color: var(--accent);
  margin: 20px 0;
  margin-bottom: 70px;
}

p.warning-text {
  text-align: center;
  max-width: 100%;
  margin-bottom: 0;
}

.signup-container text-field {
  width: 100%;
  margin-bottom: 20px;
}

.password-requirements {
  position: absolute;
  background: var(--bg-secondary);
  bottom: 0;
  left: 105%;
  min-width: 225px;
  border-radius: 10px;
  box-shadow: var(--shadow-auth-element);
  text-align: left;
  padding: 15px 20px;
}

.password-requirements p {
  margin-top: 0;
  margin-bottom: 5px;
}

.password-requirements ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.password-requirements li {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.password-requirements li mat-icon {
  margin-right: 5px;
  min-width: auto;
}

.password-requirements li mat-icon.valid {
  color: var(--valid);
  animation: 0.5s icon-pulse ease-in;
}

@keyframes icon-pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.10);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 900px) {
  .password-requirements {
    position: unset;
    min-width: auto;
    text-align: left;
    padding: 0 20px;
    box-shadow: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-top: 10px;
  }

  div.signup-container {
    width: 90%;
    background: none;
    box-shadow: none;
  }

  .signup-container h2 {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 360px) {
  div.signup-container {
    width: 100%;
  }
}