<table mat-table [dataSource]="dataSource" matSort class="app-table" #table>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef class="app-th">
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()" color="accent">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" color="accent">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Title Column -->
  <ng-container matColumnDef="positionTitle">
    <th mat-header-cell *matHeaderCellDef class="app-th" mat-sort-header="positionTitle" style="padding-left: 10px;"> Position </th>
    <td mat-cell *matCellDef="let element" class="app-tr" style="padding: 0 10px;">
      <div *ngIf="!(rs.tabletSize$ | async); else mobilePositionCell">
        {{element.positionTitle}}
      </div>
      <ng-template #mobilePositionCell>
        <div>
          <div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 120px;">{{element.positionTitle}}</div>
          <div style="color: var(--titles-secondary); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90px;">@ {{element.companyName}}</div>
        </div>
      </ng-template>
    </td>    
  </ng-container>

  <!-- Company Name Column -->
  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef class="app-th" mat-sort-header="companyName"> Company </th>
    <td mat-cell *matCellDef="let element" class="app-tr"> {{element.companyName}} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="appDate">
    <th mat-header-cell *matHeaderCellDef class="app-th" mat-sort-header> Date Applied </th>
    <td mat-cell *matCellDef="let element" class="app-tr">
      <div *ngIf="!(rs.tabletSize$ | async); else mobilePositionCell">
        {{ element.appDate | date}}
      </div>
      <ng-template #mobilePositionCell>
        <div>
          {{element.appDate | date:'MMM yyyy'}}
        </div>
      </ng-template>
    </td>    
  </ng-container>

  <!-- Source Column -->
  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef class="app-th" mat-sort-header> Applied Via </th>
    <td mat-cell *matCellDef="let element" class="app-tr"> {{element.source}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef class="app-th" mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element" class="app-tr"> {{element.status}} </td>
  </ng-container>

  <!-- Remove Column -->
  <ng-container matColumnDef="remove">
    <th mat-header-cell *matHeaderCellDef class="app-th">
      <mat-icon class="delete-button" *ngIf="selection.hasValue()" (click)="removeApplications(selection.selected)"
        title="remove selected applications">delete</mat-icon>
    </th>
    <td mat-cell *matCellDef="let element" class="app-tr">
      <mat-icon class="delete-button" *ngIf="selection.isSelected(element)" (click)="removeApplications([element])"
        title="remove application">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="(rs.tabletSize$ | async) ? displayedColumnsMobile : displayedColumnsDefault"></tr>
  <tr mat-row *matRowDef="let row; columns: ((rs.tabletSize$ | async) ? displayedColumnsMobile : displayedColumnsDefault);" (click)="onApplicationClick(row)" class="clickable-item">
  </tr>
</table>

<div *ngIf="applications.length != 0 && dataSource.data.length == 0" class="placeholder-text">
  <p>Applied filters do not match any applications.</p>
</div>

<div *ngIf="applications.length == 0" class="placeholder-text">
  <p>Add applications to track them here.</p>
  <img src="/assets/placeholder_tumble.svg" alt="no journeys" title="tumbling weeds of nothingness">
</div>
