<breadcrumbs [data]="breadcrumbsData"></breadcrumbs>
<div class="view-container">
  <div class="main-content">
      <div class="details">
        <div class="title spanning-content">
          <p style="font-weight: 400; color: var(--accent); font-size: 1.5em;">{{journey.title}} details</p>
          <div class="spacer"></div>
          <button class="add-btn" title="Add application" (click)="addApplication()" [disabled]="viewMode != 'view' || !journey.active">
            <p *ngIf="!(rs.tabletSize$ | async)">New Application</p>
            <mat-icon [inline]="true" aria-hidden="false" aria-label="Add journey icon">add</mat-icon>
          </button>
          <button class="add-btn" title="Edit journey" (click)="showEditOverlay()">
            <p *ngIf="!(rs.tabletSize$ | async)">Edit Journey</p>
            <mat-icon [inline]="true" aria-hidden="false" aria-label="Edit journey icon">edit</mat-icon>
          </button>
        </div>
  
        <div class="spanning-content app-header">
          <p>Applications</p>
          <div class="spacer"></div>
          <mat-icon *ngIf="(rs.tabletSize$ | async)" style="font-size: 2em; color: var(--titles-secondary); cursor: pointer;" (click)="displayFilterOverlay=true">filter_list</mat-icon>    
        </div>
      </div>
  
      <div class="apps">
        <application-list
          [journeyid]="journey.id"
          (applicationClick)="navigateToApplication($event)"
        ></application-list>
      </div>

      <div *ngIf="rs.tabletSize$ | async" style="margin-top: 50px;">
        <div class="spanning-content app-header">
          <p>Details</p>
          <div class="spacer"></div>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Edit journey icon" style="font-size: 2em; color: var(--titles-secondary); cursor: pointer;" (click)="showEditOverlay()">edit</mat-icon>
        </div>

        <div class="detail-item">
          <p>Status:</p>
          <div class="spacer"></div>
          <div class="status" style="width: 120px;">
            <div class="{{ journey.active ? 'status-toggle active' : 'status-toggle' }}" title="journey status">
              {{ journey.active ? 'Active' : 'Inactive' }}
            </div>
          </div>
        </div>

        <div class="dates detail-item">
          <p>Start Date:</p>
          <div class="spacer"></div>
          <p style="margin-right: 10px;">{{ journey.startDate | date }}</p>
        </div>

        <div class="dates detail-item">
          <p>End Date:</p>
          <div class="spacer"></div>
          <p style="margin-right: 10px;">{{ journey.active ? 'Present' : journey.endDate | date }}</p>
        </div>
        
      </div>
  </div>

  <div class="side-content" *ngIf="!(rs.tabletSize$ | async)">
    <div class="status">
      <div class="{{ journey.active ? 'status-toggle active' : 'status-toggle' }}" title="journey status">
        {{ journey.active ? 'Active' : 'Inactive' }}
      </div>
    </div>
    <div class="dates">
      <p>Start: {{ journey.startDate | date }}</p>
      <p>End: {{ journey.active ? 'Present' : journey.endDate | date }}</p>
    </div>

    <div class="filter-dropdown">
      <mat-form-field class="edit-items" floatLabel="never" color="accent">
        <mat-select color="accent" name="filterSelection" title="application filters" placeholder="Status Filters" multiple #filterElement>
          <mat-select-trigger><span>Status Filters</span></mat-select-trigger>
          <mat-option *ngFor="let item of statusFilterDropdown; let j = index;" [value]="item.value"
            (onSelectionChange)="addFilter($event, 'Status')" id="Status.{{item.value}}" color="accent" #matOption>
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-values">
      <ul class="filter-values">
        <li *ngFor="let filterItem of filterObjects.status;">
          <p>{{filterItem}}</p>
          <div class="spacer"></div>
          <mat-icon [inline]="true" (click)="removeFilter('Status', filterItem)" style="cursor: pointer;">clear</mat-icon>
        </li>
      </ul>
    </div>

    <div class="filter-dropdown">
      <mat-form-field class="edit-items" floatLabel="never" color="accent">
        <mat-select color="accent" name="filterSelection" title="application filters" placeholder="Source Filters" multiple #filterElement>
          <mat-select-trigger><span>Source Filters</span></mat-select-trigger>
          <mat-option *ngFor="let item of sourceFilterDropdown; let j = index;" [value]="item.value"
            (onSelectionChange)="addFilter($event, 'Source')" id="Source.{{item.value}}" color="accent" #matOption>
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-values">
      <ul class="filter-values">
        <li *ngFor="let filterItem of filterObjects.source;">
          <p>{{filterItem}}</p>
          <div class="spacer"></div>
          <mat-icon [inline]="true" (click)="removeFilter('Source', filterItem)" style="cursor: pointer;">clear</mat-icon>
        </li>
      </ul>
    </div>

  </div>


  <!-- Conditional overlays -->
  <app-overlay *ngIf="displayEditOverlay" (closeOverlay)="displayEditOverlay=false" [title]="'Edit journey details'">
    <div class="overlay-content">
      <text-field class="overlay-item" [text]="currJourneyDetails.title" [width]="500" [label]="'Journey Title'" (inputChange)="currJourneyDetails.title=$event"></text-field>
  
      <div class="overlay-item" #startDateEdit>
        <label>Start Date</label>
        <mat-form-field class="form-element"  color="accent">
          <input matInput [matDatepicker]="startPicker" [(ngModel)]="currJourneyDetails.startDate" name="stDate" #stDate="ngModel" disabled/>
          <mat-datepicker-toggle matSuffix [for]="startPicker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker color="accent" disabled="false" #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
  
      <div class="overlay-item" #endDateEdit>
        <label>End Date</label>
        <mat-form-field class="form-element" color="accent">
          <input matInput [matDatepicker]="endPicker" (click)="endPicker.open()" [(ngModel)]="currJourneyDetails.endDate" (dateChange)="updateEndDate($event)" name="enDate" #enDate="ngModel" disabled/>
          <mat-datepicker-toggle matSuffix [for]="endPicker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker color="accent" disabled="false" #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
  
      <div class="overlay-item" style="margin-left: 10px;">
        <mat-checkbox [ngModel]="currJourneyDetails.active" (change)="toggleJourneyActive()" color="accent" name="active">Active</mat-checkbox>
      </div>
  
      <button class="submit-button" (click)="saveJourneyUpdates()">Save Changes</button>
    </div>
  </app-overlay>
  
  <app-overlay *ngIf="(rs.tabletSize$ | async) && displayFilterOverlay" (closeOverlay)="displayFilterOverlay=false" [title]="'Application filters'">
    <div class="filter-dropdown">
      <mat-form-field class="edit-items" floatLabel="never" color="accent">
        <mat-select color="accent" name="filterSelection" title="application filters" placeholder="Status Filters" multiple #filterElement>
          <mat-select-trigger><span>Status Filters</span></mat-select-trigger>
          <mat-option *ngFor="let item of statusFilterDropdown; let j = index;" [value]="item.value"
            (onSelectionChange)="addFilter($event, 'Status')" id="Status.{{item.value}}" color="accent" #matOption>
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-values">
      <ul class="filter-values">
        <li *ngFor="let filterItem of filterObjects.status;">
          <p>{{filterItem}}</p>
          <div class="spacer"></div>
          <mat-icon [inline]="true" (click)="removeFilter('Status', filterItem)" style="cursor: pointer;">clear</mat-icon>
        </li>
      </ul>
    </div>
  
    <div style="border-bottom: 1px solid #909ca869; margin: 20px 15px;"></div>
  
    <div class="filter-dropdown">
      <mat-form-field class="edit-items" floatLabel="never" color="accent">
        <mat-select color="accent" name="filterSelection" title="application filters" placeholder="Source Filters" multiple #filterElement>
          <mat-select-trigger><span>Source Filters</span></mat-select-trigger>
          <mat-option *ngFor="let item of sourceFilterDropdown; let j = index;" [value]="item.value"
            (onSelectionChange)="addFilter($event, 'Source')" id="Source.{{item.value}}" color="accent" #matOption>
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-values">
      <ul class="filter-values">
        <li *ngFor="let filterItem of filterObjects.source;">
          <p>{{filterItem}}</p>
          <div class="spacer"></div>
          <mat-icon [inline]="true" (click)="removeFilter('Source', filterItem)" style="cursor: pointer;">clear</mat-icon>
        </li>
      </ul>
    </div>
  </app-overlay>
</div>

