.view-container, app-overlay {
  --spanning-line-height: 40px;
  --app-header-height: 25px;
  display: grid;
  grid-template-columns: 80% 20%;
  max-width: 1400px;
  margin: 0 auto;
}

.main-content {
  width: 80%;
  margin: 25px auto;
  padding: 0 10px;
}

.side-content {
  width: 20%;
  margin: 25px 20px;
}

h2 {
  margin: 0 15px;
  display: flex;
}

input {
  /* font-family: Roboto, 'Helvetica', sans-serif; */
}

span {
  color: var(--text);
}

mat-drawer-container {
  background: none;
  min-height: 94vh;
  text-align: center;
  width: 100%;
}

mat-drawer-content {
  text-align: center;
  width: 100%;
}

mat-drawer {
  min-width: 400px;
  background-color: var(--element-bg-primary);
}

mat-icon {
  color: var(--accent);
}

.spanning-content {
  margin: 5px 0px;
  height: var(--spanning-line-height);
  border-bottom: 1px solid var(--text);
  padding-bottom: 10px;
  margin-bottom: 0;
}

.spanning-content h2 {
  margin: 0;
}

.status-toggle {
  border-radius: 5px;
  font-size: 12pt;
  font-weight: 500;
  padding: 0 30px;
  line-height: 30px;
  color: var(--titles-secondary);
  border: 1px solid var(--titles-secondary);
}

.status-toggle.active {
  border: 1px solid var(--valid);
  color: var(--valid);
}

.edit-button {
  text-align: right;
	float: right;
}

.edit-button button {
	background: none;
	border: none;
	min-width: 35px;
  min-height: 35px;
	padding: 0;
	border-radius: 4px;
}

.edit-button button.active {
  border: 1px solid var(--accent);
  cursor: pointer;
}

.edit-button mat-icon.mat-icon {
	text-align: center;
  max-width: 40px;
}

.add-btn {
  font-size: 11pt;
  padding-left: 15px;
}

.add-btn p {
  font-size: 11pt;
  margin: auto 0;
}

.add-btn mat-icon {
  margin-left: 10px;
  line-height: 30px;
  color: var(--text);
  /* margin-left: 8px; */
  font-weight: 500;
  font-size: 16pt;
}

.add-btn:hover mat-icon, .add-btn:hover p {
  color: var(--bg);
}

button.add-btn:disabled mat-icon, button.add-btn:disabled p {
  color: var(--text);
}

.filter-dropdown mat-form-field.edit-items {
  margin: 0;
  width: 100%;
}

.form-element {
  background-color: var(--element-bg-secondary);
  border-radius: 5px;
  margin-right: 0;
  padding: 8px;
}

::ng-deep .overlay-content .mat-form-field-wrapper, ::ng-deep .overlay-content .mat-form-field-infix {
  border-top: none;
  height: 100%;
  padding-bottom: 0;
}

::ng-deep .overlay-content .mat-form-field-underline, ::ng-deep .overlay-content .mat-form-field-underline .mat-form-field-ripple {
  background-color: transparent;
  height: 0;
  opacity: 0;
}

::ng-deep .overlay-content .mat-form-field-infix {
  padding-left: 10px;
}

::ng-deep .overlay-content .mat-form-field-suffix {
  /* padding-right: 10px; */
}

::ng-deep .overlay-content .mat-form-field-disabled .mat-form-field-underline {
  background: none;
}

.status {
  margin-top: 10px;
}

.dates {
  margin-top: 8px;
  display: block;
  text-align: left;
}

.dates p {
  font-size: 10pt;
}

.spanning-content.app-header {
  padding: 8px 20px;
  background-color: var(--element-bg-secondary);
  border-bottom: none;
  margin-top: 0;
  height: auto;
}

.app-header {
  border-bottom: 0.8px solid var(--titles-secondary);
}

.app-header p {
  color: var(--titles-secondary);
  font-weight: bold;
  line-height: var(--app-header-height);
  margin: 0;
}

.app-header mat-icon {
  font-size: 2em;
  color: var(--titles-secondary);
  cursor: pointer;
  margin-left: 5px;
}

.mat-drawer-inner-container {
  position: relative;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background: rgba(0, 0, 0, 0.1);
}

.view-container {
  height: 100%;
  display: flex;
  text-align: center;
}

.active-icon {
  color: rgb(34, 161, 83);
  border: 1px solid black;
}

.inactive-icon {
  color: rgb(93, 94, 93);
  border: 1px solid black;
}

.spacer {
  flex: auto;
}

.details {
  text-align: left;
  max-width: 1400px;
  padding: 0 auto;
}

.placeholder-text {
  margin: auto;
  text-align: center;
  margin: auto 10px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  height: 350px;
  margin-top: 100px;
}

.title * {
  margin-top: auto;
  margin-bottom: auto;
}

.title mat-icon {
  font-size: 16pt;
  line-height: 30px;
}

.title p#journey-title {
  font-weight: 400;
  color: var(--accent);
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  cursor: pointer;
  border: none;
}

.dates * {
  font-size: 12pt;
}

.apps {
  text-align: left;
  margin: 20px 0px;
  margin-top: 15px;
  overflow: auto;
  scrollbar-width: none;
}

.apps::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.apps h3,
h4 {
  margin: 5px 0;
}

.edit-items {
  margin: 0;
  margin-left: 20px;
  line-height: var(--app-header-height);
  height: var(--app-header-height);
}

mat-form-field.edit-items {
  width: 160px;
  line-height: var(--app-header-height);
}

mat-select {
  background-color: var(--element-bg-secondary);
  border-radius: 5px;
  line-height: var(--app-header-height);
  /* padding: 5px; */
}

mat-select span {
  padding-left: 10px;
}

.filter-dropdown {
  margin-top: 15px;
  padding: 15px 0;
  border-top: 1px solid #909ca869;
}

::ng-deep .filter-dropdown .mat-form-field {
  text-align: left;
}

::ng-deep .filter-dropdown .mat-select-arrow-wrapper {
  /* opacity: 0; */
  padding-right: 10px;
}

::ng-deep .edit-items .mat-form-field-underline {
  display: none;
}

::ng-deep .edit-items .mat-form-field-wrapper, ::ng-deep .edit-items .mat-form-field-infix {
  padding-bottom: 0;
  border-top: none;
}

::ng-deep .filter-dropdown .mat-form-field-label-wrapper {
  left: 10px;
}

::ng-deep .mat-select-panel .mat-optgroup-label, ::ng-deep .mat-select-panel .mat-option, ::ng-deep mat-optgroup.mat-optgroup-label, ::ng-deep .mat-select-panel mat-option.mat-option {
  font-size: 10pt;
}

ul.filter-values {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  line-height: var(--app-header-height);
  /* height: var(--app-header-height); */
}

.filter-values li {
  font-size: 11pt;
  border-radius: 5px;
  height: var(--app-header-height);
  background-color: var(--titles-secondary);
  padding: 0 10px;
  margin: 15px 0;
  display: flex;
}

.filter-values li p {
  font-size: 11pt;
  color: var(--bg);
  line-height: var(--app-header-height);
  margin: 0;
  float: left;
  font-weight: 400;
}

.filter-values mat-icon {
  float: right;
  color: var(--bg);
  line-height: var(--app-header-height);
  width: 20px;
  margin-left: 10px;
}

.app-table {
  width: 100%;
  background-color: var(--bg);
  box-shadow: none;
}

.app-th {
  color: var(--titles-secondary);
  font-size: 11pt;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(105, 104, 104, 0.637);
  margin: 0;
}

th.app-th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 15px;
}

td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 10px;
}

.app-tr {
  color: var(--text);
  font-size: 11pt;
  height: 50px;
  padding-bottom: 0;
}

.delete-button {
  float: right;
  color: var(--titles-secondary);
  cursor: pointer;
}

mat-icon.delete-button:hover {
  color: var(--warn);
}

mat-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom-border {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(105, 104, 104, 0.637);
  margin: 0;
}

.bottom-border h2 {
  margin-left: 5px;
  font-weight: 600;
}

.clickable-item {
  cursor: pointer;
  border-radius: 5px;
}

.clickable-item:hover {
  background-color: var(--element-bg-secondary) !important;
  cursor: pointer;
}

.overlay-content {
  margin: 0 auto;
  /* width: 350px; */
  padding: 10px 15px;
  height: 100%;
}

.overlay-content .submit-button {
  margin-bottom: 0;
}

.overlay-item {
  margin: 20px 0;
  display: grid;
  text-align: left;
}

.overlay-item label {
  color: var(--titles-secondary);
  margin-bottom: 5px;
  font-size: 11pt;
}

.overlay-item mat-checkbox {
  margin-top: 15px;
}

@media screen and (max-width:768px) {
  .main-content {
    width: 95%;
    margin: 0 10px;
    padding: 0;
  }

  .spanning-content {
    padding-bottom: 10px;
  }

  .add-btn {
    padding: 2px 10px;
    margin-left: 10px;
  }

  .add-btn mat-icon {
    margin-left: 0;
  }

  .status-toggle {
    padding: 0 15px;
    font-size: 1em;
    line-height: 25px;
  }

  .filter-dropdown {
    padding: 0;
    border-top: none;
    margin: 15px;
  }

  ul.filter-values {
    padding: 0 15px;
  }

  .detail-item {
    display: flex;
    flex-direction: row;
    margin: 5px 10px;
  }
}

@media screen and (max-width: 500px) {
  div.view-container {
    padding: 0 15px;
  }

  .main-content {
    width: 100%;
    margin: 0;
  }

  .placeholder-text {
    margin-top: 70px;
  }  

  .add-btn {
    padding: 0 5px;
  }

  .app-tr {
    font-size: 10pt;
  }
}