<div class="setting-tab">

  <!-- Theme -->
  <div class="setting setting-alt">
    <p class="label">
      Application theme
      <mat-icon class="info-icon" (click)="displayTooltip('theme', $event)">info</mat-icon>
    </p>
    <div class="setting-textfield">
      <ul class="value toggle-btns">
        <li><button (click)="addUpdate('theme', 'dark')" class="{{preferences.theme.name == 'dark' ? 'active' : ''}}">
          <p>Dark</p>
          <div style="flex: 1;"></div>
          <mat-icon>brightness_2</mat-icon>
        </button></li>
        <li><button (click)="addUpdate('theme', 'light')" class="{{preferences.theme.name == 'light' ? 'active' : ''}}">
          <p>Light</p>
          <div style="flex: 1;"></div>
          <mat-icon>brightness_5</mat-icon>
        </button></li>
      </ul>
    </div>
  </div>
  <div class="info" id="theme">
    <p>Choose your preferred theme</p>
  </div>

  <!-- Color palette -->
  <div class="setting setting-alt">
    <div class="label" style="display: flex; flex-direction: column;">
      <p class="label">
        Color palette
        <mat-icon class="info-icon" (click)="displayTooltip('palette', $event)">info</mat-icon>
      </p>
      <div class="info" style="padding: 5px 0;" id="palette">
        <p id="alt-info">Choose the color palette you'd like used throughout the app</p>
      </div>
    </div>
    <div class="setting-textfield">
      <ul class="value toggle-btns palette-list" style="flex-direction: column; list-style: none;">
        <li *ngFor="let palette of palettes | keyvalue;">
          <input type="radio" name="palette" id="{{palette.key}}" [value]="palette.key" [ngModel]="preferences.colorPalette.id" (change)="addUpdate('colorPalette', palette.key)">
          <label for="palette-0">{{palette.value.name}}</label>
          <ul class="colors" style="display: flex; flex-direction: row;">
            <li *ngFor="let color of palette.value.colors;" style="background-color: {{color}};"></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- Journey Inactive -->
  <div class="setting">
    <p class="label">
      Journey inactivity duration (days)
      <mat-icon class="info-icon" (click)="displayTooltip('journey-inactive', $event)">info</mat-icon>
    </p>
    <div class="setting-textfield">
      <text-field class="value" [width]="800" [height]="10" [center]="false" [type]="'number'"
        [displayLabel]="false" [text]="preferences.journeyInactive" [showUpdatedBorder]="updateCheck['journeyInactive']"
        (inputChange)="addUpdate('journeyInactive', $event)" #journeyInactive></text-field>
      <div class="undo-button">
        <button title="undo changes" [disabled]="!updateCheck['journeyInactive']" (click)="undoChange('journeyInactive', journeyInactive)">
          <mat-icon>replay</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="info" id="journey-inactive">
    <p>This is the number of days of inactivity after which a journey is rendered inactive</p>
  </div>

  <!-- Application Stale -->
  <div class="setting">
    <p class="label">
      Application inactivity duration (days)
      <mat-icon class="info-icon" (click)="displayTooltip('app-stale', $event)">info</mat-icon>
    </p>
    <div class="setting-textfield">
      <text-field class="value" [width]="800" [height]="10" [center]="false" [type]="'number'"
        [displayLabel]="false" [text]="preferences.appStale" [showUpdatedBorder]="updateCheck['appStale']"
        (inputChange)="addUpdate('appStale', $event)" #appStale></text-field>
      <div class="undo-button">
        <button title="undo changes" [disabled]="!updateCheck['appStale']" (click)="undoChange('journeyInactive', appStale)">
          <mat-icon>replay</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="info" id="app-stale">
    <p>This is the number of days of inactivity after which an application is considered stale</p>
  </div>
  
</div>