<div class="setting-tab">

  <div class="setting">
    <p class="label">application theme</p>
    <ul class="value toggle-btns">
      <li><button (click)="addUpdate('theme', 'dark')" class="{{preferences.theme.name == 'dark' ? 'active' : ''}}">
        <p>Dark</p>
        <div style="flex: 1;"></div>
        <mat-icon>brightness_2</mat-icon>
      </button></li>
      <li><button (click)="addUpdate('theme', 'light')" class="{{preferences.theme.name == 'light' ? 'active' : ''}}">
        <p>Light</p>
        <div style="flex: 1;"></div>
        <mat-icon>brightness_5</mat-icon>
      </button></li>
    </ul>
  </div>
  <div class="info">
    <p>Just something silly to balance the view out.</p>
  </div>

  <div class="setting" style="height: 200px;">
    <div class="label" style="display: flex; flex-direction: column;">
      <p class="label">color palette</p>
      <div class="info" style="padding: 5px 0;">
        <p id="alt-info">Colors and things.</p>
      </div>
    </div>
    <ul class="value toggle-btns" style="flex-direction: column; margin-left: 40px;">
      <li>
        <input type="radio" name="palette" id="palette-0" [value]="'palette-0'" [ngModel]="preferences.colorPalette.name" (change)="addUpdate('colorPalette', 'palette-0')">
        <label for="palette-0">Cosmos</label>
      </li>
      <li>
        <input type="radio" name="palette" id="palette-1" [value]="'palette-1'" [ngModel]="preferences.colorPalette.name" (change)="addUpdate('colorPalette', 'palette-1')">
        <label for="palette-1">Superbubbles</label>
      </li>
      <li>
        <input type="radio" name="palette" id="palette-2" [value]="'palette-2'" [ngModel]="preferences.colorPalette.name" (change)="addUpdate('colorPalette', 'palette-2')">
        <label for="palette-2">Shockwave</label>
      </li>
      <li>
        <input type="radio" name="palette" id="palette-3" [value]="'palette-3'" [ngModel]="preferences.colorPalette.name" (change)="addUpdate('colorPalette', 'palette-3')">
        <label for="palette-3">Dave</label>
      </li>
    </ul>
  </div>
  
</div>