.view-container {
  max-width: 1200px;
  margin: 0 auto;
  --spanning-line-height: 40px;
  --setting-line-height: 50px;
  margin-bottom: 150px;
}

.spanning-content {
  margin: 15px 10px;
  /* border-bottom: 1px solid var(--titles-secondary); */
  /* padding-bottom: 10px; */
  height: var(--spanning-line-height);
}

::ng-deep .tabs .mat-tab-body.mat-tab-body-active {
  overflow-y: hidden;
  z-index: 1;
}

::ng-deep .tabs .mat-tab-label, ::ng-deep .tabs .mat-tab-label-content {
  color: var(--text);
}

::ng-deep .tabs .mat-tab-label-container {
  z-index: auto;
}

button.save-btn {
  cursor: pointer;
  border-radius: 5px;
  background: var(--accent);
  padding: 0px 15px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  margin-left: 20px;
}

.save-btn p {
  margin: 0;
  margin-right: 8px;
  text-align: center;
  color: var(--text);
  font-size: 1em;
  line-height: 30px;
}

button.save-btn:hover:not(:disabled) { /** hover while not disabled */
  filter: brightness(120%);
}

button.save-btn:disabled {
  background-color: var(--disabled-bg);
  border: 1px solid var(--disabled-bg);
  opacity: 0.2;
  cursor: default;
}

.save-btn mat-icon {
  line-height: 30px;
  color: var(--text);
  font-weight: 500;
  font-size: 16pt;
}

.setting-tab {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 40px 20px;
  margin-bottom: 10px;
}

.info {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.info p {
  font-size: 10pt;
  color: var(--titles-secondary);
  margin: 0;
  width: 35%;
  line-height: 12pt;
  font-weight: 300;
}

.label .info p {
  font-weight: 300;
  width: 100%;
  font-size: 10pt;
  line-height: 12pt;
  margin-top: 25px;
}

.setting mat-icon.info-icon, .setting .label mat-icon.info-icon {
  display: none;
  font-size: 1.25em;
  line-height: var(--setting-line-height);
  margin-left: 15px;
  color: var(--titles-secondary);
}

.info.info-centered {
  margin: auto;
  margin-top: 30px;
}

.info.info-centered p {
  width: 100%;
}

.setting {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.setting.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.setting p.label, .setting div.label {
  width: 40%;
}

.setting .value {
  width: 100%;
  text-align: left;
}

.setting .label p, p.label {
  text-align: left;
  margin: 0;
  line-height: var(--setting-line-height);
  font-size: 11pt;
  margin-right: 10px;
  font-weight: 500;
}

div.label p.label {
  line-height: var(--setting-line-height);
  display: flex;
  flex-direction: column;
}

.setting text-field {
  margin: auto 10px;
}

.setting-textfield {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.value-div {
  display: flex;
  flex-direction: column;
}

.setting .value-div text-field {
  margin: auto 10px;
  margin-left: 15px;
}

.setting .value-div.password-change text-field {
  margin: 10px 0;
}

.setting .value.password-change, .setting .value-div.password-change {
  margin-left: 20px;
  width: 60%;
}

.setting div.undo-button {
  width: 45px;
  display: inherit;
  align-items: center;
  margin-left: 10px;
}

.undo-button button:disabled {
  opacity: 0.2;
}

.setting button, .overlay-content button:not(.submit-btn) {
  height: 35px;
  background: none;
  border: 1px solid var(--titles-secondary);
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.setting button.active {
  border: 1px solid var(--accent);
  background-color: var(--accent);
}

/* .setting button:hover {
  border: 1px solid var(--titles-secondary);
  background-color: var(--titles-secondary);
} */

.setting mat-icon {
  line-height: 30px;
  color: var(--text);
  font-size: 16pt;
}

.setting button:hover {
  color: var(--bg);
  filter: brightness(120%);
}

.setting ul.value.toggle-btns,
.setting ul.toggle-btns,
.overlay-content ul.toggle-btns {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.overlay-content ul.toggle-btns {
  margin: 15px auto;
}

.setting .value-div ul.toggle-btns,
.overlay-content .value-div ul.toggle-btns {
  margin: 0;
}

.setting .toggle-btns button,
.setting .toggle-btns button.toggle {
  width: 130px;
  display: flex;
  height: 30px;
  margin: 0 auto;
  padding: 0 20px;
}

.overlay-content .toggle-btns button.toggle {
  height: 30px;
  width: 150px;
  margin: 0 5px;
  padding: 0;
  background-color: var(--titles-secondary);
}

.toggle-btns button.active p,
.toggle-btns button.active mat-icon {
  color: #ffffff;
}

.setting .toggle-btns.palette-list li,
.overlay-content .toggle-btns.palette-list li {
  width: 300px;
  display: flex;
  margin: 10px auto;
}

.setting .palette-list .colors li {
  margin: auto 0;
  width: 20px;
  height: 20px;
}

.setting .palette-list li label {
  width: 10em;
}

.setting .toggle-btns li button p,
.overlay-content .toggle-btns li button p {
  line-height: 30px;
}

.setting button.toggle {
  margin: auto;
  background-color: var(--titles-secondary);
  width: 150px;
  margin-left: 0px;
  margin-right: 10px;
}

.setting button.toggle p {
  margin: auto;
  text-align: center;
  font-size: 10pt;
  color: var(--bg);
}

.setting .toggle-btns p {
  margin: 0;
  font-size: 10pt;
}

.setting .toggle-btns mat-icon {
  line-height: 30px;
}

.setting .value.toggle-btns li {
  margin: 5px 0;
  margin-right: 20px;
}

.setting .value-div a {
  line-height: 45px;
  font-size: 10pt;
  margin-left: 10px;
}

.setting .value label {
  color: var(--text);
  padding: 5px;
}

.setting input[type=radio]:checked {
  color: var(--accent);
  background-color: var(--accent);
}

div.overlay-content {
  padding: 0 20px;
  padding-top: 20px;
}

div.overlay-content p {
  font-size: 10pt;
  font-weight: 400;
  margin: 10px auto;
}

div.overlay-content text-field {
  margin: 10px 0;
  display: grid;
}

a.login-link {
  cursor: pointer;
}

p#alt-info {
  font-weight: 300;
  line-height: 12pt;
  font-size: 10pt;
  padding: 5px;
}

div#alert-div {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

div#alert-div p.warning-text {
  font-weight: 400;
}

.alert.spanning-content {
  height: 40px;
  padding: 10px 20px;
  margin: 0 10px;
  border-bottom: none;
}

.alert.success {
  background-color: var(--success-bg);
}

.alert.error {
  background-color: var(--error-bg);
}

.alert p, .alert mat-icon {
  line-height: 40px;
  height: 40px;
  color: var(--text);
}

.alert p {
  font-size: 10pt;
}

.alert mat-icon {
  cursor: pointer;
}

.password-requirements {
  min-width: auto;
  text-align: left;
  padding: 0 20px;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .setting {
    flex-direction: column;
    height: auto;
  }

  .setting-tab {
    margin: 20px 0px;
  }

  .setting div.label {
    width: 100%;
  }

  div.label p.label, .setting p.label {
    flex-direction: row;
    width: auto;
  }

  .setting .value {
    margin-left: 0;
    width: 90%;
  }

  .setting .value.password-change, .setting .value-div.password-change {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  .setting text-field {
    margin: 0;
  }

  .setting .value-div text-field {
    margin: 0;
  }

  .setting-textfield {
    width: 100%;
  }

  .info {
    display: none;
  }

  .info.visible {
    display: block;
    position: fixed;
    box-shadow: var(--shadow-tooltip);
    background-color: var(--bg);
    border-radius: 5px;
    z-index: 2;
    padding: 5px;
  }

  .info.visible p {
    width: auto;
  }

  .setting mat-icon.info-icon, .setting .label mat-icon.info-icon {
    display: inline;
    cursor: pointer;
  }

  .setting ul.value.toggle-btns {
    width: 400px;
    margin: 0 auto;
  }

  .setting .value.toggle-btns li {
    margin: 5px auto;
  }

  div#alert-div {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .spanning-content {
    margin: 15px 0;
  }

  .setting {
    padding: 5px 0;
  }

  .setting-tab {
    width: 100%;
  }

  .setting.setting-alt {
    flex-direction: column;
  }

  button.save-btn {
    padding: 0 5px;
  }

  .setting .value.password-change, .setting .value-div.password-change {
    text-align: center;
  }
}