.view-container {
  max-width: 1200px;
  margin: 0 auto;
  --spanning-line-height: 40px;
  --setting-line-height: 50px;
}

.spanning-content {
  margin: 15px 20px;
  border-bottom: 1px solid var(--titles-secondary);
  padding-bottom: 10px;
  height: var(--spanning-line-height);
}

::ng-deep .tabs .mat-tab-label, ::ng-deep .tabs .mat-tab-label-content {
  color: var(--text);
}

button.save-btn {
  width: 150px;
  border-radius: 5px;
  background-color: var(--accent);
  cursor: pointer;
  padding: 5px;
}

.save-btn p {
  margin: 0;
  text-align: center;
  color: var(--text);
  font-size: 11pt;
}

button.save-btn:hover:not(:disabled) p { /** hover while not disabled */
  color: var(--bg);
}

button.save-btn:disabled {
  background-color: var(--disabled-bg);
  border: 1px solid var(--disabled-bg);
  opacity: 0.2;
  cursor: default;
}

.setting-tab {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 40px 20px;
  margin-bottom: 10px;
}

.info {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-bottom: 10px;
}

.info p {
  font-size: 10pt;
  color: var(--titles-secondary);
  margin: 0;
  width: 35%;
  line-height: 12pt;
  font-weight: 300;
}

.label .info p {
  font-weight: 300;
  width: 100%;
  font-size: 10pt;
  line-height: 12pt;
  margin-top: 25px;
}

.info.info-centered {
  margin: auto;
  margin-top: 30px;
}

.info.info-centered p {
  width: 100%;
}

.setting {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  height: var(--setting-line-height);
  margin-top: 20px;
}

.setting .label * {
  width: 100%;
}

.setting p.label, .setting div.label {
  width: 40%;
}

.setting .value {
  width: 60%;
  text-align: left;
  margin-left: 70px;
}

.setting .label p, p.label {
  text-align: left;
  margin: 0;
  line-height: var(--setting-line-height);
  font-size: 11pt;
  margin-right: 10px;
  font-weight: 500;
}

div.label p.label {
  line-height: var(--setting-line-height);
}

.setting text-field {
  margin: auto 10px;
}

.value-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.setting .value-div text-field {
  margin: auto 0px;
  margin-top: 0;
  margin-bottom: 20px;
}

.setting div.undo-button {
  line-height: var(--setting-line-height);
  height: var(--setting-line-height);
  width: 45px;
  display: inherit;
  align-items: center;
  margin-left: 10px;
}

.undo-button button:disabled {
  opacity: 0.2;
}

.setting button {
  height: 35px;
  background: none;
  border: 1px solid var(--titles-secondary);
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.setting button.active {
  border: 1px solid var(--accent);
  background-color: var(--accent);
}

.setting button:hover {
  border: 1px solid var(--titles-secondary);
  background-color: var(--titles-secondary);
}

.setting mat-icon {
  line-height: 30px;
  color: var(--text);
  font-size: 16pt;
}

.setting button:hover mat-icon, .setting button:hover p {
  color: var(--bg);
}

.setting ul.value.toggle-btns, .setting ul.toggle-btns {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  height: var(--setting-line-height);
  text-align: left;
}

.setting .value-div ul.toggle-btns {
  margin: 0;
}

.setting .toggle-btns button, .setting .toggle-btns button.toggle {
  width: 130px;
  display: flex;
  height: 35px;
  margin: 0 20px;
  padding: 0 20px;
}

.setting button.toggle, .setting ul.toggle-btns button.toggle {
  margin: auto;
  background-color: var(--titles-secondary);
  width: 150px;
  margin-left: 0px;
  margin-right: 10px;
  padding: 5px;
}

.setting button.toggle p {
  margin: auto;
  /* line-height: 40px; */
  text-align: center;
  font-size: 10pt;
}

.setting .toggle-btns p {
  margin: 0;
  /* line-height: 35px; */
  font-size: 10pt;
}

.setting .toggle-btns mat-icon {
  line-height: 35px;
}

.setting .value.toggle-btns li {
  margin: 5px 0;
}

.setting .value-div a {
  line-height: 45px;
  font-size: 10pt;
  margin-left: 10px;
}

.setting .value label {
  color: var(--text);
  padding: 5px;
}

.setting input[type=radio]:checked {
  color: var(--accent);
  background-color: var(--accent);
}

div.overlay-content {
  padding: 0 20px;
}

div.overlay-content p {
  font-size: 10pt;
  font-weight: 400;
  margin: 10px auto;
}

p#alt-info {
  font-weight: 300;
  line-height: 12pt;
  font-size: 10pt;
}

div#alert-div {
  display: flex;
  flex-direction: row;
}

div#alert-div p.warning-text {
  margin: 0;
  font-size: 10pt;
  font-weight: 300;
  margin-left: 30px;
  line-height: 12pt;
  margin-bottom: 15px;
}

.alert.spanning-content {
  height: 40px;
  padding: 10px 20px;
  margin: 0 20px;
  border-bottom: none;
}

.alert.success {
  background-color: var(--success-bg);
}

.alert.error {
  background-color: var(--error-bg);
}

.alert p, .alert mat-icon {
  line-height: 40px;
  height: 40px;
  color: var(--text);
}

.alert p {
  font-size: 10pt;
}

.alert mat-icon {
  cursor: pointer;
}