.view-container {
  max-width: 1200px;
  margin: 0 auto;
}

.spanning-content {
  margin: 15px 20px;
}

.spanning-content h2 {
  color: var(--titles-primary-dark);
  margin: 0;
}

.submit-button {
  height: 40px;
  max-width: 180px;
  background-color: var(--titles-primary-dark);
  margin: 0;
}

.wishlist-apps span {
  color: var(--text-dark);
}

.clickable-item mat-icon {
  color: var(--titles-secondary-dark);
}

.clickable-item:hover {
  background-color: var(--secondary-dark);
  cursor: pointer;
}