<div class="view-container">
  <div class="spanning-content">
    <h2>Wishlist</h2>
    <div class="spacer"></div>
    <button class="submit-button">Add Application</button>
  </div>

  <div class="wishlist-apps" *ngIf="applications.length != 0; else emptyWishlist">
    <mat-list style="height: 100%;" class="app-list-item">
      <mat-list-item class="clickable-item" *ngFor="let app of applications;">
        <mat-icon matListIcon>star</mat-icon>
        <div matLine>
          <div class="spanning-content">
            <h4 style="text-align: left; color: var(--text);">{{app.positionTitle + '  '}}</h4>
            <span style="padding-left: 10px; color: var(--titles-secondary);"> @ {{app.companyName}}</span>
            <div class="spacer"></div>
            <span>Date Added: {{ app.appDate | date }}</span>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <ng-template #emptyWishlist>
    <div class="placeholder-text">
      <h4>Added wishlist applications will appear here.</h4>
    </div>
  </ng-template>

</div>
