<div class="view-container">
  <div class="spanning-content header">
    <h2>Wishlist</h2>
    <div class="spacer"></div>
    <button class="add-btn" title="Remove application" (click)="toggleSelectionMode()" [disabled]="(userStore.wishlistApps | async).length == 0">
      <p *ngIf="!(rs.mobileSize$ | async)">{{ selectionMode ? 'Done' : 'Remove' }}</p>
      <mat-icon [inline]="true" aria-hidden="false" aria-label="Remove application icon">delete</mat-icon>
    </button>
    <button class="add-btn" title="Add application" (click)="addApplication()" [disabled]="selectionMode">
      <p *ngIf="!(rs.mobileSize$ | async)">Add</p>
      <mat-icon [inline]="true" aria-hidden="false" aria-label="Add application icon">add</mat-icon>
    </button>
  </div>

  <div class="blurb spanning-content">
    <p>Your wishlist allows you to keep track of applications you'd like to send in the future &#10024;</p>
  </div>

  <div class="wishlist-apps" *ngIf="(userStore.wishlistApps | async).length != 0; else emptyWishlist">
    <div class="header spanning-content">
      <div class="spacer"></div>
      <p>{{ (userStore.wishlistApps | async).length }} applications</p>
    </div>
    <mat-list style="height: 100%;" class="app-list-item">
      <mat-list-item class="clickable-item" *ngFor="let app of (userStore.wishlistApps | async);" (click)="selectApplication(app)">
        <mat-icon *ngIf="!selectionMode" matListIcon>star</mat-icon>
        <mat-icon *ngIf="selectionMode" class="delete-btn" (click)="removeApplication(app)" matListIcon>delete</mat-icon>
        
        <div *ngIf="!(rs.tabletSize$ | async); else mobileListItem" class="app-list-item" matLine>
          <div class="spanning-content">
            <h4 style="text-align: left; color: var(--text);">{{app.positionTitle + '  '}}</h4>
            <span style="padding-left: 10px; color: var(--titles-secondary);"> @ {{app.companyName}}</span>
            <div class="spacer"></div>
            <span>Date Added: {{ app.appDate | date }}</span>
          </div>
        </div>

        <!-- Mobile view list-item -->
        <ng-template #mobileListItem>
          <div class="app-list-item" matLine>
            <div class="spanning-content">
              <h4 style="text-align: left; color: var(--text);">{{app.positionTitle + '  '}}</h4>
            </div>
          </div>
          <div class="app-list-item" matLine>
            <div class="spanning-content">
              <span style="color: var(--titles-secondary);"> @ {{app.companyName}}</span>
              <div class="spacer"></div>
              <span>Applied: {{ app.appDate | date }}</span>
            </div>
          </div>
        </ng-template>

      </mat-list-item>
    </mat-list>
  </div>

  <ng-template #emptyWishlist>
    <div class="placeholder-text">
      <p>Add Wishlist applications to see them here.</p>
      <img src="/assets/placeholder_tumble.svg" alt="no journeys" title="tumbling weeds of nothingness">
    </div>
  </ng-template>

</div>
