.view-container {
  max-width: 1200px;
  margin: 0 auto;
}

.spanning-content {
  margin: 15px;
}

.app-list-item .spanning-content {
  padding: 5px 0;
  margin: 0;
}

.app-list-item h4 {
  color: var(--text);
  text-align: left;
  margin: 0;
}

.spanning-content h2 {
  color: var(--titles-primary);
  margin: 0;
}

.submit-button {
  height: 40px;
  max-width: 180px;
  background-color: var(--titles-primary);
  margin: 0;
}

.wishlist-apps span {
  color: var(--text);
}

.wishlist-apps .header.spanning-content {
  margin: 15px;
  margin-bottom: 0;
}

.wishlist-apps .header.spanning-content p {
  margin: 0;
  color: var(--titles-secondary);
}

.app-list-item mat-list-item {
  margin: 10px 0;
}

::ng-deep mat-list-item .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 0;
}

.clickable-item mat-icon {
  color: var(--titles-secondary);
}

.clickable-item:hover {
  background-color: var(--element-bg-secondary);
  cursor: pointer;
}

.clickable-item mat-icon.delete-btn {
  color: var(--warn);
}

.clickable-item mat-icon.delete-btn:hover {
  cursor: pointer;
  background: var(--error-bg);
}

@media screen and (max-width: 500px) {
  .spanning-content {
    margin: 15px 0;
  }

  .header.spanning-content {
    margin: 0;
    margin-top: 15px;
  }
}