#faq {
  margin-top: 50px;
  text-align: left;
  position: relative;
  z-index: -1;
}

#faq ul {
  list-style: none;
  padding: 0;
}

span.tag {
  padding: 5px;
  border: 1.5px solid;
  border-radius: 5px;
  font-weight: 700;
  position: absolute;
  transform: rotate(-10deg);
  background: var(--bg);
  color: black;
  top: -25px;
  left: -10px;
  font-size: 0.8em;
  box-shadow: 0px 4px 4px #0000002b;
}

h4.heading {
  color: var(--text);
  display: flex;
  flex-direction: row;
  align-items: center;
}

h4.heading a {
  opacity: 0;
  color: var(--text);
  font-size: 1.15em;
  margin-left: 10px;
  text-decoration: none;
}

h4.heading:hover a {
  opacity: 1;
}

#faq li {
  scroll-margin-top: var(--header-height);
}

#faq li.faq-item {
  background-color: var(--bg-secondary);
  border-radius: 15px;
  padding: 15px;
  margin: 20px 0;
}

p.question {
  font-weight: 600;
  margin: 0;
  color: var(--accent);
  font-size: 1.1em;
  line-height: 1.5em;
}

p.answer {
  margin: 0;
  margin-top: 10px;
  line-height: 1.8em;
}

p.answer a, p.question a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 600;
}

p.answer a:hover, h4.heading:hover a:hover {
  text-decoration: underline;
}

.pulse {
  animation: 0.6s pulse-title ease-in-out;
}
