.slider-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  overflow: hidden;
  /* overflow-x: scroll; */
  scrollbar-width: none;
  padding: 0 30px;
  perspective: 1000px;
}

.buffer-item {
  opacity: 0;
  cursor: none;
  pointer-events: none;
}