ul ul ul {
  padding-left: 20px;
}

.landing-container {
  max-width: 1000px;
  margin: auto;
  padding-top: 0;
  text-align: left;
}

.landing-container h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.spanning-content {
  padding: 0;
  position: static;
}

.spanning-content p.greeting {
  margin: 0;
}

.content {
  width: 100%;
  padding: 0;
  margin: 60px 0;
}

.content li {
  background-color: var(--bg-secondary);
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
}

.content p mat-icon {
  font-size: 1em;
  width: 15px;
  height: 15px;
}

mat-icon.nav-toggle {
  cursor: pointer;
  color: var(--titles-secondary);
  background-color: var(--element-bg);
  border-radius: 10px 0px 0px 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  font-weight: lighter;
}

mat-icon.nav-toggle:hover {
  color: var(--accent);
}

.sidenav {
  min-width: auto;
  height: max-content;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
  align-items: flex-start;
  position: sticky;
  top: 20px;
}

.sidenav ul {
  background: var(--element-bg);
  border-radius: 0px 15px 15px;
  padding: 15px;
  margin: 0;
  position: static;
  color: var(--text);
  font-weight: 600;
}

.sidenav li {
  color: var(--text);
}

.pulse {
  animation: 0.6s pulse-title ease-in-out;
}

@media screen and (max-width: 500px) {
  .sidenav {
    min-width: 0;
    position: absolute;
    top: calc(5vh + 20px);
    right: 20px;
  }
  
  .sidenav.expanded {
    width: 80%;
    background-color: var(--element-bg);
    flex-direction: column;
    left: 0;
    right: 0;
    margin: 0px auto 30px auto;
    box-shadow: var(--shadow-auth-element);
    border-radius: 15px;
    padding: 15px;
    overflow: auto;
  }

  .sidenav.expanded ul {
    padding: 15px 5px;
  }

  .sidenav.expanded mat-icon.nav-toggle {
    width: 100%;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    text-align: right;
  }
}
