<div class="landing-container">
  <div class="content">

    <div id="about" class="spanning-content">
      <h2>About Traccio</h2>
    </div>
    <p class="blurb spanning-content">Hope you're having a swell {{ timeOfDay }}! Let's help you learn a bit more about Traccio &#10024;</p>
    <p>Traccio is a web application that helps you monitor and track your job search. It lets you organize your search, monitor your productivity, and keep all your necessary details under one (internet) roof!</p>
    <p>Traccio is an <a href="https://github.com/Duha-H/Traccio">open source</a> web application, feel free to read the application wiki <a href="https://github.com/Duha-H/Traccio/wiki">here</a>.</p>
    
    <app-faq></app-faq>
    
  </div>

  <div class="sidenav" title="FAQ navigation" #sidenav>
    <mat-icon class="nav-toggle" (click)="displayNav()" *ngIf="!(rs.mobileSize$ | async) || !displayMobileNav">keyboard_arrow_left</mat-icon>
    <mat-icon class="nav-toggle" (click)="displayNav()" *ngIf="(rs.mobileSize$ | async) && displayMobileNav">clear</mat-icon>
    <ul *ngIf="displayMobileNav">
      FAQs
      <li *ngFor="let item of faqItems; let i = index;" (click)="scroll('faq' + i)">
        <mat-icon>keyboard_arrow_right</mat-icon>
        {{ item.question }}
      </li>
    </ul>
  </div>
</div>