body[theme='light'] {
  /** backgrounds */
  --bg: #F7F7F7;
  --bg-secondary: #FCFCFC;
  --bg-backdrop: #F2F2F28c;
  --element-bg: #E8E8F3;
  /** accent colors */
  --accent: #9f9dea;
  --accent-hover: #CFCFEE;
  --submit-btn: #c1cace;
  /** text */
  --titles-primary: #9f9dea;
  --titles-secondary: #7e8992;
  --text: rgb(73, 74, 79);
  /** feedback colors */
  --theme-dark: #22232d;
  --theme-light: #F6F6F6;
  --valid: #29b983;
  --warn: #f94d78;
  --disabled-bg: #797f85;
  --success-bg: #94f4c24f;
  --error-bg: #f9769685;
  --warn-bg: #797f8585;
  /** shadows */
  --shadow-neumorphic-element:
    -6px -6px 4px 0 rgba(255, 255, 255, 0.7),
    5px 5px 4px 0 rgba(174, 174, 174, 0.15);
  --shadow-neumorphic-nav:
    -3px -3px 8px 0 rgba(244, 244, 254, 1),
    3px 3px 8px 0 rgba(201, 201, 217, 0.8);
  --shadow-clickable: 0 0 10px rgba(0, 0, 0, 0.4);
  --shadow-tooltip: 0 0 8px rgba(0, 0, 0, 0.4);
  --shadow-overlay: 0 0 30px rgba(0, 0, 0, 0.6);
  --shadow-auth-element: 0px 0px 20px #a2a1a1bf;
}

body[theme='light'][palette='palette-0'] {
  /** backgrounds */
  --element-bg: #E8E8F3;
  /** accent colors */
  --accent: #5B4699;
  --accent-hover: #CFCFEE;
  /** text */
  --titles-primary: #5B4699;
}

body[theme='light'][palette='palette-1'] {
  /** backgrounds */
  --element-bg: #D2EAE6;
  /** accent colors */
  --accent: #20796A;
  --accent-hover: #C1F5ED;
  /** text */
  --titles-primary: #20796A;
}

body[theme='light'][palette='palette-2'] {
  /** backgrounds */
  --element-bg: #F2DBE0;
  /** accent colors */
  --accent: #980154;
  --accent-hover: #F7CFD8;
  /** text */
  --titles-primary: #980154;
}

body[theme='light'][palette='palette-3'] {
  /** backgrounds */
  --element-bg: #DDE7F6;
  /** accent colors */
  --accent: #10567F;
  --accent-hover: #C9DCF8;
  /** text */
  --titles-primary: #10567F;
}