@import "~@angular/material/theming";

/** Dark theme palettes*/

// SHARED
$dark-theme-background: (
  status-bar: var(--bg),
  app-bar: map_get($mat-blue-grey, 800),
  background: var(--bg),
  hover: rgba(white, 0.04),
  card: var(--bg),
  dialog: var(--element-bg),
  disabled-button: $white-12-opacity,
  raised-button: var(--element-bg),
  focused-button: $white-6-opacity,
  selected-button: var(--element-bg),
  selected-disabled-button: var(--element-bg),
  disabled-button-toggle: black,
  unselected-chip: var(--element-bg),
  disabled-list-option: black,
);

$dark-theme-foreground: (
  base: var(--bg),
  divider: rgba(white, 0),
  dividers: rgba(white, 0),
  disabled: rgba(white, 0.3),
  disabled-button: rgba(white, 0.3),
  disabled-text: rgba(white, 0.3),
  hint-text: rgba(white, 0.3),
  secondary-text: rgba(white, 0.7),
  icon: white,
  icons: white,
  text: var(--text),
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

$dark-warn: (
  50: #feeaef,
  100: #fdcad7,
  200: #fca6bc,
  300: #fb82a1,
  400: #fa688c,
  500: #f94d78,
  600: #f84670,
  700: #f73d65,
  800: #f6345b,
  900: #f52548,
  A100: #ffffff,
  A200: #fffcfc,
  A400: #ffc9d1,
  A700: #ffafbb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-primary: (
  // 50 : #f3f3fc,
  // 100 : #e2e2f9,
  // 200 : #cfcef5,
  // 300 : #bcbaf0,
  // 400 : #adaced,
  // 500 : #9f9dea,
  // 600 : #9795e7,
  // 700 : #8d8be4,
  // 800 : #8381e1,
  // 900 : #726fdb,
  // A100 : #ffffff,
  // A200 : #ffffff,
  // A400 : #eeeeff,
  // A700 : #d6d4ff,
  // contrast: (
  //   50 : #000000,
  //   100 : #000000,
  //   200 : #000000,
  //   300 : #000000,
  //   400 : #000000,
  //   500 : #000000,
  //   600 : #000000,
  //   700 : #000000,
  //   800 : #000000,
  //   900 : #ffffff,
  //   A100 : #000000,
  //   A200 : #000000,
  //   A400 : #000000,
  //   A700 : #000000,
  // )
  50: #e5e5e7,
  100: #bfbfc2,
  200: #94949a,
  300: #696972,
  400: #484953,
  500: #282935,
  600: #242430,
  700: #1e1f28,
  800: #181922,
  900: #0f0f16,
  A100: #5b5bff,
  A200: #2828ff,
  A400: #0000f4,
  A700: #0000da,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  )
);

// UNIQUE PALETTE MAPS
$dark-palette-0-accent: (
  50: #f3f3fc,
  100: #e2e2f9,
  200: #cfcef5,
  300: #bcbaf0,
  400: #adaced,
  500: #9f9dea,
  600: #9795e7,
  700: #8d8be4,
  800: #8381e1,
  900: #726fdb,
  A100: #ffffff,
  A200: #ffffff,
  A400: #eeeeff,
  A700: #d6d4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-palette-1-accent: (
  50: #e9faf7,
  100: #c8f2eb,
  200: #a3eade,
  300: #7ee1d0,
  400: #63dac6,
  500: #47d4bc,
  600: #40cfb6,
  700: #37c9ad,
  800: #2fc3a5,
  900: #20b997,
  A100: #f2fffc,
  A200: #bffff0,
  A400: #8cffe3,
  A700: #73ffdd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-palette-2-accent: (
  50: #fdeaee,
  100: #facad5,
  200: #f7a6b9,
  300: #f4829d,
  400: #f16888,
  500: #ef4d73,
  600: #ed466b,
  700: #eb3d60,
  800: #e83456,
  900: #e42543,
  A100: #ffffff,
  A200: #ffebee,
  A400: #ffb8c2,
  A700: #ff9fac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-palette-3-accent: (
  50: #f0f5fd,
  100: #d8e6fa,
  200: #bfd5f7,
  300: #a5c4f4,
  400: #91b8f1,
  500: #7eabef,
  600: #76a4ed,
  700: #6b9aeb,
  800: #6191e8,
  900: #4e80e4,
  A100: #ffffff,
  A200: #ffffff,
  A400: #dae6ff,
  A700: #c0d4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// PALETTE DEFINITIONS
$dark-primary-map: mat-palette($dark-primary);
$dark-warn-map: mat-palette($dark-warn);

$dark-palette0-accent: mat-palette($dark-palette-0-accent);
$dark-palette1-accent: mat-palette($dark-palette-1-accent);
$dark-palette2-accent: mat-palette($dark-palette-2-accent);
$dark-palette3-accent: mat-palette($dark-palette-3-accent);
