.spacer {
  flex: 1;
}

.toolbar {
  z-index: 1;
  height: var(--header-height);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: var(--bg);
  font-weight: 600;
  padding: 10px 20px;
  padding-bottom: 20px;
  padding-right: 0;
  margin-right: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.479), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  position: fixed;
  width: calc(100% - 80px);
}

.toolbar mat-icon.mat-icon {
  color: var(--accent);
  text-align: center;
  line-height: 28pt;
  font-size: 24pt;
  margin-right: 10px;
  width: auto;
  height: auto;
  cursor: pointer;
}

text-field.toolbar-search {
  width: 300px;
  margin: 0 15px;
  line-height: 28pt;
}

.toolbar span {
  color: var(--titles-primary);
  font-size: 18pt;
}

.search .input-container div {
  height: 5px;
}

text-field.toolbar-search {
  opacity: 0;
  transition: all 0.2s ease-in;
  width: 0;
  margin: 0;
  display: none;
}

text-field.toolbar-search.visible {
  margin: 0 15px;
  transform: scaleX(1);
  width: 280px;
  opacity: 1;
  display: block;
}

.sidenav-container.mat-sidenav-container.mat-drawer-container {
  display: inline-block;
  /* height: 100vh; */
  width: 85vw;
}

a.logo, a.logo:hover, a.logo:visited {
  height: auto;
  margin: 20px auto;
}

ul.sidenav {
  list-style: none;
  padding: 0px 5px;
  text-align: center;
  margin: 0;
}

ul.sidenav.bottom {
  position: absolute;
  bottom: 10px;
}

.sidenav li {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 15px auto;
}

.sidenav a {
  text-align: center;
  vertical-align: middle;
}

mat-sidenav-container, .sidenav-container {
  margin: 0;
  overflow-y: hidden;
  min-height: 100%;
  width: 100%;
  /* width: 95vw; */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidenav-content {
  /* width: 90vw; */
  height: 100%;
  width: calc(100% - 60px);
}

mat-sidenav, div.sidenav {
  /* background-color: var(--element-bg); */
  /* width: 10vw; */
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60px;
}

.sidenav mat-icon, .sidenav img {
  color: var(--titles-secondary);
  margin: auto;
  line-height: 37pt;
  font-size: 25pt;
  margin: auto 0;
  display: inline;
  vertical-align: middle;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  filter: brightness(120%);
}

.sidenav a.info, .sidenav img.info {
  position: absolute;
  bottom: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.sidenav a img.info {
  bottom: 0;
  left: 0;
}

.sidenav a.active mat-icon, .bottomnav a.active mat-icon {
  color: var(--accent);
  filter: brightness(100%);
}

.sidenav mat-icon:hover, .bottomnav mat-icon:hover {
  color: var(--accent);
}

.bottomnav ul {
  list-style: none;
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

.bottomnav li {
  border-radius: 100%;
  vertical-align: middle;
  padding: 0;
  margin: auto;
}

.bottomnav mat-icon {
  color: var(--titles-secondary);
  margin: auto;
  line-height: 20pt;
  font-size: 18pt;
  margin: auto 0;
  display: inline;
  vertical-align: middle;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
/* 
div.loading {
  margin: auto;
  text-align: center;
  position: relative;
}

.loading .loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--accent);
  background-blend-mode: luminosity;
} */

.content {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: var(--header-height);
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  box-sizing: border-box;
  background-image: url('/assets/bg-scribble.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  /* margin-bottom: 15px; */
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
  margin: auto;
  display: inline-block;
  width: 100%;
  height: 100%;
}

a:hover {
  color: #125699;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 500px) {
  .toolbar {
    padding: 10px 0;
    align-items: center;
    width: 100%;
  }

  .content {
    /* height: 85vh; */
    height: calc(100vh - var(--header-height));
  }

  .sidenav-content {
    width: 100vw;
    height: 92%;
  }

  .bottomnav {
    height: var(--header-height);
    /* padding-bottom: 20px; */
    background-color: var(--element-bg);
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    z-index: 10;
    box-sizing: border-box;
  }

  text-field.toolbar-search {
    opacity: 0;
    transition: all 0.2s ease-in;
    width: 0;
    margin: 0;
    display: none;
  }

  text-field.toolbar-search.visible {
    margin: 0 15px;
    transform: scaleX(1);
    width: 280px;
    opacity: 1;
    display: block;
  }
}