<div class="sidenav-container" mode="push">
  <!-- Nav -->
  <div class="sidenav" mode="side" role="navigation" *ngIf="!(resizeService.mobileSize$ | async)">
    <a href="#" routerLink="/home" class="logo">
      <img src="{{(prefStore.preferences | async).theme.name == 'dark' ? '/assets/logo_stroke_dark.png' : '/assets/logo_fill_light.png'}}" alt="Traccio Logo" class="logo">
    </a>
    <ul class="sidenav">
      <li title="Dashboard">
        <a href="#" routerLink="/home" (click)="clearSearch()" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" #navHomeIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Dashboard icon">home</mat-icon>
        </a></li>
      <li title="Journeys">
        <a role="button" (click)="navigate('journeyRoute')" routerLink="/home/journeys" routerLinkActive="active"
          #navJourneysIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Journeys icon">list</mat-icon>
        </a></li>
      <li title="Wishlist">
        <a role="button" (click)="navigate('wishlistRoute')" routerLink="/home/wishlist" routerLinkActive="active"
          #navWishlistIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Search icon">star_border</mat-icon>
        </a></li>
    </ul>
    <ul class="sidenav bottom">
      <li>
        <a href="#" routerLink="/home/settings" title="Settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Info icon">settings</mat-icon>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/home/info" title="About Traccio" routerLinkActive="active">
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Info icon">info</mat-icon>
        </a>
      </li>
    </ul>
    
  </div>

  <!-- Content -->
  <div class="sidenav-content" role="main">

    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      <a *ngIf="(resizeService.mobileSize$ | async)" href="#" routerLink="/home" style="width: auto; height: auto;">
        <img src="{{(prefStore.preferences | async).theme.name == 'dark' ? '/assets/logo_stroke_dark.png' : '/assets/logo_fill_light.png'}}" alt="Traccio Logo" class="logo">
      </a>
      <div class="spacer"></div>
      <mat-icon (click)="displaySearchField()" #activateSearchButton>search</mat-icon>
      <text-field class="toolbar-search" (inputChange)="onSearch($event)" [text]="searchQuery" [label]="'Search'"
        [displayLabel]="false" [suffixIcon]="'search'" [height]="1" [verticalPadding]="'5px'" #searchField>
      </text-field>
      <div #dropdownButton>
        <mat-icon (click)="toggleAccountDropdown()">account_box</mat-icon>
      </div>
    </div>

    <!-- Content Router -->
    <div class="content" role="main">
      <span id="top-marker"></span>
      <app-loading-indicator *ngIf="(loaderService.loading | async); else content"></app-loading-indicator>

      <ng-template #content>
        <app-search *ngIf="searchQuery.length != 0; else appContent" [query]="searchQuery"
          [parentSearchSubject]="searchSubject" (clearEvent)="clearSearch()" #searchComponent></app-search>
        <ng-template #appContent>
          <router-outlet></router-outlet>
        </ng-template>
      </ng-template>
      
      
      <!-- Footer -->
      <footer *ngIf="!(resizeService.mobileSize$ | async) || router.url == '/home/info'">
        <small>&copy; Traccio 2020</small>
      </footer>
    </div>

  </div>

  <!-- Conditionally-visible Bottom Nav -->
  <div *ngIf="resizeService.mobileSize$ | async" class="bottomnav">
    <ul>
      <li title="Journeys"><a role="button" (click)="navigate('journeyRoute')" routerLink="/home/journeys" routerLinkActive="active"
          #navJourneysIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Journeys icon">list</mat-icon>
        </a></li>
      <li title="Dashboard"><a href="#" (click)="clearSearch()" routerLink="/home" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" #navHomeIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Dashboard icon">home</mat-icon>
        </a></li>
      <li title="Wishlist"><a role="button" (click)="navigate('wishlistRoute')" routerLink="/home/wishlist" routerLinkActive="active"
          #navWishlistIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Search icon">star_border</mat-icon>
        </a></li>
    </ul>
  </div>

</div>
<toast-list [notifications]="notificationService.messages | async"></toast-list>
<account-dropdown [dropdownItems]="dropdownItems" [displayDropdown]="displayDropdown"></account-dropdown>
