<div class="sidenav-container" mode="push">
  <!-- Nav -->
  <div class="sidenav" mode="side" role="navigation" *ngIf="!(resizeService.mobileSize$ | async)">
    <ul class="sidenav">
      <li title="Dashboard"><a href="#" routerLink="/home" (click)="clearSearch()" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" #navHomeIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Dashboard icon">home</mat-icon>
        </a></li>
      <li title="Journeys"><a href="#" routerLink="/home/journeys" (click)="clearSearch()" routerLinkActive="active"
          #navJourneysIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Journeys icon">list</mat-icon>
        </a></li>
      <li title="Wishlist"><a href="#" routerLink="/home/wishlist" (click)="clearSearch()" routerLinkActive="active"
          #navWishlistIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Search icon">star_border</mat-icon>
        </a></li>
    </ul>
    <a href="#" routerLink="/home/info" class="info" title="About Traccio">
      <img src="/assets/icons/info_icon.svg" alt="Info icon" class="info">
    </a>
  </div>

  <!-- Content -->
  <div class="sidenav-content" role="main">

    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      <a href="#" routerLink="/home" style="width: auto; height: auto;">
        <img src="{{(resizeService.mobileSize$ | async) ? '/assets/logo_no_text@2x.png' : '/assets/logo_traccio@2x.png'}}" alt="Logo" class="logo">
      </a>
      <div class="spacer"></div>
      <mat-icon *ngIf="resizeService.mobileSize$ | async" (click)="displaySearchField()" #activateSearchButton>search
      </mat-icon>
      <text-field class="toolbar-search" (inputChange)="onSearch($event)" [text]="searchQuery" [label]="'Search'"
        [displayLabel]="false" [suffixIcon]="'search'" [height]="1" [verticalPadding]="'5px'" #searchField></text-field>
      <div #dropdownButton>
        <mat-icon (click)="toggleAccountDropdown()">account_box</mat-icon>
      </div>
      <account-dropdown [dropdownItems]="dropdownItems" [displayDropdown]="displayDropdown"></account-dropdown>
    </div>

    <!-- Content Router -->
    <div class="content" role="main">
      <app-search *ngIf="searchQuery.length != 0; else appContent" [query]="searchQuery"
        [parentSearchSubject]="searchSubject" (clearEvent)="clearSearch()" #searchComponent></app-search>
      <ng-template #appContent>
        <router-outlet></router-outlet>
      </ng-template>
      
      <!-- Footer -->
      <footer *ngIf="!(resizeService.mobileSize$ | async) || router.url == '/home/info'">
        <small>&copy; Traccio 2020</small>
      </footer>
    </div>

  </div>

  <!-- Conditionally-visible Bottom Nav -->
  <div *ngIf="resizeService.mobileSize$ | async" class="bottomnav">
    <ul>
      <li title="Journeys"><a href="#" routerLink="/home/journeys" (click)="clearSearch()" routerLinkActive="active"
          #navJourneysIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Journeys icon">list</mat-icon>
        </a></li>
      <li title="Dashboard"><a href="#" routerLink="/home" (click)="clearSearch()" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" #navHomeIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Dashboard icon">home</mat-icon>
        </a></li>
      <li title="Wishlist"><a href="#" routerLink="/home/wishlist" (click)="clearSearch()" routerLinkActive="active"
          #navWishlistIcon>
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Search icon">star_border</mat-icon>
        </a></li>
    </ul>
  </div>

</div>
<toast-list [notifications]="notificationService.messages | async"></toast-list>
