<mat-sidenav-container class="sidenav-container" mode="push">
	<!-- Nav -->
  <mat-sidenav mode="side" role="navigation" opened>
    <ul class="sidenav">
      <li><a href="#" routerLink="">
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Dashboard icon">home</mat-icon>
        </a></li>
      <li><a href="#" routerLink="/journeys">
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Journeys icon">list</mat-icon>
        </a></li>
      <li><a href="#" routerLink="/search">
          <mat-icon [inline]="true" aria-hidden="false" aria-label="Search icon">search</mat-icon>
        </a></li>
    </ul>
  </mat-sidenav>
  <!-- Content -->
  <mat-sidenav-content role="main">

    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      <span>Tracker</span>
      <div class="spacer"></div>
      <div #dropdownButton>
        <mat-icon (click)="toggleAccountDropdown()" style="cursor: pointer;">account_box</mat-icon>
      </div>
      <account-dropdown [dropdownItems]="dropdownItems" [displayDropdown]="displayDropdown"></account-dropdown>
		</div>
    
    <!-- Content Router -->
    <div class="content" role="main">
      <router-outlet></router-outlet>
      <!-- Footer -->
      <footer></footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
