:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  color: var(--titles-primary-dark);
  background-color: var(--titles-primary-dark);
}

p {
  margin: 0;
  color: var(--text-dark);
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 6vh;
  display: flex;
  align-items: center;
  background-color: var(--background-dark);
  font-weight: 600;
  padding: 0 20px;
}

.toolbar mat-icon.mat-icon {
  color: var(--accent-dark);
  /* width: 80px;
	height: 80px; */
  text-align: center;
  line-height: 24pt;
  font-size: 24pt;
  margin-right: 15px;
}

.toolbar span {
  color: var(--titles-primary-dark);
  font-size: 18pt;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 20px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.sidenav-container.mat-sidenav-container.mat-drawer-container {
  display: inline-block;
  height: 100vh;
  width: 80vw;
}

ul.sidenav {
  list-style: none;
  padding: 0;
  text-align: center;
  padding-top: 30px;
}

.sidenav li {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--accent-background-dark);
  vertical-align: middle;
  padding: 0;
  margin: 0;
  margin: 15px auto;
}

.sidenav li:hover {
  background-color: var(--accent-hover-dark);
}

.sidenav a {
  text-align: center;
  vertical-align: middle;
}

mat-sidenav-container {
  margin: 0;
  overflow-y: hidden;
  min-height: 100%;
  min-width: 100%;
}

mat-sidenav {
  background-color: var(--secondary-dark);
  min-height: 100%;
  padding: 0 10px;
}

.sidenav mat-icon {
  color: var(--titles-secondary-dark);
  margin: auto;
  line-height: 42pt;
  font-size: 25pt;
  margin: auto 0;
  display: inline;
  vertical-align: middle;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

.content {
  display: flex;
  /* margin: 32px auto; */
  width: 100%;
  /* height: 100%; */
  flex-direction: column;
  align-items: center;
  background-color: var(--background-dark);
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: 100vh;
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
  margin: auto;
  display: inline-block;
  width: 100%;
  height: 100%;
}

a:hover {
  color: #125699;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
