.spacer {
  flex: 1;
}

.toolbar {
  height: 5vh;
  display: flex;
  align-items: center;
  background-color: var(--bg);
  font-weight: 600;
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.479), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toolbar mat-icon.mat-icon {
  color: var(--accent);
  text-align: center;
  line-height: 38pt;
  font-size: 34pt;
  margin-right: 30px;
}

text-field.toolbar-item {
  width: 280px;
  margin: 0 15px;
}

.toolbar span {
  color: var(--titles-primary);
  font-size: 18pt;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 20px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.search .input-container div {
  height: 5px;
}

.sidenav-container.mat-sidenav-container.mat-drawer-container {
  display: inline-block;
  height: 100vh;
  width: 85vw;
}

ul.sidenav {
  list-style: none;
  padding: 30px 5px;
  text-align: center;
  /* padding-top: 30px; */
}

.sidenav li {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--element-bg-secondary);
  vertical-align: middle;
  padding: 0;
  margin: 15px auto;
  box-shadow: var(--shadow-neumorphic-nav);
}

.sidenav li:hover {
  background-color: var(--accent-hover);
}

.sidenav a {
  text-align: center;
  vertical-align: middle;
}

mat-sidenav-container {
  margin: 0;
  overflow-y: hidden;
  min-height: 100%;
  min-width: 100%;
}

mat-sidenav {
  background-color: var(--element-bg-secondary);
  min-height: 100%;
  padding: 0 5px;
}

.sidenav mat-icon {
  color: var(--titles-secondary);
  margin: auto;
  line-height: 42pt;
  font-size: 25pt;
  margin: auto 0;
  display: inline;
  vertical-align: middle;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

.sidenav a.active mat-icon, .bottomnav a.active mat-icon {
  color: var(--accent);
}

ul.bottomnav {
  list-style: none;
  padding: 15px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--element-bg-secondary);
  z-index: 5;
  margin: 0;
  margin-top: 15px;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

.bottomnav li {
  border-radius: 100%;
  vertical-align: middle;
  padding: 0;
  margin: auto;
}

.bottomnav mat-icon {
  color: var(--titles-secondary);
  margin: auto;
  line-height: 20pt;
  font-size: 18pt;
  margin: auto 0;
  display: inline;
  vertical-align: middle;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: 100vh;
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
  margin: auto;
  display: inline-block;
  width: 100%;
  height: 100%;
}

a:hover {
  color: #125699;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  .toolbar {
    padding: 15px 0;
  }
}
