<div class="landing-container">
  
  <div class="content">
    
    <h2 class="pulse">What's Up!</h2>
    <p class="greeting">Hope you're having a swell {{ timeOfDay }}! Let's help you learn a bit more about <i>Traccio</i> &#10024;</p>
    <p>If you're interested, you can check out the app's <a href="https://github.com/Duha-H/Traccio">public repository</a>, or <a href="https://github.com/Duha-H/Traccio/wiki">wiki</a>.</p>
    <div id="what-is" class="content-section">
      <h4><a class="content-link" (click)="scroll('what-is')">#</a> What is Traccio?</h4>
      <p><i>Traccio</i> is a job-hunt tracking application. It allows you to organize your job search, and keep track of applications you submitted using a simple and effective platform. No more lifeless text-files and spreadsheets. A job search can be soul-draining as it is, maybe <i>Traccio</i> can help make it just a bit more bareable?</p>
      <p><i>Traccio</i> also allows you to keep track of your job-hunt progress. Take note of when you're applying less frequently than you'd like, or how often have you heard back from companies! <i>Traccio</i> is meant to help you apply smart! No more applying to the same position twice (or 15 times), always have a clear vision of where you are in the process. Log in your application, and let <i>Traccio</i> handle the rest.</p>
    </div>
    
    <div id="features" class="content-section">
      <h4><a class="content-link" (click)="scroll('features')" role="button">#</a> Features</h4>
      <ul>
        <li>
          <img src="/assets/landing-graphics/graphic_list_1.svg" alt="Organize">
          <p><b>Organize</b> job hunts using Journeys. Separate them however convenient, and better visualize trends in your application processes.</p>
        </li>
        <li>
          <img src="/assets/landing-graphics/graphic_list_2.svg" alt="Organize">
          <p><b>Log</b> different details about a job application. Is your application still in review? Have you completed an online assessment? What documents did you submit? Log in and modify all these details, so they're easily available when, say, you're called in for an interview!</p>
        </li>
        <li>
          <img src="/assets/landing-graphics/graphic_data.svg" alt="Organize">
          <p><b>Visualize</b> your application progress in a given Journey. Your dashboard is the heart and soul of <i>Traccio</i>, use it to keep yourself motivated and constantly re-asses where you are in the process.</p>
        </li>
      </ul>
    </div>
    
    <div id="get-started" class="content-section">
      <h4><a class="content-link" (click)="scroll('get-started')">#</a> Get Started</h4>
      <p><a href="" routerLink="/signup">Sign up</a> for a <i>Traccio</i> account today!</p>
      <p>Use <i>Traccio</i> conveniently on mobile by adding it to your homescreen:</p>     
      <ul>
        <li>On <b>iOS</b>:
          <ul>
            <li>&#8226; &nbsp; Launch Safari, and go to <a href="https://www.traccio.app">traccio.app</a></li>
            <li>&#8226; &nbsp; Tap the Share icon (a square with an arrow pointing out) at the bottom of the screen</li>
            <li>&#8226; &nbsp; Select <i>Add to Home Screen</i> from the list of actions</li>
          </ul>
        </li>
        <li> On <b>Android</b>:<br>
          <ul>
            <li>&#8226; &nbsp; Launch the Chrome app, and go to <a href="https://www.traccio.app">traccio.app</a> <br></li>
            <li>&#8226; &nbsp; Tap the menu icon (three vertical dots icon) at the upper right-hand corner <br></li>
            <li>&#8226; &nbsp; Select <i>Add to homescreen</i> <br></li>
          </ul>
        </li>
      </ul>
    </div>
    
    <div id="support" class="content-section">
      <h4><a class="content-link" (click)="scroll('support')">#</a> Support & Feature Requests</h4>
      <p><i>Traccio</i> is an <a href="https://github.com/Duha-H/Tracker-App">open source</a> web application. For feature requests, bug reporting, or support, feel free to use any of the options provided below.</p>
      <ul>
        <li><b>Feature requests</b>:
          <ul>
            <li>
              &#8226; &nbsp; Email your feature request to <i>support@traccio.app</i>. Do try to use "Feature Request" in your subject line.
            </li>
            <li>
              &#8226; &nbsp; Open an issue in the app <a href="https://github.com/Duha-H/Tracker-App">repository</a>. However, be sure to check the <a href="https://github.com/Duha-H/Tracker-App/wiki/Roadmap">app roadmap</a> first for planned features, your request might already be a planned development!
            </li>
          </ul>
        </li>
        <li><b>Support</b>:
          <ul>
            <li>
              &#8226; &nbsp; If you're facing a specific issue with the app, email your support requests to <i>support@traccio.app</i>. Be sure to include any screenshots that might aid in resolving your issue. Add "Support Request" to your subject line.
            </li>
          </ul>
        </li>
        <li><b>Bug reports</b>:
          <ul>
            <li>
              &#8226; &nbsp; Email your bug reports to <i>support@traccio.app</i>. Be sure to include any screenshots that might aid in resolving your issue. Add "Bug Report" to your subject line.
            </li>
            <li>
              &#8226; &nbsp; Open an issue in the app <a href="https://github.com/Duha-H/Tracker-App">repository</a>. Be sure to include any screenshots or reproduction steps to help with the bug squashing!
            </li>
          </ul>
        </li>
      </ul>
    </div>
    
    <div id="tips" class="content-section">
      <h4><a class="content-link" (click)="scroll('tips')">#</a> Tips</h4>
      <p>Enjoying your <i>Traccio</i> experience and would like to support it somehow? Tips are currently accepted through <a href="https://paypal.me/traccioapp">PayPal</a> :).
        <br><a href="https://paypal.me/traccioapp"><img src="/assets/tip_button.png" style="width: 180px; padding-top: 20px;"></a></p>
    </div>
  </div>


  <div class="sidenav" title="FAQ navigation" #sidenav>
    <mat-icon class="nav-toggle" (click)="displayNav()" *ngIf="!(resizeService.mobileSize$ | async) || !displayMobileNav">keyboard_arrow_left</mat-icon>
    <mat-icon class="nav-toggle" (click)="displayNav()" *ngIf="(resizeService.mobileSize$ | async) && displayMobileNav">clear</mat-icon>
    <ul *ngIf="displayMobileNav">
      <li (click)="scroll('what-is')">
        <mat-icon>keyboard_arrow_right</mat-icon>
        What is <b><i>Traccio</i></b>?
      </li>
      <li (click)="scroll('features')">
        <mat-icon>keyboard_arrow_right</mat-icon>
        Features
      </li>
      <li (click)="scroll('get-started')">
        <mat-icon>keyboard_arrow_right</mat-icon>
        Get Started
      </li>
      <li (click)="scroll('support')">
        <mat-icon>keyboard_arrow_right</mat-icon>
        Support & Feature Requests
      </li>
      <li (click)="scroll('tips')">
        <mat-icon>keyboard_arrow_right</mat-icon>
        Tips
      </li>
    </ul>
  </div>

  <!-- <div class="sidenav" *ngIf="!(resizeService.mobileSize$ | async)">
    <ul>
      <li (click)="scroll('what-is')">
        <mat-icon>keyboard_arrow_right</mat-icon>
        What is <b><i>Traccio</i></b>?
      </li>
      <li (click)="scroll('features')">
        <mat-icon>keyboard_arrow_right</mat-icon>
        Features
      </li>
      <li (click)="scroll('get-started')">
        <mat-icon>keyboard_arrow_right</mat-icon>
        Get Started
      </li>
      <li (click)="scroll('support')">
        <mat-icon>keyboard_arrow_right</mat-icon>
        Support & Feature Requests
      </li>
      <li (click)="scroll('tips')">
        <mat-icon>keyboard_arrow_right</mat-icon>
        Tips
      </li>
    </ul>
  </div> -->
  
  
</div>