ul {
  list-style: none;
  padding: 0;
}

ul ul {
  padding-left: 15px;
}

li {
  padding: 5px 0;
  font-weight: 500;
  color: var(--text);
}

.landing-container.about {
  padding: 20px;
  display: flex;
  flex-direction: row;
  max-width: var(--max-landing-width);
  margin: 0 auto;
}

.landing-container h2 {
  color: var(--accent);
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

.landing-container h4 {
  color: var(--accent);
  font-size: 1.25em;
  font-weight: 600;
}

.landing-container a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 600;
}

.landing-container a:hover {
  text-decoration: underline;
}

.landing-container h4 a.content-link {
  opacity: 0;
  color: var(--text);
  font-size: 1em;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.landing-container h4:hover a.content-link {
  opacity: 1;
}

.landing-container h4:hover a.content-link:hover {
  text-decoration: underline;
}

p.greeting {
  font-weight: 600;
}

.pulse {
  transform-origin: center;
  box-sizing: border-box;
  animation: 0.5s pulse-title alternate;
}

.spanning-content {
  align-items: center;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
}

.sidenav li {
  color: var(--titles-secondary);
  cursor: pointer;
  font-weight: 500;
  padding: 5px 0;
}

.sidenav li:hover {
  color: var(--accent);
}

.sidenav li mat-icon, .content-section li mat-icon {
  font-size: 1em;
  width: 15px;
  height: 15px;
}

.sidenav {
  min-width: auto;
  height: max-content;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
  align-items: flex-start;
  position: sticky;
  top: 20px;
}

.sidenav ul {
  background: var(--element-bg);
  border-radius: 0px 15px 15px;
  padding: 15px;
  margin: 0;
  position: static;
  font-weight: 600;
}

mat-icon.nav-toggle {
  cursor: pointer;
  color: var(--titles-secondary);
  background-color: var(--element-bg);
  border-radius: 10px 0px 0px 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  font-weight: lighter;
}

mat-icon.nav-toggle:hover {
  color: var(--accent);
}

.content {
  /* height: auto;
  overflow-y: hidden;
  padding: 20px; */
  width: 100%;
  height: auto;
  padding: 0;
  margin: 20px 0;
  overflow: inherit;
}


div.content-section {
  padding: 20px 0;
}

#features li {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 15px 0;
}

#features li img {
  min-width: 8em;
  max-width: 8em;
  margin-right: 25px;
  margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
  /* .sidenav {
    min-width: 150px;
  } */
}

@media screen and (max-width: 500px) {
  ul ul {
    padding-left: 10px;
  }

  .mobile-nav {
    width: 60%;
    position: absolute;
    right: 40px;
  }

  .mobile-nav ul {
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
    background-color: var(--bg);
    margin-top: 0;
    border-radius: 5px;
    /* box-shadow: 3px 3px 20px #bdb8b891; */
    box-shadow: var(--shadow-auth-element);
    animation: 0.35s slide-down ease-in-out;
    transform-origin: top;
  }

  .mobile-nav li {
    color: var(--titles-secondary);
    cursor: pointer;
    font-weight: 500;
    padding: 5px 0;
  }

  .mobile-nav li:hover {
    background-color: var(--titles-secondary);
    color: var(--bg);
  }

  #features li {
    flex-direction: column;
    align-items: center;
  }

  #features li p {
    text-align: justify;
  }

  .sidenav {
    min-width: 0;
    position: absolute;
    top: var(--header-height);
    right: 0;
  }
  
  .sidenav.expanded {
    width: 80%;
    background-color: var(--element-bg);
    flex-direction: column;
    left: 0;
    right: 0;
    margin: 0px auto 30px auto;
    box-shadow: var(--shadow-auth-element);
    border-radius: 15px;
    padding: 15px;
    overflow: auto;
  }

  .sidenav.expanded ul {
    padding: 15px 5px;
  }

  .sidenav.expanded mat-icon.nav-toggle {
    width: 100%;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    text-align: right;
  }
}

@media screen and (max-width: 350px) {
  .landing-container {
    padding: 25px;
  }
}

@keyframes pulse-title {
  from {
    transform: scale(1.35);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-down {
  from {
    transform: scaleY(0%) translateY(-10%);
  }
  to {
    transform: scaleY(100%) translateY(0);
  }
}