ul {
  list-style: none;
  padding: 0;
}

ul ul {
  padding-left: 15px;
}

li {
  padding: 5px 0;
  font-weight: 500;
}

.landing-container {
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
}

.landing-container h2 {
  color: #88A3FB;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

.landing-container h4 {
  color: #88A3FB;
  font-size: 1.25em;
  font-weight: 600;
}

.landing-container a {
  text-decoration: none;
  color: #88A3FB;
  font-weight: 600;
}

.landing-container a:hover {
  text-decoration: underline;
}

.landing-container a.content-link {
  font-size: 1em;
  font-weight: 700;
}

p.greeting {
  font-weight: 600;
}

.pulse {
  transform-origin: center;
  box-sizing: border-box;
  animation: 0.5s pulse-title alternate;
}

.spanning-content {
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
  position: sticky;
  top: 0;
}

.sidenav {
  min-width: 250px;
}

.sidenav ul {
  list-style: none;
  position: sticky;
  top: 20px;
  padding: 0;
}

.sidenav li {
  color: var(--titles-secondary);
  cursor: pointer;
  font-weight: 500;
  padding: 5px 0;
}

.sidenav li:hover {
  color: #88A3FB;
}

.sidenav li mat-icon, .content-section li mat-icon {
  font-size: 1em;
  width: 15px;
  height: 15px;
}

mat-icon.nav-toggle {
  cursor: pointer;
  color: var(--titles-secondary);
}

mat-icon.nav-toggle:hover {
  color: var(--accent);
}

.content {
  height: auto;
  overflow-y: hidden;
  padding: 20px;
}

div.content-section {
  padding: 20px 0;
}

#features li {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 15px 0;
}

#features li img {
  min-width: 8em;
  max-width: 8em;
  margin-right: 25px;
  margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
  .sidenav {
    min-width: 150px;
  }
}

@media screen and (max-width: 500px) {
  ul ul {
    padding-left: 10px;
  }

  .mobile-nav {
    width: 60%;
    position: absolute;
    right: 40px;
  }

  .mobile-nav ul {
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
    background-color: var(--bg);
    margin-top: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 20px #bdb8b891;
    animation: 0.35s slide-down ease-in-out;
    transform-origin: top;
  }

  .mobile-nav li {
    color: var(--titles-secondary);
    cursor: pointer;
    font-weight: 500;
    padding: 5px 0;
  }

  .mobile-nav li:hover {
    background-color: var(--titles-secondary);
    color: white;
  }

  #features li {
    flex-direction: column;
    align-items: center;
  }

  #features li p {
    text-align: justify;
  }
}


@keyframes pulse-title {
  from {
    transform: scale(1.35);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-down {
  from {
    transform: scaleY(0%) translateY(-10%);
  }
  to {
    transform: scaleY(100%) translateY(0);
  }
}