<div class="container">
  <img *ngIf="resizeService.mobileSize$ | async" src="/assets/bg-60.svg" alt="" style="z-index: -1; width: 150%; position: fixed; top: 0; left: 0;">

  <div class="header">
    <a routerLink="/" id="logo">
      <img src="{{(resizeService.mobileSize$ | async) ? '/assets/logo_no_text@2x.png' : '/assets/logo_traccio@2x.png'}}" alt="Logo" class="logo">
    </a>
    <div class="spacer"></div>
    <a routerLink="/about">About</a>
    <a *ngIf="!(resizeService.mobileSize$ | async) && router.url != '/signup'" class="header-btn alt" routerLink="/signup">Sign up</a>
    <a *ngIf="!(resizeService.mobileSize$ | async) && router.url != '/signin'" class="header-btn" routerLink="/signin">Sign in</a>
  </div>

  <router-outlet></router-outlet>

  <div class="fixed-footer" *ngIf="(resizeService.mobileSize$ | async) && router.url != '/signin' && router.url != '/signup'">
    <a class="header-btn alt" routerLink="/signup">Sign up</a>
    <a class="header-btn" routerLink="/signin">Sign in</a>
  </div>

  <div class="footer">
    <p>This is a footer and stuff</p>
  </div>

</div>