tspan {
  font-size: 0.8em;
}

/* Dashboard Animations */
#Dashboard {
  --press-duration: 2s;
}

#Dashboard #toggle-week {
  /* animation: var(--press-duration) toggle-press alternate; */
}

#Dashboard #toggle-month {
  /* opacity: 0; */
  /* animation: 0.5s toggle-appear; */
  animation-delay: var(--press-duration);
}

#Dashboard #graph-week, #Dashboard #graph-month {
  opacity: 0;
}

@keyframes toggle-press {
  from {
    transform: scale(5);
  }

  to {
    transform: scale(0.5);
  }
}

@keyframes toggle-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}