a {
  white-space: nowrap;
}

.container {
  /* background-image: url('/assets/bg-60.svg'); */
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 0;
  text-align: center;
}

.landing-container {
  text-align: left;
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  box-sizing: border-box;
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 10px 20px;
  padding-bottom: 10px;
}

.landing-card a:not(.header-btn):hover,
.landing-card.card-4 a:not(.header-btn):hover {
  border-bottom: 5px solid var(--accent-hover);
}

a#logo {
  margin: 0;
}

img.logo {
  max-height: 45px;
}

button.header-btn, a.header-btn {
  border-radius: 5px;
  border: 2px solid #88A3FB;
  background-color: #88A3FB;
  color: #F7F7F7;
  padding: 5px 20px;
  margin: 0 15px;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
}

button.header-btn:hover, a.header-btn:hover {
  cursor: pointer;
}

button.header-btn.alt, a.header-btn.alt {
  background: none;
  color: #88A3FB;
  font-weight: 600;
  white-space: nowrap;
}

.landing-card.card-4 a.header-btn {
  margin: 0 auto;
  font-size: 1.25em;
}

.header a:not(.header-btn),
.landing-card a:not(.header-btn),
.landing-content a:not(.header-btn) {
  text-decoration: none;
  color: #88A3FB;
  font-weight: 600;
  margin: 0 25px;
}

.header a:hover {
  cursor: pointer;
}

div.card-parent {
  padding: 0 30px;
  visibility: hidden;
}

div.landing-card {
  max-width: 970px;
  height: 500px;
  margin: 0 auto;
  /* position: sticky; */
  /* padding: 15px; */
}

div.landing-card.card-1 {
  height: 700px;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;
}

div.landing-card.card-2 {
  max-width: 1200px;
  margin-top: 280px;
  /* top: 780px; */
  /* transform: translateX(-10%); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.landing-card.card-3 {
  margin-top: 280px;
  border: none;
  height: auto;
}

div.landing-card.card-4 {
  width: auto;
  height: auto;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

div.landing-card.card-1 img {
  animation: 0.5s slide-down linear;
}

div.landing-card.card-4 div.landing-content {
  position: relative;
  border-left: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}

div.landing-card.card-4 a:not(.header-btn) {
  margin: 10px auto;
  display: flex;
  align-items: center;
  border-bottom: 5px solid transparent;
}

div.landing-content {
  /* position: absolute; */
  padding: 35px;
  text-align: left;
  /* border-left: 6px solid var(--accent); */
}

.landing-content p {
  font-family: Inter var, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5em;
}

.landing-card.card-4 .landing-content p {
  font-size: 1.25em;
}

.card-1 div.landing-content {
  right: 0;
  bottom: 20%;
  width: 40%;
  position: static;
  margin-left: 20px;
}

.card-2 div.landing-content {
  width: 35%;
  bottom: 5%;
}

.card-3 div.landing-content {
  width: 40%;
  right: 0;
  bottom: 5%;
}

img.card-img {
  /* position: absolute; */
  /* box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.4); */
}

img.card-img.desktop {
  max-width: 65em;
  left: 40%;
  bottom: 0;
}

img.card-img.desktop-alt {
  max-width: 40em;
}

img.card-img.desktop-alt#desktop-alt-1 {
  left: 10%;
  top: -10%;
}

img.card-img.desktop-alt#desktop-alt-2 {
  right: 45%;
  top: 35%;
}

img.card-img.mobile {
  max-width: 12em;
  left: 100%;
  bottom: 0;
}

div.graphic-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
}

div.graphic-component:nth-child(even) {
  display: flex;
  align-items: center;
  margin: 80px auto;
}

div.graphic-component p {
  box-sizing: border-box;
  font-weight: 400;
  text-align: left;
}

div.graphic-component ul {
  list-style: none;
  padding: 0;
  width: 25em;
  box-sizing: border-box;
}

div.graphic-component li {
  padding: 20px 30px;
  border-left: 6px solid var(--accent);
}

div.graphic-component li.visible {
  animation: 0.3s graphic-pulse linear;
}

div.graphic-component li:not(.visible) {
  opacity: 0.5;
  border-left: 6px solid transparent;
}

div.graphic-component li:not(.visible):hover,
div.graphic-component li:hover {
  opacity: 0.7;
  cursor: pointer;
  border-left: 6px solid var(--accent);
}

div.graphic-component graphic-dashboard,
div.graphic-component graphic-journeys,
div.graphic-component graphic-application,
div.graphic-component graphic-search {
  max-width: 35em;
  width: 100%;
  margin: 0 40px;
  animation: 0.3s graphic-pulse linear;
}

.card-4 .landing-content p#call-to-action {
  font-size: 2em;
  font-weight: 700;
}

div.footer {
  width: 100%;
  height: 200px;
  background-color: rgba(var(--bg), 0.4);
  z-index: 2;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  text-align: center; 
  margin-top: 280px;
}

div.fixed-footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 25px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background: var(--bg);
  animation: slide-up 0.5s linear;
  box-shadow: var(--shadow-auth-element);
  box-sizing: border-box;
}

div.card-parent.card-visible {
  animation: card-appear 1.15s linear;
  visibility: visible;
}

img.link-icon {
  max-width: 30px;
  margin: 0 10px;
}

footer {
  margin: 0 100px;
  margin-top: 200px;
  border-top: 0.7 solid var(--titles-secondary);
}

@keyframes card-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    bottom: -40%;
  }
  to {
    bottom: 0;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes graphic-pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.10);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 900px) {

  .card-1 div.landing-content {
    right: 0;
    bottom: 5%;
    width: 80%;
    margin-left: 0;
  }

  div.landing-card.card-1 {
    margin-top: 20%;
    flex-direction: column;
  }

  div.landing-card.card-2 {
    /* display: flex; */
    /* flex-direction: column; */
    /* transform: translateX(0); */
  }
  
  .card-2 div.landing-content {
    width: 75%;
    top: 0;
  }

  img.card-img.desktop {
    max-width: 50em;
    width: 100%;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* bottom: 0; */
  }

  img.card-img.mobile {
    max-width: 10em;
    left: 80%;
  }
  
  img.card-img.desktop-alt {
    max-width: 35em;
  }

  img.card-img.desktop-alt#desktop-alt-1 {
    left: -10%;
    top: 30%;
  }

  img.card-img.desktop-alt#desktop-alt-2 {
    left: 30%;
    top: 40%;
  }

  .card-3 div.landing-content {
    width: 80%;
    right: 0;
    top: 0;
  }

  div.graphic-component {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  div.graphic-component:nth-child(even) {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .container {
    background-image: none;
  }

  img.logo {
    max-height: 3vh;
  }

  .header a:not(.header-btn) {
    margin-right: 15px;
  }

  div.landing-card {
    border: none;
  }

  img.card-img {
    position: unset;
  }

  div.card-img-group {
    display: flex;
    flex-direction: row;
  }

  .card-1 div.landing-content {
    left: 0;
    bottom: 20%;
    width: 100%;
  }

  div.landing-card.card-1 {
    margin-top: 40vh;
    height: auto;
  }

  div.landing-card.card-1 img {
    max-height: 350px;
  }
  
  .card-2 div.landing-content {
    width: 100%;
    bottom: 5%;
    position: relative;
  }

  div.landing-card.card-2, div.landing-card.card-3 {
    display: flex;
    flex-direction: column;
    transform: none;
    align-items: center;
  }

  div.landing-card.card-3 {
    padding: 0;
  }
  
  .card-3 div.landing-content {
    width: 100%;
    position: unset;
  }

  img.card-img.desktop-alt {
    width: 120%;
  }

  div.graphic-component {
    margin: 60px auto;
  }

  div.graphic-component graphic-dashboard,
  div.graphic-component graphic-journeys,
  div.graphic-component graphic-application,
  div.graphic-component graphic-search {
    width: 100%;
  }

  div.graphic-component p {
    width: 100%;
  }

  .card-4 .landing-content p#call-to-action {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 350) {
  div.landing-card.card-1 {
    margin-top: 0;
    background-color: red;
  }
}