<div class="container">
  <img *ngIf="resizeService.mobileSize$ | async" src="/assets/Path 1.svg" alt="" style="z-index: -1; width: 150%; position: fixed; top: 0; left: 0;">

  <div class="header">
    <img src="{{(resizeService.mobileSize$ | async) ? '/assets/logo_no_text@2x.png' : '/assets/logo_traccio@2x.png'}}" alt="Logo" class="logo">
    <div class="spacer"></div>
    <a>About</a>
    <a *ngIf="!(resizeService.mobileSize$ | async)" class="header-btn alt" routerLink="/signup">Sign up</a>
    <a *ngIf="!(resizeService.mobileSize$ | async)" class="header-btn" routerLink="/signin">Sign in</a>
  </div>

  <div class="card-parent card-visible" #card>
    <div class="landing-card card-1">
      <div class="landing-content">
        <img src="/assets/logo_traccio@2x.png" alt="traccio logo" style="max-width: 70%">
        <p>Say goodbye to dull text files and spreadsheets, track your job search the right way.</p>
        <a class="header-btn" routerLink="/signup" style="margin-left: 0;">Join now</a>
        <a href="" routerLink="/about">Learn more <mat-icon [inline]="true" aria-hidden="false">keyboard_arrow_right</mat-icon></a>
      </div>
    </div>
  </div>

  <div class="card-parent" #card>
    <div class="landing-card card-2">
      <div class="landing-content">
        <!-- <img src="/assets/logo_traccio@2x.png" alt="traccio logo" style="max-width: 22.5em"> -->
        <p>traccio allows you to efficiently analyze and track your job search journey.</p>
      </div>
      <div class="card-img-group">
        <img src="{{(resizeService.mobileSize$ | async) ? '/assets/mobile_journey_list.png' : '/assets/dashboard_light_desktop.svg'}}" alt="" class="{{(resizeService.mobileSize$ | async) ? 'card-img mobile' : 'card-img desktop'}}">
        <img src="/assets/dashboard_light_mobile.svg" alt="" class="card-img mobile" >
      </div>
      
    </div>
  </div>
  
  <div class="card-parent" #card>
    <div class="landing-card card-3">
      <img src="/assets/card3_app_list.png" alt="" class="card-img desktop-alt" id="desktop-alt-1">
      <img src="/assets/card3_app_details.png" alt="" class="card-img desktop-alt" id="desktop-alt-2">
      <div class="landing-content">
        <p>Keep track of applications you submitted.<br>Never apply to the same position twice again!<br>Oh, did we mention it's free?</p>
      </div>
    </div>
  </div>
  
  <div class="fixed-footer" *ngIf="resizeService.mobileSize$ | async">
    <a class="header-btn alt" routerLink="/signup">Sign up</a>
    <a class="header-btn" routerLink="/signin">Sign in</a>
  </div>

  <div class="footer">
    <p>This is a footer and stuff</p>
  </div>
  
</div>
