a {
  white-space: nowrap;
}

.container {
  background-image: url('/assets/Path 1.svg');
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-top: 0;
  text-align: center;
}

.landing-container {
  text-align: left;
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  height: 5vh;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 10px 20px;
  z-index: 2;
  position: sticky;
}

a#logo {
  margin: 0;
}

img.logo {
  max-width: 150px;
}

button.header-btn, a.header-btn {
  border-radius: 5px;
  border: 2px solid #88A3FB;
  background-color: #88A3FB;
  color: #F7F7F7;
  padding: 5px 20px;
  margin: 0 15px;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
}

button.header-btn:hover, a.header-btn:hover {
  cursor: pointer;
}

button.header-btn.alt, a.header-btn.alt {
  background: none;
  color: #88A3FB;
  font-weight: 600;
  white-space: nowrap;
}

.header a:not(.header-btn), .landing-card a:not(.header-btn) {
  text-decoration: none;
  color: #88A3FB;
  font-weight: 600;
  margin: 0 25px;
}

.header a:hover {
  cursor: pointer;
}

div.card-parent {
  padding: 0 60px;
  visibility: hidden;
}

div.landing-card {
  border: 5px solid #88A3FB;
  max-width: 970px;
  height: 500px;
  margin: 0 auto;
  position: sticky;
  padding: 15px;
  animation: card-appear 1s linear;
}

div.landing-card.card-1 {
  margin-top: 200px;
  /* top: 280px; */
}

div.landing-card.card-2 {
  margin-top: 300px;
  /* top: 780px; */
  transform: translateX(-10%);
}

div.landing-card.card-3 {
  margin-top: 380px;
  border: none;
  height: auto;
}

div.landing-content {
  position: absolute;
  padding: 15px;
  text-align: left;
}

.landing-content p {
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
  font-size: 1.5em;
}

.card-1 div.landing-content {
  right: 0;
  bottom: 20%;
  width: 50%;
}

.card-2 div.landing-content {
  width: 35%;
  bottom: 5%;
}

.card-3 div.landing-content {
  width: 40%;
  right: 0;
  bottom: 5%;
}

img.card-img {
  position: absolute;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.4);
}

img.card-img.desktop {
  max-width: 60em;
  left: 40%;
  bottom: 0;
}

img.card-img.desktop-alt {
  max-width: 40em;
}

img.card-img.desktop-alt#desktop-alt-1 {
  left: 10%;
  top: -10%;
}

img.card-img.desktop-alt#desktop-alt-2 {
  right: 45%;
  top: 35%;
}

img.card-img.mobile {
  max-width: 12em;
  left: 100%;
  bottom: 0;
}

div.graphic-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 80px auto;
  /* flex-wrap: wrap; */
}

div.graphic-component:nth-child(even) {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  margin: 80px auto;
  /* flex-wrap: wrap-reverse; */
}

div.graphic-component p {
  width: 35em;
  box-sizing: border-box;
  margin: 20px;
  padding: 0 40px;
  font-weight: 600;
}

div.graphic-component graphic-dashboard,
div.graphic-component graphic-journeys,
div.graphic-component graphic-application,
div.graphic-component graphic-search {
  width: 40em;
}

div.footer {
  width: 100%;
  height: 200px;
  background-color: rgba(var(--bg), 0.4);
  z-index: 2;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  text-align: center; 
  margin-top: 280px;
}

div.fixed-footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: calc(100% - 80px);
  padding: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background: var(--bg);
  animation: slide-up 0.5s linear;
  box-shadow: var(--shadow-auth-element);
}

div.card-parent.card-visible {
  animation: card-appear 1.15s linear;
  visibility: visible;
}

@keyframes card-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    bottom: -20%;
  }
  to {
    bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  div.card-parent {
    padding: 0 70px;
  }

  .card-1 div.landing-content {
    right: 0;
    bottom: 5%;
    width: 75%;
  }

  div.landing-card.card-2 {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
  }
  
  .card-2 div.landing-content {
    width: 75%;
    top: 0;
    /* bottom: 5%; */
  }

  img.card-img.desktop {
    max-width: 50em;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  img.card-img.mobile {
    max-width: 10em;
    left: 80%;
  }
  
  img.card-img.desktop-alt {
    max-width: 35em;
  }

  img.card-img.desktop-alt#desktop-alt-1 {
    left: -10%;
    top: 30%;
  }

  img.card-img.desktop-alt#desktop-alt-2 {
    left: 30%;
    top: 40%;
  }

  .card-3 div.landing-content {
    width: 80%;
    right: 0;
    top: 0;
  }

  div.graphic-component {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  div.graphic-component:nth-child(even) {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .container {
    background-image: none;
  }

  img.logo {
    max-height: 3vh;
  }

  .header a:not(.header-btn) {
    margin-right: 15px;
  }

  div.card-parent {
    padding: 0 30px;
  }

  div.landing-card {
    border: none;
  }

  img.card-img {
    position: unset;
  }

  div.card-img-group {
    display: flex;
    flex-direction: row;
  }

  .card-1 div.landing-content {
    left: 0;
    bottom: 20%;
    width: 100%;
  }

  div.landing-card.card-1 {
    margin-top: 60%;
  }
  
  .card-2 div.landing-content {
    width: 100%;
    bottom: 5%;
    position: relative;
  }

  div.landing-card.card-2, div.landing-card.card-3 {
    display: flex;
    flex-direction: column;
    transform: none;
    align-items: center;
  }

  div.landing-card.card-3 {
    padding: 0;
  }
  
  .card-3 div.landing-content {
    width: 100%;
    position: unset;
  }

  img.card-img.desktop-alt {
    width: 120%;
  }

  div.graphic-component {
    margin: 60px auto;
  }

  div.graphic-component graphic-dashboard,
  div.graphic-component graphic-journeys,
  div.graphic-component graphic-application,
  div.graphic-component graphic-search {
    width: 100%;
  }

  div.graphic-component p {
    width: 100%;
  }
}