<div class="container">
  <section class="main">
    <div class="faq-section">
      <div class="flex-column">
        <div class="spanning-content">
          <h2>Have some uncertainties about
          <img src="/assets/logo_light@2x.png" alt="Traccio logo" class="inline-logo">
          ?
          </h2>
        </div>
        <p>The FAQs below could hopefully help! 🙌</p>
      </div>
      <img src="/assets/landing-graphics/faq_graphic.svg" alt="Graphic of an abstract terrain with way-markers and a briefcase at the horizon, and floating question marks in the background" class="hero-img">
    </div>
    
  </section>
  <section class="questions">
    <div class="faq-section">
      <app-faq [rootUrl]="'/faq'"></app-faq>
    </div>
  </section>
</div>
