.container {
  padding-top: 0;
}

img.hero-img {
  width: 600px;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

section {
  padding: 0 20px;
}

section.main {
  padding: 40px 20px;
  background-color: var(--accent-hover);
}

.landing-section {
  max-width: var(--max-landing-width);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.landing-section.col {
  flex-direction: column;
  align-items: center;
}

.landing-section.alt {
  align-items: flex-start;
  max-width: 1000px;
}

.landing-section .spanning-content {
  text-align: left;
  align-items: flex-end;
}

.landing-section h2 {
  color: #121217;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.landing-section p {
  text-align: left;
  color: #121217;
}

img.inline-logo {
  max-width: 150px;
  margin: 0 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav.faq {
  position: sticky;
  top: 0px;
  padding: 20px;
  margin-top: 50px;
}

nav.faq ul {
  list-style: none;
  padding: 0;
  width: 150px;
}

nav.faq p.heading {
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  color: #121217;
}

nav.faq li {
  padding: 5px 0;
  text-align: left;
}

nav.faq li a, .call-to-action p a {
  text-decoration: none;
  font-weight: 600;
  color: var(--accent);
}

nav.faq li a:hover, .call-to-action p a:hover {
  text-decoration: underline;
}

.call-to-action h3 {
  color: #121217;
}

.call-to-action p {
  text-align: center;
  color: #121217;
}

@media screen and (max-width: 900px) {
  .landing-section:not(.col) {
    flex-direction: column-reverse;
  }

  .landing-section h2 {
    text-align: center;
    justify-content: center;
  }

  .landing-section:not(.alt) .flex-column {
    align-items: center;
  }

  nav.faq {
    position: static;
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  section.main {
    height: 75vh;
    display: flex;
  }
}