a {
  white-space: nowrap;
}

.page-content {
  width: 100%;
  min-height: 80%;
  display: inline-flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 0;
  position: relative;
  overflow-y: scroll;
}

.landing-container {
  text-align: left;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.hero-background {
  background-color: var(--accent-hover);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}

.header {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: var(--max-landing-width);
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 5px 20px;
  margin: 0 auto;
  box-shadow: #CFCFEEE3 0px 1px 0px;
}

.header img.logo {
  width: 2.5em;
}

section.landing-section {
  margin: 0 auto;
  padding: 0 20px;
}

section.landing-section.painted {
  background-color: var(--accent-hover);
}

a#logo {
  margin: 0;
}

img.logo {
  max-height: 45px;
}

button.header-btn, a.header-btn {
  border-radius: 5px;
  border: 2px solid var(--accent);
  background-color: var(--accent);
  color: #F7F7F7;
  padding: 5px 20px;
  margin-left: 20px;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
}

button.header-btn:hover, a.header-btn:hover {
  cursor: pointer;
}

button.header-btn.alt, a.header-btn.alt {
  background: none;
  color: var(--accent);
  font-weight: 600;
  white-space: nowrap;
}

.header a:not(.header-btn),
.landing-content a:not(.header-btn),
.nav a:not(.header-btn) {
  text-decoration: none;
  color: var(--accent);
  font-weight: 500;
  margin: 0 15px;
}

.header a:hover {
  cursor: pointer;
}

.hero-div {
  height: 90vh;
  max-width: var(--max-landing-width);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.hero-div h3, .landing-div h3 {
  color: #121217;
  font-weight: 600;
  margin: 40px 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  max-width: 40%;
}

img.hero-img {
  width: 700px;
  max-width: 60%;
}

.landing-div {
  max-width: var(--max-landing-width);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}

.landing-div.reverse {
  flex-direction: row-reverse;
}

.landing-div p {
  max-width: 30rem;
  line-height: 1.5em;
}

.landing-div p.heading {
  color: var(--accent);
  font-size: 1.15em;
}

.landing-div img {
  padding-left: 0;
  padding-right: 50px;
}

.landing-div.reverse img {
  padding-left: 50px;
  padding-right: 0;
}

.landing-div.call-to-action {
  background-color: var(--accent-hover);
  padding: 50px 0;
}

.landing-div.call-to-action:last-of-type {
  margin-bottom: 0;
  padding: 100px 0;
}

.call-to-action h3, .call-to-action h2 {
  color: var(--accent);
  text-align: center;
}

footer.landing-footer {
  display: flex;
  flex-direction: column;
  opacity: 1;
  margin: 0;
  padding-top: 0;
}

div.footer {
  width: 100%;
  max-width: var(--max-landing-width);
  padding: 50px 0px;
  border-top: 1px solid var(--accent-hover);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  box-sizing: border-box;
}

div.footer img.logo {
  max-height: 6em;
  width: auto;
}

.footer-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 50px;
  padding-bottom: 20px;
  align-items: flex-start;
}

.footer-item:not(.alt) {
  max-width: 200px;
}

.footer-item:last-of-type {
  padding-right: 0;
}

.footer-item p.heading {
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}

.footer-item a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
  padding-top: 10px;
  white-space: normal;
}

.footer-item a:hover {
  text-decoration: underline;
}

/* .footer-item a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  display: block;
  height: 1px;
  right: 100%;
  left: 0;
  position: absolute;
  background: var(--accent);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.footer-item a:hover:after {
  width: 100%; 
  right: 0;
} */

img.inline-logo {
  max-width: 20px;
  margin: 0 10px;
}

img.screenshot {
  width: 1200px;
  max-width: 80%;
  max-height: 800px;
}

p.compound-text {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-weight: 600;
  color: var(--accent);
  white-space: nowrap;
  flex-wrap: wrap;
}

p.compound-text a {
  padding: 0;
  margin-left: 5px;
  white-space: normal;
}

nav {
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  /* background-color: #CFCFEED1; */
  z-index: 99;
}

.mobile-nav a, .mobile-nav a:not(.header-btn) {
  margin: 10px 0;
  cursor: pointer;
}

.mobile-nav button, .header button {
  background-color: transparent;
  border: none;
}

ul.mobile-nav {
  display: none;
}

ul.mobile-nav.visible { 
  display: block;
  list-style: none;
  padding: 0 20px;
  padding-bottom: 15px;
  margin: 0;
  box-shadow: 0 20px 20px -20px #a2a1a191;
  position: fixed;
  top: var(--header-height);
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #f2f2f2cc;
}

ul.mobile-nav li {
  padding: 25px;
  transform: translateY(-10%);
  opacity: 0;
  text-align: left;
}

ul.mobile-nav.visible li {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.1s ease-in-out;
}

ul.mobile-nav.visible li:nth-child(2) {
  animation-delay: 0.4s;
  transition-delay: 0.1s;
}

ul.mobile-nav.visible li:nth-child(3) {
  animation-delay: 0.2s;
}

ul.mobile-nav.visible li:nth-child(4) {
  animation-delay: 0.3s;
}

ul.mobile-nav.visible li:nth-child(5) {
  animation-delay: 4s;
}

ul.mobile-nav.visible li:nth-child(6) {
  animation-delay: 0.5s;
}

ul.mobile-nav a:not(.header-btn) {
  color: var(--accent);
  font-weight: 600;
}

ul.mobile-nav.visible li a:hover {
  transform: translateY(-3px);
}

img.nav-icon {
  width: 30px;
  position: absolute;
}

button.nav-toggle {
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 2;
}

@keyframes card-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    bottom: -40%;
  }
  to {
    bottom: 0;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes graphic-pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.10);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 900px) {
  .hero-div {
    flex-direction: column-reverse;
  }

  .hero-content {
    align-items: center;
    max-width: 70%;
    margin: 30px;
  }

  .hero-content h3 {
    text-align: center;
  }

  img.hero-img {
    max-height: 300px;
    max-width: 100%;
  }

  .landing-div, .landing-div.reverse {
    flex-direction: column;
  }

  .landing-div img, .landing-div.reverse img {
    padding: 20px 0;
    max-width: 100%;
  }

  .landing-div p {
    text-align: center;
  }

  img.inline-logo {
    max-height: 1.5em;
    max-width: auto;
    margin: 5px 10px;
  }

  .footer img.logo {
    min-height: 4em;
    margin-left: 0;
    margin-right: 15px;
  }
}

@media screen and (max-width: 650px) {
  .footer-item.alt {
    flex-direction: row;
    align-items: center;
  }

  div.footer .spacer {
    flex: 0;
  }
}

@media screen and (max-width: 500px) {
  .container {
    background-image: none;
  }

  .header img.logo {
    width: 2.5em;
    margin: 0;
  }

  .header a:not(.header-btn) {
    margin-right: 15px;
  }

  .hero-content {
    max-width: 85%;
  }
}