
<div class="view-container">
	<div class="greeting">
		<h2>Hi there, {{ name }}!</h2>
	</div>
	<h3>Active Journeys</h3>
	<div *ngFor="let journey of journeys;" class="dashboard-carousel">
		<div class="journey-details">
			<div class="calendar-container">
				<calendar-wrapper [data]="data" [from]="'2016-03-01'" [to]="'2016-07-12'" [emptyColor]="'#21e6c214'"
					[colors]="[ '#61cdbb', '#97e3d5', '#e8c1a0', '#f47560' ]" [yearSpacing]="yearSpacing"
					[monthBorderColor]="'#24284d'" [dayBorderWidth]="dayBorderWidth" [dayBorderColor]="'#24284d'" [legends]="[
						{
							anchor: 'bottom-right',
							direction: 'row',
							translateY: 36,
							itemCount: 4,
							itemWidth: 42,
							itemHeight: 36,
							itemsSpacing: 14,
							itemDirection: 'right-to-left',
							textColor: '#f00',
							itemTextColor: '#f00'
						}]"
						[theme]="{axis: {
							textColor: '#f00'
						},
						textColor: '#f00',
						background: '#f00',
						markers: {
							textColor: '#f00'
						}
					}"
				>
				</calendar-wrapper>
			</div>
		</div>
	</div>
		

	<!-- <mat-tab label="Second"> Content 2 </mat-tab>
	<mat-tab label="Third"> Content 3 </mat-tab> -->
</div>



<!-- margin="{ top: 40, right: 40, bottom: 40, left: 40 }" -->
