h1,
h2 {
  color: var(--titles-primary);
}

h3,
h4,
h5,
h6 {
  color: var(--titles-secondary);
  font-weight: 500;
}

span {
  color: var(--text);
}

.spacer {
  flex: auto;
}

.fixed-span {
  width: 600px;
}

.view-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
}

.greeting {
  text-align: left;
  margin: 10px 0;
  padding: 0 20px;
}

.greeting h2 {
  margin-top: 0;
}

.dashboard-header {
  height: 4vh;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 20px;
}

mat-form-field {
  /* padding: 10px; */
  margin-right: 20px;
}

mat-select {
  background-color: var(--element-bg-secondary);
  padding: 10px;
  border-radius: 5px;
}

.dashboard-header mat-select {
  text-align: left;
  border-radius: 5px;
}

.mat-select {
  font-size: 0.85em;
}

::ng-deep .dashboard-header .mat-form-field-underline, ::ng-deep .dashboard-component .mat-form-field-underline {
  display: none;
}

::ng-deep .dashboard-component .mat-form-field-wrapper, ::ng-deep .dashboard-component .mat-form-field-infix {
  padding: 0;
  border-top: none;
}

::ng-deep .dashboard-header .mat-form-field-infix {
  /* width: 1.25em; */
  width: 10em;
}

.journey-details {
  margin: 30px 0;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.dashboard-carousel {
  overflow: hidden;
  flex-direction: row;
}

.dashboard-component {
  border-radius: 15px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: var(--bg-secondary);
  /* width: 50%; */
  min-height: 350px;
  margin: 15px;
  flex-grow: 2;
  width: 400px;
  /* box-shadow: var(--shadow-neumorphic-element); */
}

mat-grid-tile-header {
  margin-bottom: 15px;
}

.data-container {
  width: 100%;
  height: 500px;
  margin: 15px;
}

.data-container-title {
  padding: 15px 20px;
  margin: 0;
  text-align: left;
  color: var(--titles-primary);
  font-weight: 400;
  /* border-bottom: 0.8px solid var(--titles-primary); */
  /* display: inline-flex; */
  /* flex-direction: row; */
  /* width: 100%; */
}

.data-container-title h4 {
  margin: 0;
  font-weight: 500;
  color: var(--titles-primary);
}

.data-container-title p {
  margin: 0;
}

.data-container-title mat-icon {
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.stats-container {
  text-align: left;
  /* padding: 25px; */
  display: flex;
  flex-direction: row;
  padding: 0 auto;
  flex-wrap: wrap;
  margin: 20px 0;
}

.stats-container .stat-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
}

.stat-item .stat-item-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  padding: 0 30px;
}

p.stat-item-primary-text {
  font-size: 6em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  color: var(--titles-secondary);
  margin: 0;
}

p.stat-item-secondary-text {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  color: var(--titles-secondary);
  margin: 0;
  margin-left: 10px;
}

.calendar-container {
  text-align: center;
  align-content: center;
  width: 90%;
  height: 50%;
  margin: 0 auto;
  max-height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 10px;
  box-sizing: border-box;
}

.status-container {
  margin: 0 20px;
}

calendar-wrapper {
  min-width: 600px;
  height: 100%;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

::ng-deep calendar-wrapper span, ::ng-deep pie-chart-wrapper span, ::ng-deep line-chart-wrapper span {
  color: #494a4f;
}

.year-selector {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  justify-content: center;
  padding: 0;
}

.year-selector li {
  color: var(--text);
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin: 0 15px;
}

.year-selector li p {
  margin: 0;
}

.app-list-container {
  padding-bottom: 40px;
}

.app-list-item .spanning-content {
  padding: 5px 0;
}

.app-list-item h4 {
  color: var(--text);
  text-align: left;
  margin: 0;
}

.clickable-item mat-icon {
  color: var(--titles-secondary);
}

.clickable-item:hover {
  background-color: var(--element-bg-secondary);
  cursor: pointer;
}

.add-btn {
  margin: 10px auto;
  width: 6em;
}

.add-btn mat-icon {
  line-height: 30px;
  font-weight: 500;
  font-size: 16pt;
}

.placeholder-text {
  max-height: 400px;
}

svg {
  --animation-duration: 8s;
}

svg #tumbleweed-1 {
  animation: roll var(--animation-duration) infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

svg #tumbleweed-2 {
  animation: roll-reverse var(--animation-duration) infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes roll {
  0% {
    opacity: 0;
  }
  5% {
    transform: translateX(0%) rotateZ(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    transform: translateX(1000%) rotateZ(360deg);
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateX(1000%) rotateZ(360deg);
    opacity: 0;
  }
}

@keyframes roll-reverse {
  0% {
    transform: translateX(0%) rotateZ(360deg);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    transform: translateX(0%) rotateZ(360deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    transform: translateX(-500%) rotateZ(0deg);
    opacity: 0;
  }
  100% {
    /* transform: translateX(-500%) rotateZ(0deg); */
    opacity: 0;
  }
}

@media screen and (max-width: 500px) {
  ::ng-deep .dashboard-header .mat-form-field-infix {
    /* width: 1.25em; */
    width: 7em;
  }

  .dashboard-component {
    max-width: 100%;
  }

  .stat-item .stat-item-content {
    padding: 0 15px;
  }

  .add-btn {
    padding: 0 5px;
    width: auto;
    height: auto;
  }

  .stats-container {
    padding: 15px 25px;
    margin: auto;
  }

  p.stat-item-primary-text {
    font-size: 5em;
  }
}