h1,
h2 {
  color: var(--titles-primary);
}

h3,
h4,
h5,
h6 {
  color: var(--titles-secondary);
  font-weight: 400;
}

span {
  color: var(--text);
}

.spacer {
  flex: auto;
}

.fixed-span {
  width: 600px;
}

.view-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.greeting {
  text-align: left;
  margin: 10px 0;
  padding: 0 15px;
}

.greeting h2 {
  margin-top: 0;
}

.dashboard-header {
  height: 4vh;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 15px;
}

mat-form-field {
  /* padding: 10px; */
  margin-right: 20px;
}

mat-select {
  background-color: var(--element-bg-secondary);
  padding: 10px;
  border-radius: 5px;
}

.dashboard-header mat-select {
  text-align: left;
  border-radius: 5px;
}

.mat-select {
  font-size: 0.85em;
}

::ng-deep .dashboard-header .mat-form-field-underline, ::ng-deep .dashboard-component .mat-form-field-underline {
  display: none;
}

::ng-deep .dashboard-component .mat-form-field-wrapper, ::ng-deep .dashboard-component .mat-form-field-infix {
  padding: 0;
  border-top: none;
}

::ng-deep .dashboard-header .mat-form-field-infix {
  /* width: 1.25em; */
  width: 10em;
}

.journey-details {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.dashboard-carousel {
  overflow: hidden;
  flex-direction: row;
}

.dashboard-component {
  border-radius: 15px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: var(--bg-secondary);
  /* width: 50%; */
  min-height: 420px;
  margin: 15px;
  flex-grow: 2;
  width: 400px;
  /* box-shadow: var(--shadow-neumorphic-element); */
}

mat-grid-tile-header {
  margin-bottom: 15px;
}

.data-container {
  width: 100%;
  height: 500px;
  margin: 15px;
}

.data-container-title {
  padding: 15px 20px;
  margin: 0;
  text-align: left;
  color: var(--titles-primary);
  font-weight: 400;
  /* border-bottom: 0.8px solid var(--titles-primary); */
  /* display: inline-flex; */
  /* flex-direction: row; */
  /* width: 100%; */
}

.data-container-title h4 {
  margin: 0;
  font-weight: 200;
  color: var(--titles-primary);
}

.data-container-title p {
  margin: 0;
}

.stats-container {
  text-align: left;
  padding: 25px;
}

.calendar-container {
  /* height: 200px; */
  text-align: center;
  align-content: center;
  /* padding: 20px 40px; */
}

.status-container {
  margin: 0 20px;
}

calendar-wrapper {
  max-width: 650px;
}

::ng-deep calendar-wrapper span, ::ng-deep pie-chart-wrapper span, ::ng-deep line-chart-wrapper span {
  color: #494a4f;
}

.year-selector {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
}

.year-selector li {
  color: var(--text);
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin: 0 15px;
}

.year-selector li p {
  margin: 0;
}

.app-list-container {
  padding-bottom: 40px;
}

.app-list-item .spanning-content {
  padding: 5px 0;
}

.app-list-item h4 {
  color: var(--text);
  text-align: left;
  margin: 0;
}

.clickable-item mat-icon {
  color: var(--titles-secondary);
}

.clickable-item:hover {
  background-color: var(--element-bg-secondary);
  cursor: pointer;
}

.add-btn {
  margin: 10px auto;
  width: 6em;
}

.add-btn mat-icon {
  line-height: 30px;
  font-weight: 500;
  font-size: 16pt;
}

.placeholder-text {
  margin-top: 150px;
}

@media screen and (max-width: 500px) {
  .add-btn {
    padding: 0 5px;
    width: auto;
    height: auto;
  }
}