h1,
h2 {
  color: var(--titles-primary-dark);
}

h3,
h4,
h5,
h6 {
  color: var(--titles-secondary-dark);
}

span {
  color: var(--text-dark);
}

.spacer {
  flex: auto;
}

.fixed-span {
  width: 600px;
}

.view-container {
  max-width: 1200px;
  margin: 0 auto;
}

.greeting {
  text-align: left;
  margin: 10px 0;
}

.greeting h2 {
  margin-top: 0;
}

.dashboard-header {
  height: 4vh;
  display: flex;
  align-items: center;
}

mat-form-field {
  /* padding: 10px; */
  margin-right: 20px;
}

mat-select {
  background-color: var(--titles-primary-dark);
  padding: 10px;
  border-radius: 5px;
}

.mat-select {
  font-size: 9pt;
}

::ng-deep .dashboard-header .mat-form-field-underline, ::ng-deep .data-container .mat-form-field-underline {
  display: none;
}

::ng-deep .data-container .mat-form-field-wrapper, ::ng-deep .data-container .mat-form-field-infix {
  padding: 0;
  border-top: none;
}

.journey-details {
  margin: 30px 0;
}

.dashboard-carousel {
  overflow: hidden;
  flex-direction: row;
}

mat-grid-tile.dashboard-component {
  border-radius: 15px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 
    -6px -6px 4px 0 rgba(46, 46, 46, 0.548),
    5px 5px 4px 0 rgba(0, 0, 0, 0.2);
}

mat-grid-tile-header {
  margin-bottom: 15px;
}

.data-container {
  width: 100%;
  height: 100%;
}

.data-container-title {
  padding: 15px;
  margin: 0;
  text-align: left;
  color: var(--titles-primary-dark);
  font-weight: 200;
  border-bottom: 0.8px solid var(--titles-primary-dark);
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.data-container-title h4 {
  margin: auto 0;
  font-weight: 200;
  color: var(--titles-primary-dark);
}

.stats-container {
  text-align: left;
  padding: 25px;
}

.calendar-container {
  height: 200px;
  text-align: center;
  align-content: center;
  padding: 20px 40px;
}

.status-container {
  margin: 0 20px;
}

calendar-wrapper {
  max-width: 650px;
}

calendar-wrapper span {
  color: black;
  background-color: gray;
}

.year-selector {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
}

.year-selector li {
  color: var(--text-dark);
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin: 0 15px;
}

.year-selector li p {
  margin: 0;
}

.app-list-container {
  padding-bottom: 40px;
}

.clickable-item mat-icon {
  color: var(--titles-secondary-dark);
}

.clickable-item:hover {
  background-color: var(--secondary-dark);
  cursor: pointer;
}