h1,
h2 {
  color: var(--titles-primary-dark);
}

h3,
h4,
h5,
h6 {
  color: var(--titles-secondary-dark);
}

p {
  /* color: var(--text-dark); */
}

.view-container {
  /* max-height: 250px; */
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

.greeting {
  text-align: left;
  margin: 10px 0;
}

.dashboard-header {
  height: 4vh;
  display: flex;
  align-items: center;
}

mat-form-field {
  padding: 10px;
  margin-right: 10px;
}

mat-select {
  background-color: var(--titles-primary-dark);
  padding: 10px;
  border-radius: 5px;
}

.mat-select {
  font-size: 10pt;
}

::ng-deep .dashboard-header .mat-form-field-underline {
  display: none;
}

.journey-details {
  /* padding: 15px;
  width: 90%;
  margin: 0 auto; */
  margin: 30px 0;
}

.dashboard-carousel {
  overflow: hidden;
  flex-direction: row;
}

mat-grid-tile {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

mat-grid-tile-header {
  margin-bottom: 15px;
}

.data-container {
  width: 100%;
  height: 100%;
}

.data-container-title {
  padding: 15px;
  margin: 0;
  text-align: left;
  color: var(--titles-primary-dark);
  font-weight: 200;
  border-bottom: 0.8px solid var(--titles-primary-dark);
}

.stats-container {
  text-align: left;
  padding: 25px;
}

.calendar-container {
  height: 200px;
  text-align: center;
  align-content: center;
  padding: 20px 40px;
}

.status-container {
  margin: 0 20px;
}

calendar-wrapper {
  max-width: 650px;
}

calendar-wrapper span {
  color: black;
  background-color: gray;
}

.year-selector {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
}

.year-selector li {
  color: var(--text-dark);
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin: 0 15px;
}

.year-selector li p {
  margin: 0;
}
