<div class="view-container">
  <div class="greeting">
    <h2>Hi there, {{ name }}!</h2>
  </div>
  <div class="dashboard-content" *ngIf="selectedJourney; else elseContent">
    <div class="dashboard-header">
      <h3>{{selectedJourney.value.title}}</h3>
      <div class="spacer"></div>
      <div>
        <mat-form-field color="accent">
          <mat-select color="accent" [(ngModel)]="selectedJourney" name="journeySelection"
            (selectionChange)="selectYear(selectedJourney.years[0])" title="active journeys">
            <mat-option *ngFor="let journey of dropdownContent" [value]="journey">
              {{journey.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="journey-details">
      <mat-grid-list cols="2" rowHeight="380px" gutterSize="30px">

        <mat-grid-tile [colspan]="1" [rowspan]="1" class="dashboard-component">
          <div class="data-container">
            <h4 class="data-container-title">
              Journey Stats
            </h4>  
            <div class="stats-container">
              <p>Start Date: {{selectedJourney.value.startDate | date }}</p>
              <p>Applications submitted: {{selectedJourney.value.applications.length}}</p>
              <p>Application frequency: {{selectedJourney.frequency}} / day</p>
            </div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" class="dashboard-component">
          <div class="data-container">
            <h4 class="data-container-title">
              Status Breakdown
            </h4>  
            <div *ngIf="!isEmpty(selectedJourney.statusData); else statusPlaceholder;" class="status-container" style="height: 85%;">
              <pie-chart-wrapper [data]="selectedJourney.statusData"
                [margin]="{ top: 40, right: 200, bottom: 40, left: 80 }" [pixelRatio]="2" [innerRadius]="0.3"
                [padAngle]="0.7" [cornerRadius]="3" [colors]="pieChartPalette" [enableRadialLabels]="false"
                [borderColor]="{ from: 'color', modifiers: [ [ 'darker', 0.6 ] ] }" [radialLabelsSkipAngle]="10"
                [radialLabelsTextXOffset]="6" [radialLabelsTextColor]="theme.textColor" [radialLabelsLinkOffset]="0"
                [radialLabelsLinkDiagonalLength]="10" [radialLabelsLinkHorizontalLength]="20"
                [radialLabelsLinkStrokeWidth]="1" [radialLabelsLinkColor]="{ from: 'color' }" [slicesLabelsSkipAngle]="10"
                [slicesLabelsTextColor]="theme.textColor" [animate]="true" [motionStiffness]="90" [motionDamping]="15" [legends]="[
                  {
                      anchor: 'bottom-right',
                      direction: 'column',
                      translateX: 160,
                      itemWidth: 60,
                      itemHeight: 14,
                      itemsSpacing: 2,
                      symbolSize: 14,
                      symbolShape: 'circle',
                      textColor: theme.textColor,
                      itemTextColor: theme.textColor
                  }
              ]">
              </pie-chart-wrapper>
            </div>
            <ng-template #statusPlaceholder>
              <div class="status-container" style="height: 85%;">
                <p>The status breakdown of added applications will appear here.</p>
              </div>
            </ng-template>
            
          </div>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="2" [rowspan]="1" class="dashboard-component">
          <div class="data-container">
            <h4 class="data-container-title">
              Calendar Graph
            </h4>  
            <div class="calendar-container">
              <calendar-wrapper [data]="selectedJourney.calendarData" [from]="currentYear+'-02-01'"
                [to]="currentYear+'-11-01'" [emptyColor]="theme.emptyColor"
                [colors]="calendarPalette" [yearSpacing]="40"
                [monthBorderColor]="theme.background" [dayBorderWidth]="2" [dayBorderColor]="theme.background" [legends]="[
                  {
                    anchor: 'bottom-right',
                    direction: 'row',
                    translateY: 10,
                    itemCount: 4,
                    itemWidth: 42,
                    itemHeight: 36,
                    itemsSpacing: 14,
                    itemDirection: 'left-to-right',
                    textColor: theme.textColor,
                    itemTextColor: theme.textColor
                  }]" [theme]="{axis: {
                    textColor: theme.textColor
                  },
                  textColor: theme.textColor,
                  background: theme.textColor,
                  markers: {
                    textColor: theme.textColor
                  }
                }">
              </calendar-wrapper>
            </div>
            <ul style="list-style: none;" class="year-selector">
              <li *ngFor="let year of selectedJourney.years" (click)="selectYear(year)"
                [style.background-color]="year == currentYear ? 'var(--titles-secondary)' : 'transparent'">
                <p [style.color]="year == currentYear ? 'var(--bg)' : 'var(--text)'">{{year}}</p>
              </li>
            </ul>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" class="dashboard-component">
          <div class="data-container">
            <div class="data-container-title" style="height: 8%;">
              <h4>Applications</h4>
              <div class="spacer"></div>
              <mat-form-field style="padding: 0; margin-right: 50px; width: 120px;">
                <mat-select color="accent" name="statusSelection" [(ngModel)]="selectedStatus" title="application status filter">
                  <mat-option *ngFor="let status of statuses" [value]="status">
                    {{status.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="app-list-container" style="height: 78%;">
              <mat-list *ngIf="selectedJourney.value.applications.length > 0; else applicationsPlaceholder" style="height: 100%; overflow-y: scroll;" class="app-list-item">
                <mat-list-item class="clickable-item" *ngFor="let app of (selectedJourney.value.applications | appFilter:[{ property: 'status', value: selectedStatus.value }] );"
                  (click)="selectApplication(app)">
                  <mat-icon matListIcon>folder</mat-icon>
                  <div matLine>
                    <div class="spanning-content">
                      <h4 style="text-align: left; color: var(--text);">{{app.positionTitle + '  '}}</h4>
                      <span style="padding-left: 10px; color: var(--titles-secondary);"> @ {{app.companyName}}</span>
                      <div class="spacer"></div>
                      <span>Date Applied: {{ app.appDate | date }}</span>
                    </div>
                  </div>
                </mat-list-item>
              </mat-list>
              <ng-template #applicationsPlaceholder>
                <div>
                  <p>Added applications will appear here.</p>
                </div>
              </ng-template>
            </div>
            
          </div>
        </mat-grid-tile>

        
      </mat-grid-list>


    </div>

  </div>
  <ng-template class="dashboard-content" #elseContent>
    <h4>No active journeys to display</h4>
  </ng-template>

</div>
