p {
  margin: 5px 0;
  color: var(--text);
}

h2 {
  /* height: 25px; */
  font-size: 1.25em;
  margin: 10px 0;
  color: var(--titles-secondary);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-icon {
  width: 100px;
  font-size: 20pt;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  color: var(--accent);
}

.container {
  min-width: 180px;
  min-height: 200px;
  border-radius: 25px;
  padding: 20px; /* might need to remove this */
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: var(--bg-secondary);
  display: flex;
  z-index: 1;
  /* box-shadow: var(--shadow-neumorphic-element); */
}

.container.add {
  border: 2px dashed gray;
  box-shadow: none;
  vertical-align: center;
  background-color: none;
}

.container:hover:not(.add) {
  cursor: pointer;
  box-shadow: var(--shadow-clickable);
  /* background-color: var(--element-bg-secondary); */
  transform: scale(1.01);
}

.container.add:hover {
  cursor: pointer;
}

.container p {
  font-size: 0.85em;
}

#journey-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.edit-button {
  text-align: right;
	z-index: 2;
  float: right;
  position: absolute;
  top: -20px;
  right: -20px;
}

.edit-button button {
	background: none;
	border: none;
	min-width: 40px;
  min-height: 40px;
	padding: 0;
	border-radius: 5px;
  background: var(--accent-hover);
}

.edit-button button:hover {
  background: var(--error-bg);
  cursor: pointer;
}

.edit-button mat-icon.mat-icon {
	text-align: center;
  max-width: 30px;
}

.journey-content {
  text-align: left;
  vertical-align: bottom;
  position: absolute;
  bottom: 15px;
  width: 80%;
}

.container.add .journey-content {
  margin: auto;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-size: 70pt;
  color: gray;
  font-weight: 200;
  line-height: 100pt;

  display: flex;
  justify-content: center;
  align-items: center;
}

.journey-content mat-icon {
  vertical-align: middle;
  display: inline;
}


@media screen and (max-width: 500px) {
  .container {
    min-width: 100px;
    min-height: 200px;
    box-shadow: none;
    background-color: var(--element-bg-secondary);
  }
}