p {
  margin: 5px 0;
  color: var(--text-dark);
}

h2 {
  height: 25px;
  margin: 10px 0;
  color: var(--titles-secondary-dark);
}

mat-icon {
  width: 100px;
  font-size: 20pt;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  color: var(--accent-dark);
}

.container {
  min-width: 180px;
  min-height: 200px;
  border-radius: 25px;
  padding: 20px; /* might need to remove this */
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: var(--background-dark);
  display: flex;
  z-index: 1;
  box-shadow: 
    -6px -6px 4px 0 rgba(46, 46, 46, 0.548),
    5px 5px 4px 0 rgba(0, 0, 0, 0.2);
}

.container.add {
  border: 2px dashed gray;
  box-shadow: none;
  vertical-align: center;
  background-color: none;
}

.container:hover:not(.add) {
  cursor: pointer;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.4);
  background-color: var(--secondary-dark);
  transform: scale(1.008);
}

.container.add:hover {
  cursor: pointer;
}

#journey-container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

.edit-button {
  text-align: right;
	z-index: 2;
	float: right;
}

.edit-button button {
	background: none;
	border: none;
	min-width: 40px;
  min-height: 40px;
	padding: 0;
	border-radius: 4px;
}

.edit-button button:hover {
  background: var(--accent-hover-dark);
  cursor: pointer;
}

.edit-button mat-icon.mat-icon {
	/* font-size: 50pt; */
	text-align: center;
  max-width: 30px;
}

.journey-content {
  text-align: left;
  vertical-align: bottom;
  margin-top: 112%;
}

.container.add .journey-content {
  margin: auto;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-size: 70pt;
  color: gray;
  font-weight: 200;
  line-height: 100pt;

  display: flex;
  justify-content: center;
  align-items: center;
}

.journey-content mat-icon {
  vertical-align: middle;
  display: inline;
}
