<div
  id="journey-container"
  [style.width.px]="width"
  [style.height.px]="height"
  [className]="type === 'item' ? 'container' : 'container add'"
>
  <!-- <div class="edit-button">
    <button  *ngIf="type === 'item'" (click)="onEditButtonPressed()">
      <mat-icon>edit</mat-icon>
    </button>
  </div> -->
  
  <div class="journey-content" *ngIf="type === 'item'">
    
    <h2>{{ displayName }}</h2>
    <p>{{ displayDate }}</p>
    <p>{{ displayStatus }}</p>
  </div>
  <div class="journey-content" *ngIf="type === 'add'">
    <mat-icon [inline]="true" aria-hidden="false" aria-label="Add journey icon"
      >add</mat-icon
    >
  </div>
</div>
