div.container.spanning-content {
  width: 100%;
  max-width: 1200px;
  font-size: 10pt;
  /* height: 1.5em; */
  display: flex;
  flex-direction: row;
  margin: 15px auto;
  padding: 0 10px;
  background: var(--bg);
  position: sticky;
  top: 0;
  padding-bottom: 15px;
  z-index: 1;
}

div.breadcrumb-item {
  height: 1.5em;
  display: flex;
  flex-direction: row;
}

.breadcrumb-item mat-icon {
  height: 1em;
  color: var(--titles-secondary);
  margin: 0 auto;
}

.breadcrumb-text {
  line-height: 1.5em;
  color: var(--titles-secondary);
  padding: 0;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p.breadcrumb-text {
  margin: 0;
}

a.breadcrumb-text {
  color: var(--text);
  text-decoration: none;
  margin: auto;
  /* font-size: 10pt; */
  font-weight: 400;
  text-align: center;
}

a.breadcrumb-text:hover {
  color: var(--accent);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  div.container.spanning-content {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 500px) {
  div.container.spanning-content {
    margin-left: 15px;
    padding: 0;
  }
}