.container {
  height: 100%;
  display: flex;
  overflow: auto;
}

.signin-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 0 20px;
}

.signin-container h2 {
  text-align: left;
  color: var(--accent);
  margin: 20px 0;
  margin-bottom: 70px;
}

p.warning-text {
  text-align: center;
  height: 10pt;
}

.signin-container form text-field {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

form {
  margin: 40px 0;
}

.submit-button {
  margin: 90px 0;
  margin-bottom: 0;
}


@media screen and (max-width: 500px) {
  div.signin-container {
    width: 300px;
  }

  .signin-container h2 {
    margin-bottom: 50px;
  }
}