.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.inner-container {
  height: auto;
  padding: 20px;
  background: var(--bg);
  border-radius: 15px;
  box-shadow: var(--shadow-auth-element);
  margin: auto;
}

.signin-container {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 0 20px;
}

.signin-container h2 {
  text-align: left;
  color: var(--accent);
  margin: 20px 0;
  margin-bottom: 70px;
}

p.warning-text {
  text-align: center;
  height: 10pt;
}

.signin-container form text-field {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

form {
  margin: 40px 0;
}

.submit-btn {
  margin: 90px 0;
  margin-bottom: 0;
}

.submit-btn.social-signin {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-signin img {
  width: 20px;
  margin-left: 10px;
}

.divider p {
  padding: 10px;
  border-radius: 100%;
  border: 1.5px solid var(--accent);
  margin: 30px 0;
  color: var(--accent);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .inner-container {
    flex-direction: column;
  }

  .submit-btn {
    margin-top: 45px;
  }
}

@media screen and (max-width: 500px) {
  .inner-container {
    background: none;
    box-shadow: none;
  }

  div.signin-container {
    width: 90%;
  }

  .signin-container h2 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 360px) {
  div.signin-container {
    width: 100%;
  }
}