label,
input,
button {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: Roboto, 'Helvetica', sans-serif;
	font-size: 11pt;
	margin: 5px 0px 0;
}

::placeholder {
  color: #d1d1d1;
}

.component-container label {
  font-size: 12pt;
}

/* .component-container input {
	padding: 5px;
} */

.component-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  /* margin-right: 20px; */
  margin: 0 auto;
  position: fixed;
  top: 35%;
  right: 35px;
	text-align: left;
	width: 260px;
}

form * {
  width: 100%;
}

.mat-input-element {
  color: var(--text);
}

.mat-form-field-empty.mat-form-field-label {
  color: white;
}

.mat-form-field-underline .mat-form-field-underline-appearance-legacy {
  background-color: white;
}

.form-element {
  margin-bottom: 25px;
}

mat-checkbox {
  margin-bottom: 25px;
}

.warning-text {
  color: var(--warn);
}

.text-input {
  border: none;
  border-bottom: 1px solid #807e7eda;
  margin: 25px 0px;
  /* margin-top: 25px; */
  padding-bottom: 10px;
  width: 99%;
  background-color: var(--element-bg-secondary);

}

.submit-button {
  margin: auto;
  /* margin-left: 11px; */
  margin-top: 90px;
  /* min-width: 100%; */
}