.recovery-container {
  margin: auto;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  padding: 0 20px;
}

.recovery-container h2 {
	text-align: center;
}

.recovery-nav {
	text-align: center;
	margin: 20px 0;
}

.recovery-nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 30px 0;
	padding: 0;
	justify-content: space-around;
}

.recovery-nav li {
	display: inline-block;
	font-size: 13pt;
	color: var(--text);
	opacity: 0.7;
	background-color: var(--titles-secondary);
	width: 60px;
	height: 60px;
	border-radius: 100%;
	line-height: 60px;
}

.recovery-nav li.active {
	opacity: 1;
}

.recovery-component p:not(.warning-text) {
	color: var(--titles-secondary);
	text-align: center;
	font-size: 10pt;
	margin-top: 40px;
	line-height: 16pt;
}

.recovery-component p.secondary-label {
	text-align: center;
	margin-top: 80px;
}

.submit-button {
	margin-top: 80px;
	margin-left: 15px;
	margin-right: 15px;
}

.recovery-component p.warning-text {
	margin-top: 30px;
	text-align: center;
	white-space: pre-wrap;
	font-size: 10pt;
	height: 10pt;
}

.input-container label {
	text-align: left;
}

.recovery-container text-field {
	margin-bottom: 15px;
}