.overlay-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  background-color: var(--bg-backdrop);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 auto;
}

div.overlay-content {
  max-width: 600px;
  max-height: 400px;
  background-color: var(--bg);
  padding: 40px 20px;
  padding-top: 25px;
  border-radius: 20px;
  border: 1px solid var(--titles-secondary);
	box-shadow: var(--shadow-overlay);
}

mat-icon.close-btn {
  float: right;
  color: var(--text);
  font-size: 18pt;
  font-weight: 600;
  cursor: pointer;
}