@import '~@angular/material/theming';
@import 'src/styling/mat-dark-theme.scss';
@import 'src/styling/mat-light-theme.scss';

@include mat-core();


// SHARED
@function create-custom-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $theme-foreground,
    background: $theme-background
  );
}

$theme-background: (
  status-bar:               var(--bg),
  app-bar:                  map_get($mat-blue-grey, 800),
  background:               var(--bg),
  hover:                    var(--accent-hover), 
  card:                     var(--bg),
  dialog:                   var(--element-bg),
  disabled-button:          $white-12-opacity,
  raised-button:            var(--element-bg),
  focused-button:           $white-6-opacity,
  selected-button:          var(--element-bg),
  selected-disabled-button: var(--element-bg),
  disabled-button-toggle:   black,
  unselected-chip:          var(--element-bg),
  disabled-list-option:     black,
);

$theme-foreground: (
  base:              var(--bg),
  divider:           var(--bg),
  dividers:          var(--bg),
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     #8f8f8f,
  hint-text:         rgba(white, 0.3),
  secondary-text:    var(--text),
  icon:              var(--text),
  icons:             var(--text),
  text:              var(--text),
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// THEME DEFINITIONS
$dark-palette0-theme: create-custom-theme($dark-primary-map, $dark-palette0-accent, $dark-warn-map);
$dark-palette1-theme: create-custom-theme($dark-primary-map, $dark-palette1-accent, $dark-warn-map);
$dark-palette2-theme: create-custom-theme($dark-primary-map, $dark-palette2-accent, $dark-warn-map);
$dark-palette3-theme: create-custom-theme($dark-primary-map, $dark-palette3-accent, $dark-warn-map);

$light-palette0-theme: create-custom-theme($light-primary-map, $light-palette0-accent, $light-warn-map);
$light-palette1-theme: create-custom-theme($light-primary-map, $light-palette1-accent, $light-warn-map);
$light-palette2-theme: create-custom-theme($light-primary-map, $light-palette2-accent, $light-warn-map);
$light-palette3-theme: create-custom-theme($light-primary-map, $light-palette3-accent, $light-warn-map);


@include angular-material-theme($dark-palette0-theme); // default theme

// Theme selectors
body[theme='dark'][palette='palette-0'] {
  @include angular-material-theme($dark-palette0-theme);
}

body[theme='dark'][palette='palette-1'] {
  @include angular-material-theme($dark-palette1-theme);
}

body[theme='dark'][palette='palette-2'] {
  @include angular-material-theme($dark-palette2-theme);
}

body[theme='dark'][palette='palette-3'] {
  @include angular-material-theme($dark-palette3-theme);
}

body[theme='light'][palette='palette-0'] {
  @include angular-material-theme($light-palette0-theme);
}

body[theme='light'][palette='palette-1'] {
  @include angular-material-theme($light-palette1-theme);
}

body[theme='light'][palette='palette-2'] {
  @include angular-material-theme($light-palette2-theme);
}

body[theme='light'][palette='palette-3'] {
  @include angular-material-theme($light-palette3-theme);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}