@import '~@angular/material/theming';
// Plus imports for other components in your app.

// **Be sure that you only ever include this mixin once!**
@include mat-core();


$custom-background-color: #628cc9;

$dark-theme-background: (
  status-bar: #628cc9,
  app-bar:    map_get($mat-blue-grey, 800),
  background: #7ea2c8,
  hover:      rgba(white, 0.04), 
  card:       #7ea2c8,
  dialog:     map_get($mat-grey, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$dark-theme-foreground: (
  // base:              yellow,
  divider:           rgba(white, 0),
  dividers:          rgba(white, 0),
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              var(--text-dark),
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

$warn-map: (
  50: #fce3e9,
  100: #f7b9c9,
  200: #f28ca5,
  300: #eb5f82,
  400: #e53f68,
  500: #df2151,
  600: #cf1d4e,
  700: #ba184b,
  800: #a61248,
  900: #820a41,
  A100 : #fff6f7,
  A200 : #ffc3c9,
  A400 : #ff909c,
  A700 : #ff7685,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// $background: map-get($mat-app-theme, background);
// $background: map_merge($background, (background: $custom-background-color));
// $mat-app-theme: map_merge($mat-app-theme, (background: $background));

@function create-custom-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $dark-theme-foreground,
    background: $dark-theme-background,
  );
}
$mat-app-primary: mat-palette($mat-teal, A200);
$mat-app-accent:  mat-palette($mat-teal, A200);
$mat-app-warn: mat-palette($warn-map);
// $mat-app-theme:   mat-dark-theme($mat-app-primary, $mat-app-accent);
$mat-app-theme: create-custom-theme($mat-app-primary, $mat-app-accent, $mat-app-warn);

// Include default theme styles.
@include angular-material-theme($mat-app-theme);
@include mat-form-field-theme($mat-app-theme);
@include mat-input-theme($mat-app-theme);

// Define an alternate light theme.
$light-primary: mat-palette($mat-blue-grey);
$light-accent:  mat-palette($mat-amber, A200, A100, A400);
$light-warn:    mat-palette($mat-deep-orange);
$light-theme:   mat-light-theme($light-primary, $light-accent, $light-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.light-theme {
  @include angular-material-theme($light-theme);
}