:root {
  --background-dark: #22232d;
  --background-backdrop-dark: #22232dab;
  --primary-dark: #252635;
  /* --primary-dark: #34364e; */
  --secondary-dark: #282935;
  --accent-dark: #868e96;
  --accent-background-dark: #4144685c;
  --accent-hover-dark: #22232dc2;
  --titles-primary-dark: #868e96;
  --titles-secondary-dark: #99bde3;
  --text-dark: #ffffff;
  --text-light: #2e32685c;
  --text-warn: #f94d78;
}

/* :root {
  --background-dark: #1b1d38;
  --primary-dark: #252846;
  --secondary-dark: #24284d;
  --accent-dark: #32e0c0;
  --accent-background-dark: #2e32685c;
  --accent-hover-dark: #21e6c214;
  --titles-primary-dark: #32e0c0;
  --titles-secondary-dark: #99bde3;
  --text-dark: #ffffff;
  --text-light: #2e32685c;
  --text-warn: #f94d78;
} */

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-dark);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2 {
  color: var(--titles-primary-dark);
}

h3,
h4,
h5,
h6 {
  color: var(--titles-secondary-dark);
}

p {
	color: var(--text-dark);
}

::placeholder {
  color: #d1d1d1;
}

app-root,
app-wrapper {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

div.content {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  height: 94%;
}

div.view-container {
  /* width: 97vw; */
  height: 100%;
  text-align: center;
  align-content: center;
  padding: 0px 20px;
}

div.mat-drawer-backdrop.mat-drawer-shown {
  /* background-color: rgba(0, 0, 0, 0.05); */
  background-color: var(--background-backdrop-dark);
}

.mat-form-field-empty.mat-form-field-label {
  color: white;
}

.mat-form-field-underline {
  background-color: white;
}

.mat-input-element {
  color: var(--text-dark);
}

p.warning-text {
  color: var(--text-warn);
  max-width: 100%;
  margin-bottom: 0;
  white-space: pre-wrap;
}

app-journeys,
app-dashboard {
  width: 100%;
}

app-dashboard {
  text-align: center;
}

.submit-button {
  background-color: var(--titles-secondary-dark);
  color: var(--text-dark);
  font-size: 10pt;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid transparent;
  margin: 50px 0;
  width: 100%;
}

.submit-button:hover {
  background-color: var(--accent-dark);
  cursor: pointer;
  color: var(--background-dark);
}

.login-link {
  font-size: 10pt;
  text-align: center;
  color: var(--titles-secondary-dark);
}

a.login-link,
a.login-link:visited,
a.login-link:hover {
  color: #1976d2;
  text-decoration: none;
  margin: auto;
  font-size: 10pt;
  text-align: center;
}

a:hover {
  color: #125699;
}

a.login-link.forgot-password {
  text-align: left;
  margin: 0;
}

.spacer {
  flex: 1;
}