:root {
  /* --bg: var(--bg); */
  --bg-backdrop: #22232dab;
  --element-bg-primary: #252635;
  --element-bg-secondary: #282935;
  --accent: #9f9dea;
  --valid: #85d2d8;
  --accent-hover: #22232dc2;
  --titles-primary: #9f9dea;
  --titles-secondary: #909ca8;
  --text: rgb(255, 255, 255);
  --warn: #f94d78;
  --disabled-bg: #797f85;
  --success-bg: #94f4c24f;
  --error-bg: #f9769685;
}

* {
  font-size: 10pt;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg);
  font-size: 12pt;
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

h1,
h2 {
  color: var(--titles-primary);
  font-size: 1.5em;
}

h3,
h4,
h5,
h6 {
  color: var(--titles-secondary);
  font-size: 1.25em;
}

h4, h5 {
  font-size: 1em;
}

p, span {
  color: var(--text);
  font-size: 1em;
  font-weight: 400;
}

input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
}

::placeholder {
  color: #d1d1d1;
}

app-root,
app-wrapper {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

div.content {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  height: 91vh;
}

div.view-container {
  /* width: 97vw; */
  height: 100%;
  text-align: center;
  align-content: center;
  padding: 0px 10px;
}

div.mat-drawer-backdrop.mat-drawer-shown {
  /* background-color: rgba(0, 0, 0, 0.05); */
  background-color: var(--bg-backdrop);
}

.mat-form-field-empty.mat-form-field-label {
  color: white;
}

.mat-form-field-underline {
  background-color: white;
}

.mat-input-element {
  color: var(--text);
}

p.warning-text {
  color: var(--warn);
  max-width: 100%;
  margin-bottom: 0;
  white-space: pre-wrap;
}

app-journeys,
app-dashboard,
app-search,
app-wishlist,
app-settings,
app-sign-up,
app-wishlist-wrapper {
  width: 100%;
  height: 100%;
}

app-dashboard {
  text-align: center;
}

.submit-button {
  background-color: var(--titles-secondary);
  color: var(--text);
  font-size: 10pt;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 50px 0;
  width: 100%;
}

.submit-button:hover {
  background-color: var(--accent);
  cursor: pointer;
  color: var(--bg);
}

.login-link {
  font-size: 10pt;
  text-align: center;
  color: var(--titles-secondary);
}

a.login-link,
a.login-link:visited,
a.login-link:hover,
p a.login-link {
  color: #3081d3;
  text-decoration: none;
  margin: auto;
  font-size: 10pt;
  text-align: center;
}

a:hover {
  color: #125699;
}

a.login-link.forgot-password {
  text-align: left;
  margin: 0;
}

.spacer {
  flex: 1;
}

.spanning-content {
  /* margin: 15px 20px; */
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
}

.placeholder-text {
  margin: auto;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  height: 200px;
  margin-top: 150px;
}


@media screen and (max-width: 575px) {
  input, select, textarea { /** primarily to prevent mobile browsers from zooming in onFocus*/
    /* font-size: 16px !important; */
  }

  div.content {
    height: 85vh;
  }

}