/* You can add global styles to this file, and also import other style files */
/* @import "~aws-amplify-angular/theme.css"; */

/* @include mat-core();

$app-primary: mat-palette($mat-white);
$app-accent:  mat-palette($mat-pink);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme); 

// "./node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css",
// 
*/

:root {
  --amazonOrange: --squidInk;
  --background-dark: #1b1d38;
  --primary-dark: #252846;
  /* --primary-dark: #34364e; */
  --secondary-dark: #24284d;
  --accent-dark: #0aecc2;
  --accent-background-dark: #2e32685c;
  --accent-hover-dark: #21e6c214;
  --titles-primary-dark: #0aecc2;
  --titles-secondary-dark: #7ea2c8;
  --text-dark: #ffffff;
  --text-light: #2e32685c;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-dark);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2 {
	color: var(--titles-primary-dark);
}

h3, h4, h5, h6 {
	color: var(--titles-secondary-dark);
}

p, span {
	color: var(--text-dark);
}

::placeholder {
  color: #d1d1d1;
}

app-root, app-wrapper {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

div.content {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  height: 94%;
}

div.view-container {
  width: 97vw;
  height: 100%;
  text-align: center;
  align-content: center;
  /* padding: 20px 20px; */
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.05);
}

.mat-form-field-empty.mat-form-field-label {
  color: white;
}

.mat-form-field-underline {
  background-color: white;
}

.mat-input-element {
  color: var(--text-dark);
}

app-journeys,
app-dashboard {
  width: 100%;
}

app-dashboard {
  text-align: center;
}

app-journey-view {
  /* width: 94vw; */
}
