:root {
  /* --bg: var(--bg); */
  --bg-backdrop: #22232dab;
  --element-bg: #252635;
  --element-bg: #282935;
  --accent: #9f9dea;
  --valid: #85d2d8;
  --accent-hover: #22232dc2;
  --titles-primary: #9f9dea;
  --titles-secondary: #909ca8;
  --text: rgb(255, 255, 255);
  --warn: #f94d78;
  --disabled-bg: #797f85;
  --success-bg: #94f4c24f;
  --error-bg: #f9769685;

  --header-height: 65px;
  --max-landing-width: 75rem;
}

* {
  font-size: 11pt;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg);
}

body {
  margin: 0;
}

h1,
h2 {
  color: var(--titles-primary);
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h4, h5 {
  font-size: 1.15em;
}

h3,
h4,
h5,
h6 {
  color: var(--titles-secondary);
  /* font-size: 1.25em; */
}

p, span {
  color: var(--text);
  font-size: 1em;
  font-weight: 400;
}

input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
}

::placeholder {
  color: #a7a6a6;
}

app-root,
app-info {
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
}

app-landing-wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: inline-block;
}

app-landing, app-about, app-landing-faq {
  width: 100%;
  height: 100%;
}

app-wrapper app-about, app-wrapper app-info {
  width: 100%;
  min-height: auto;
  height: auto;
  overflow: initial;
}

div.content {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  height: 91vh;
}

div.view-container {
  /* width: 97vw; */
  height: 100%;
  text-align: center;
  align-content: center;
  padding: 0px 10px;
}

div.mat-drawer-backdrop.mat-drawer-shown {
  /* background-color: rgba(0, 0, 0, 0.05); */
  background-color: var(--bg-backdrop);
}

.mat-form-field-empty.mat-form-field-label {
  color: white;
}

.mat-form-field-underline {
  background-color: white;
}

.mat-input-element {
  color: var(--text);
}

p.warning-text {
  color: var(--warn);
  max-width: 100%;
  margin-bottom: 0;
  white-space: pre-wrap;
}

app-journeys,
app-journey-list,
app-application-view,
app-search,
app-wishlist,
app-settings,
app-wishlist-wrapper {
  width: 100%;
  height: 100%;
}

app-journey-view {
  width: 100%;
}

app-dashboard {
  width: 100%;
  height: auto;
  text-align: center;
}

app-sign-in,
app-sign-up,
app-account-recovery,
app-confirm-signup {
  /* height: 100vh; */
  width: 100%;
  display: inline-block;
  overflow: auto;
}

app-account-recovery, app-confirm-signup {
  display: flex;
}

.container {
  box-sizing: border-box;
  padding: var(--header-height) 0px;
}

img.logo {
  width: 1em;
  margin-right: 10px;
  color: var(--titles-secondary);
}

div.loading {
  margin: auto;
  /* text-align: center;
  position: relative;
  max-width: 150px; */
  height: 100%;
}

.loading svg {
  width: 150px;
  /* max-height: 200px; */
  min-height: 100%;
  max-height: 100%;
  padding: 30px;
  box-sizing: border-box;
  margin: auto;
}

.overlay-container .loading svg {
  max-height: 400px;
}

.submit-btn {
  background-color: var(--accent);
  color: var(--bg);
  font-size: 10pt;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 30px auto;
  width: 100%;
  line-height: 1.3em;
}

.submit-btn.cancel-btn {
  background-color: var(--titles-secondary);
  margin-left: 10px;
}

.submit-btn:not(.disabled):hover {
  /* background-color: #c1cace; */
  cursor: pointer;
  filter: brightness(120%) hue-rotate(2deg);
}

.submit-btn.cancel-btn:hover {
  /* background-color: #c1cace; */
  filter: brightness(120%) hue-rotate(2deg);
}

button.submit-btn.pulse {
  background-color: var(--accent);
  animation: 0.2s button-pulse linear;
}

.login-link {
  font-size: 10pt;
  text-align: center;
  color: var(--titles-secondary);
}

a.login-link,
a.login-link:visited,
a.login-link:hover,
p a.login-link {
  color: #3081d3;
  text-decoration: none;
  margin: auto;
  font-size: 10pt;
  text-align: center;
  font-weight: 500;
}

a:hover {
  color: #125699;
}

a.login-link.forgot-password {
  text-align: left;
  margin: 0;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  color: var(--text);
  padding: 30px;
  opacity: 0.5;
}

mat-icon.inline {
  padding-right: 5px;
}

.spacer {
  flex: 1;
}

.spanning-content {
  /* margin: 15px 20px; */
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
}

.placeholder-text {
  margin-top: 150px;
  padding: 20px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder-text p {
  color: var(--titles-secondary);
}

.placeholder-text img {
  width: 600px;
  max-width: 90%;
}

.add-btn {
  /* line-height: var(--spanning-line-height); */
  border-radius: 5px;
  background: var(--accent);
  padding: 0px 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  margin-left: 20px;
}

.add-btn.active mat-icon, .add-btn.add-btn.active p {
  color: var(--bg);
}

.add-btn p, .submit-btn p {
  /* font-size: 11pt; */
  line-height: 30px;
  font-weight: 500;
  color: var(--bg);
  margin: 0;
  margin-right: 8px;
  white-space: nowrap;
}

.add-btn mat-icon,
.add-btn mat-icon.mat-icon-inline {
  line-height: 30px;
  color: var(--bg);
  /* margin-left: 8px; */
  font-weight: 500;
  font-size: 16pt;
}

button.add-btn:hover:not(.disabled), button.submit-btn:hover:not(.disabled) {
  filter: brightness(120%) hue-rotate(2deg);
}

button.add-btn:disabled {
  background-color: var(--disabled-bg);
  border: 1px solid var(--disabled-bg);
  opacity: 0.2;
  cursor: default;
}

div.blurb, div.blurb.spanning-content {
  margin: 0 15px;
  margin-bottom: 30px;
}

.blurb p, .blurb.spanning-content p {
  color: var(--titles-secondary);
  text-align: left;
  margin: 0;
}

p.answer a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 600;
}

p.answer a:hover {
  text-decoration: underline;
}

.sticky-header-bg {
  width: 100%;
  height: var(--header-height);
  position: sticky;
  top: 0;
  background-color: var(--bg);
  z-index: 98;
}

#top-marker {
  z-index: 101;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 575px) {
  div.content {
    height: 85vh;
  }

}


@media screen and (max-width: 500px) {
  * {
    font-size: 10pt;
  }

  :root {
    --header-height: 65px;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.20em;
  }

  div.view-container {
    padding: 0 15px;
  }

  img.logo {
    width: 2em;
    margin-left: 15px;
  }

  .add-btn {
    padding: 0 5px;
  }

  .submit-btn {
    margin: 15px 0;
  }

  div.blurb, div.blurb.spanning-content {
    margin: 0;
    margin-bottom: 30px;
  }

}

@keyframes button-pulse {
  from {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pulse-title {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}