<div class="dropdown-container hidden" #dropdownContainer>
  <ul *ngIf="displayDropdown">
    <a *ngFor="let item of dropdownItems;" href="" [routerLink]="item.link">
      <li class="{{item.type == 'button'? 'signout-button' : item.type }}"
        (click)="onItemClick(item)">
        {{item.text}}
        <div class="spacer"></div>
        <div *ngIf="item.type == 'theme-toggle'" class="theme-toggle">
          <mat-icon *ngIf="(prefStore.preferences | async).theme.name == 'dark'; else lightToggle" (change)="onItemClick(item)">brightness_2</mat-icon>
          <ng-template #lightToggle>
            <mat-icon (change)="onItemClick(item)">brightness_5</mat-icon>
          </ng-template>
        </div>
      </li>
    </a>
  </ul>
</div>
