.dropdown-container {
	width: 200px;
	/* height: 130px; */
	background-color: var(--bg);
	border-radius: 8px;
	box-shadow: var(--shadow-overlay);
	display: flex;
	vertical-align: middle;
	flex-direction: column;
	z-index: 10;
	position: fixed;
	top: 60px;
	right: 30px;
	transition: all .2s ease;
}

.dropdown-container.hidden {
	height: 0;
	opacity: 0;
}

.dropdown-container.visible {
	opacity: 1;
  transform: translateY(0);
}

ul {
	list-style: none;
	padding: 10px 0;
	text-align: left;
	margin: auto 0;
	transition: all 1s ease;
}

li {
	padding: 10px;
	font-size: 11pt;
	font-weight: 300;
	display: flex;
	justify-content: center;
}

li:hover:not(.item) {
	background-color: var(--titles-secondary);
	color: var(--bg);
	cursor: pointer;
	font-weight: 500;
}

li.item:hover {
	cursor: default;
}

ul a {
	text-decoration: none;
	color: var(--text);
	display: inline-block;
	width: 100%;
}

li:hover a {
	color: var(--element-bg-primary);
	font-weight: 500;
}

.signout-button {
	border-top: 0.4px solid var(--text);
}

/** Toggle Styling */

.theme-toggle mat-icon {
	font-size: 20px;
}

.theme-toggle mat-icon:hover {
	color: var(--accent);
	transform: scale(1.15);
}
