.container {
  height: 100%;
  display: flex;
  overflow: auto;
}

.confirm-signup-container {
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  background: var(--bg);
  border-radius: 15px;
  box-shadow: var(--shadow-auth-element);
  padding: 20px 40px;
}

.confirm-signup-container h2 {
  text-align: center;
  color: var(--accent);
  margin: 20px 0;
  margin-bottom: 30px;
}

p.warning-text {
  text-align: center;
  font-size: 10pt;
}

.confirm-signup-container p:not(.warning-text) {
	color: var(--titles-secondary);
	text-align: center;
	font-size: 10pt;
  /* margin-top: 40px; */
  margin: 40px 0;
	line-height: 16pt;
}

.confirm-signup-container p.secondary-label {
	text-align: left;
}

.login-link {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .confirm-signup-container {
    background: none;
    box-shadow: none;
    width: 80%;
  }

  .confirm-signup-container p:not(.warning-text) {
    color: var(--text);
  }
}

@media screen and (max-width: 360px) {
  div.signin-container {
    width: 90%;
  }
}