<div class="view-container journey-container">
  <div class="spanning-content" style="margin-top: 15px;">
    <h2>Journeys</h2>
    <div class="spacer"></div>
    <button class="{{selectionMode ? 'add-btn active' : 'add-btn'}}" title="Remove journey"
      (click)="activateSelectionMode()" [disabled]="(userStore.journeys | async).length == 0">
      <p *ngIf="!(rs.mobileSize$ | async)">{{selectionMode ? 'Done' : 'Remove'}}</p>
      <mat-icon [inline]="true" aria-hidden="false" aria-label="Select journey icon">delete</mat-icon>
    </button>
    <button class="add-btn" title="Add journey" (click)="displayJourneyDrawer()" [disabled]="selectionMode">
      <p *ngIf="!(rs.mobileSize$ | async)">Add</p>
      <mat-icon [inline]="true" aria-hidden="false" aria-label="Add journey icon">add</mat-icon>
    </button>
  </div>

  <div class="blurb spanning-content">
    <p>Journeys help you keep track of different job search cycles &#x1F4BC;</p>
  </div>

  <div *ngIf="(userStore.journeys | async).length != 0; else emptyJourneys" style="height: 70%;">
    <div class="journey-grid" *ngIf="!(rs.mobileSize$ | async); else mobileSlider">
      <a *ngFor="let journey of userStore.journeys | async; let i = index" href=""
        [routerLink]="selectionMode ? [] : ['/home/journeys', journey.id]"
        (click)="deleteButton ? removeJourney(journey, i) : ''" style="text-decoration: none;" #journeyItem>
        <app-rect-item class="journey-item" [linkedJourney]="journey"
          (deleteButtonPressed)="onDeleteButtonPressed($event)" title="{{!selectionMode ? 'View journey' : ''}}"
          [selectionMode]="selectionMode">
        </app-rect-item>
      </a>
    </div>
    <ng-template #mobileSlider>
      <slider-container [content]="(userStore.journeys | async)" (idxChange)="onSwipe($event)" [idx]="sliderIdx">
        <a *ngFor="let journey of userStore.journeys | async; let i = index" href=""
          [routerLink]="selectionMode || sliderIdx != i ? [] : ['/home/journeys', journey.id]"
          (click)="deleteButton ? removeJourney(journey, i) : journeyItemClick(i)"
          style="text-decoration: none; margin: auto 0px; transform: {{ i == sliderIdx ? 'scale(1.15)' : ( i > sliderIdx ? 'rotateY(-50deg)' : 'rotateY(50deg)' ) }};"
          class="{{ sliderIdx == i ? 'journey-item current' : 'journey-item'}}" #journeyItem>
          <app-rect-item class="{{ sliderIdx == i ? 'journey-item current' : 'journey-item'}}" [linkedJourney]="journey"
            (deleteButtonPressed)="onDeleteButtonPressed($event)" title="{{!selectionMode ? 'View journey' : ''}}"
            [selectionMode]="selectionMode">
          </app-rect-item>
        </a>
      </slider-container>
    </ng-template>
  </div>

  <ng-template #emptyJourneys>
    <div class="placeholder-text">
      <p>Add journeys to track them here</p>
      <img src="/assets/placeholder_tumble.svg" alt="no journeys">
    </div>
  </ng-template>


	<app-overlay *ngIf="displayDrawer" [title]="'New Journey'" (closeOverlay)="displayDrawer=false">
		<journey-input (newDataLogged)="onNewDataLogged($event)" [journey]="currJourney"></journey-input>
	</app-overlay>
</div>
