<div class="view-container journey-container">
  <div class="spanning-content" style="margin-top: 15px;">
    <h2>Journeys</h2>
    <div class="spacer"></div>
    <button class="{{selectionMode ? 'add-btn active' : 'add-btn'}}" title="Remove journey"
      (click)="activateSelectionMode()" [disabled]="(userStore.journeys | async).length == 0">
      <p *ngIf="!(rs.mobileSize$ | async)">{{selectionMode ? 'Done' : 'Remove'}}</p>
      <mat-icon [inline]="true" aria-hidden="false" aria-label="Select journey icon">delete</mat-icon>
    </button>
    <button class="add-btn" title="Add journey" (click)="displayJourneyDrawer()" [disabled]="selectionMode">
      <p *ngIf="!(rs.mobileSize$ | async)">Add</p>
      <mat-icon [inline]="true" aria-hidden="false" aria-label="Add journey icon">add</mat-icon>
    </button>
  </div>

  <div class="blurb spanning-content">
    <p>Journeys help you keep track of different job search cycles &#x1F4BC;</p>
  </div>

  <div *ngIf="(userStore.journeys | async).length != 0; else emptyJourneys" style="height: 94%;">
    <div class="journey-grid" *ngIf="!(rs.mobileSize$ | async); else mobileSlider">
      <a *ngFor="let journey of userStore.journeys | async;" href=""
        [routerLink]="selectionMode ? [] : ['/journeys', journey.id]"
        (click)="deleteButton ? removeJourney(journey) : ''" style="text-decoration: none;">
        <app-rect-item class="journey-item" [linkedJourney]="journey"
          (deleteButtonPressed)="onDeleteButtonPressed($event)" title="{{!selectionMode ? 'View journey' : ''}}"
          [selectionMode]="selectionMode">
        </app-rect-item>
      </a>
    </div>
    <ng-template #mobileSlider>
      <slider-container [content]="(userStore.journeys | async)" (idxChange)="onSwipe($event)" [idx]="sliderIdx">
        <a *ngFor="let journey of userStore.journeys | async; let i = index;" href=""
          [routerLink]="selectionMode || sliderIdx != i ? [] : ['/journeys', journey.id]"
          (click)="deleteButton ? removeJourney(journey, i) : journeyItemClick(i)"
          style="text-decoration: none; margin: auto 0px; transform: {{ i == sliderIdx ? 'scale(1.15)' : ( i > sliderIdx ? 'rotateY(-50deg)' : 'rotateY(50deg)' ) }};"
          class="{{ sliderIdx == i ? 'journey-item current' : 'journey-item'}}" #journeyItem>
          <app-rect-item class="{{ sliderIdx == i ? 'journey-item current' : 'journey-item'}}" [linkedJourney]="journey"
            (deleteButtonPressed)="onDeleteButtonPressed($event)" title="{{!selectionMode ? 'View journey' : ''}}"
            [selectionMode]="selectionMode">
          </app-rect-item>
        </a>
      </slider-container>
    </ng-template>
  </div>

  <ng-template #emptyJourneys>
    <div class="placeholder-text">
      <p>Add journeys to track them here</p>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 676 322.5"
        style="margin-top: 50px; filter: grayscale(100%);">
        <defs>
          <style>
            .cls-1 {
              fill: none;
              stroke: #7e786b;
              stroke-linecap: round;
              stroke-miterlimit: 10;
              stroke-width: 89px;
            }

            .cls-2 {
              fill: #717a6c;
            }

            .cls-3 {
              fill: #98a88e;
            }

            .cls-4 {
              fill: #b3c7a5;
            }

          </style>
        </defs>
        <title>no journeys added</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <line class="cls-1" x1="44.5" y1="232.7" x2="489.38" y2="232.7" />
            <line class="cls-1" x1="217.51" y1="278" x2="631.5" y2="278" />
            <path class="cls-2"
              d="M159.5,107.93a6.08,6.08,0,0,0-5.68-4.67,5.79,5.79,0,0,0-4.85,2.8,7.47,7.47,0,0,0-.83,6c1.62,5.65,2.22,12.28-.12,14.34-1.33,1.17-3.92,1.45-6.25,1.62l-.28,0V105h0a5.83,5.83,0,0,0,0-.59,8.73,8.73,0,0,0-17.46,0c0,.2,0,.39,0,.59h0V149.3l-.41,0c-2.38-.17-5-.45-6.38-1.62-2.38-2.06-1.77-8.69-.12-14.34a7.36,7.36,0,0,0-.84-6,5.93,5.93,0,0,0-5-2.8,6.17,6.17,0,0,0-5.79,4.67,48.08,48.08,0,0,0-2,13.35c.07,8,3,12.58,5.4,15,3.76,3.8,8.7,4.72,12.08,5.09,1,.1,2,.18,3,.24v31c5.72.42,11.6-1.4,17.46-1.22v-51c1-.06,1.93-.14,2.87-.24,3.32-.37,8.15-1.29,11.84-5.09,2.38-2.45,5.23-7.05,5.3-15A49.05,49.05,0,0,0,159.5,107.93Z" />
            <path class="cls-3"
              d="M458.7,101.37a8.39,8.39,0,0,0-7.92-6.17A8.24,8.24,0,0,0,444,98.9a9.45,9.45,0,0,0-1.15,8c2.27,7.47,3.1,16.22-.16,18.94-1.86,1.55-5.48,1.92-8.73,2.14l-.39,0V97.52h0c0-.26,0-.51,0-.77,0-6.37-5.46-11.53-12.19-11.53s-12.2,5.16-12.2,11.53c0,.26,0,.51,0,.77h0V156l-.57,0c-3.32-.23-7-.6-8.91-2.15-3.32-2.71-2.48-11.47-.16-18.94a9.32,9.32,0,0,0-1.18-8,8.35,8.35,0,0,0-15,2.48A60.06,60.06,0,0,0,380.5,147c.1,10.53,4.16,16.6,7.54,19.84,5.26,5,12.15,6.24,16.87,6.72,1.39.14,2.82.25,4.26.33v40.88c8,.55,16.2-1.85,24.39-1.61V145.88c1.35-.08,2.69-.18,4-.31,4.63-.49,11.39-1.71,16.54-6.73,3.33-3.23,7.31-9.3,7.4-19.84A61,61,0,0,0,458.7,101.37Z" />
            <path class="cls-4"
              d="M312.94,34c-2.23-7.77-8.57-13-15.77-13a16.2,16.2,0,0,0-13.51,7.78,20.89,20.89,0,0,0-2.29,16.75c4.51,15.72,6.16,34.15-.32,39.87-3.7,3.25-10.91,4-17.38,4.51l-.77,0V25.88h-.08c0-.53.08-1.07.08-1.61a24.27,24.27,0,1,0-48.54,0c0,.54,0,1.08.09,1.61h-.09V149l-1.14-.06c-6.6-.48-13.95-1.26-17.72-4.51-6.61-5.72-4.93-24.15-.33-39.87a20.51,20.51,0,0,0-2.34-16.75A16.56,16.56,0,0,0,179.06,80c-7.35,0-13.81,5.22-16.08,13-2.65,9.07-5.79,22.87-5.67,37.1.19,22.17,8.26,34.95,15,41.76C182.78,182.41,196.48,185,205.89,186c2.77.29,5.6.52,8.47.68v86c15.91,1.16,32.25-3.89,48.54-3.38V127.66c2.69-.16,5.36-.38,8-.66,9.22-1,22.66-3.59,32.92-14.15,6.61-6.81,14.53-19.59,14.72-41.76C318.62,56.86,315.54,43.06,312.94,34Z" />
          </g>
        </g>
      </svg>
    </div>
  </ng-template>


	<app-overlay *ngIf="displayDrawer" [title]="'New Journey'" (closeOverlay)="displayDrawer=false">
		<journey-input (newDataLogged)="onNewDataLogged($event)" [journey]="currJourney"></journey-input>
	</app-overlay>
</div>
