.journey-container {
  --spanning-line-height: 40px;
}

.view-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.spanning-content {
  height: var(--spanning-line-height);
}

.header {
  position: sticky;
  top: 0;
  margin-top: 0;
  padding: 10px 0;
  background-color: var(--bg);
  z-index: 1;
}

.spanning-content h2 {
  color: var(--titles-primary);
  margin: 0;
  line-height: var(--spanning-line-height);
}

div.blurb, div.blurb.spanning-content {
  margin: 0;
  margin-bottom: 30px;
}

mat-drawer-container {
  background: none;
  min-height: 94vh;
}

mat-drawer {
  min-width: 350px;
  background-color: var(--element-bg);
}

.mat-drawer-inner-container {
  position: relative;
}

.journey-container {
  text-align: center;
}

.add-btn {
  line-height: 30px;
}

.add-btn mat-icon {
  line-height: 30px;
  font-weight: 500;
  font-size: 16pt;
}

.journey-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
  justify-items: center;
  margin-top: 10px;
}

.journey-item {
  grid-column-start: auto;
  grid-row-start: auto;
  margin: 20px;
}

.remove {
  animation: delete 0.5s ease-in-out;
}

slider-container {
  height: 100%;
  display: flex;
  perspective: 1000px;
}

slider-container .journey-item {
  opacity: 0.7;
  transition: all 0.3s ease-in;
  border-radius: 25px;
}

slider-container .journey-item.current {
  transform: scale(1.15);
  z-index: 5;
  opacity: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  pointer-events: inherit;
}

@media screen and (max-width: 768px) {
  .spanning-content {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .view-container {
    padding: 0 15px;
  }
  .journey-item {
    margin: 0;
  }

  .add-btn {
    padding: 0 5px;
  }
}

@keyframes delete {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}